<{assign var="page_title" value="发送消息"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
     <div class="hint">（提示：带<font class="red"> * </font>号的为必填项）</div>
	  <form name="sendmsgfrm" action="pms.php" method="post">
	  <input type="hidden" name="formhash" value="<{$formhash}>">
       <table class="offer_info_content">
          <tr>
            <th class="circle_left"><font color="#FF6600">*</font>　发送给：</th>
             <td class="circle_right"><input name="to" type="text" id="To" size="30" value="<{$item.to}>">(发送给对方的会员用户名)</td>
          </tr>
          <tr>
            <th> <font color="#FF6600">*</font>　主　题：</th>
            <td><input name="pms[title]" type="text" id="title" size="30" value=""></td>
          </tr>
          <tr>
             <th class="circle_bottomleft"><font color="#FF6600">*</font>　内　容：</th>
             <td class="circle_bottomright"><textarea name="pms[content]" cols="50" rows="6" wrap="VIRTUAL"></textarea></td>
          </tr>
           
        </table>
        <table class="trade_line">
          <tr>
             <td height="1" background="images/index_trade_line.gif"></td>
          </tr>
         
        <tr>
          <td height="40" align="center"><br>
              <input name="send" type=submit id="Send" value=" 发 送 ">&nbsp;&nbsp;<input name=reset type=reset id="reset" value=" 取 消 "></td>
        </tr>
      </table>
	  </form>
 </div>
 </div> 
<{include file="footer.html"}>
