/* CSS Document */
body {font-size:12px;color:#000000;}

a:link,a:visited,a:active {color:#000000;text-decoration:none;}
a:hover {color:#000000;text-decoration:underline;}


.f1 {font-size:14px;color:#FFFFFF;}
.f1 a:link,.f1 a:visited,.f1 a:active {color:#ffffff;text-decoration:none;}
.f1 a:hover {color:#ffffff;text-decoration:underline;}
.f2 {font-size:36px;color:#FFFFFF;font-weight:bold;}
.f3 {font-size:12px;color:#E16900;}
.f3 a:link,.f3 a:visited,.f3 a:active {color:#E16900;text-decoration:none;}
.f3 a:hover {color:#E16900;text-decoration:underline;}
.f4 {color:#686868;font-size:12px;}
.f4 a:link,.f4 a:visited,.f4 a:active {color:#686868;text-decoration:none;}
.f4 a:hover {color:#E16900;text-decoration:underline;}
.f5 {
font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#686868;}
.td1 {border-bottom:1px solid #DCDCDD;}

.f6 {color:#F8C8A8;}
.f6 a:link,.f6 a:visited,.f6 a:active {color:#F8C8A8;text-decoration:none;}
.f6 a:hover {color:#F8C8A8;text-decoration:underline;}