<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
</head>

<body leftmargin="10" topmargin="10">
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide"><tr>
  <td><div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">控制台</a>&nbsp;&raquo;<a href="industry.php"> 公告管理</a>&nbsp;&raquo;&nbsp;
      <{$ActionType}>
      行业类别</div></td>
</tr></table>
		  <form name="industryaddfrm" action="industry.php?action=mod" method="post">
		  <{if $smarty.get.id!=""}><input type="hidden" name="id" value="<{$smarty.get.id}>"><{/if}>
        <table width="100%"  border="0" cellpadding="8" cellspacing="1" class="tableborder">
		 <tr class="header">
		  <td colspan="2">行业类别</td>
		</tr>
         <tr>
            <td align="center" class="altbg1">父 类 别:
            <td class="altbg2"><select name="parentid" id="parentid">
              <option value="0">根类别</option>
			  <{$ParentIndustryOptions}>
            </select></td>
          </tr>
		  <{if $smarty.get.id!=""}>
          <tr>
            <td align="center" class="altbg1">名 称：</td>
			<td class="altbg2"><input name="indname" type="text" id="indname" value="<{$SortInfo.Name}>"></td>
          </tr>
		  <{else}>
          <tr class="altbg1">
            <td align="center">名 称：<a href="#" onClick="newnode = $('addrain').firstChild.cloneNode(true);  $('addrainmore').appendChild(newnode)">[+]</a></td>
			<td class="altbg2"><input name="indname[]" type="text" value=""></td>
          </tr>
		<tbody id="addrain" style="display: none;">
		<tr class="altbg1">
		<td class="altbg1" align="center"><div style="color: #00FF66">名称:</div></td>
		<td class="altbg2"><input name="indname[]" type="text" value=""></td>
		</tr>
		</tbody>
		<tbody id="addrainmore"></tbody>
		  <{/if}>
          <tr>
            <td align="center" class="altbg1">是否作为市场库分类？
            <td class="altbg2"><{html_radios name="industry[ib]" options=$ShowIndex checked=$SortInfo.IndustryIb|default:0 separator=""}></td>
          </tr>
          <tr>
            <td class="altbg1" align="center">是否显示在各大栏目首页？
            <td class="altbg2"><{html_radios name="industry[ia]" options=$ShowIndex checked=$SortInfo.IndustryIa|default:0 separator=""}></td>
          </tr>
          <tr>
            <td colspan="2" align="center"><table border="0" cellpadding="5" cellspacing="0" class="button">
                <tr>
                  <td><input  name="save" type="submit" id="save" value=" 保存 " class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"></td>
                  <td><input  name="reset" type="reset" id="reset" value="取消" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"></td>
                </tr>
              </table>
          </tr>
        </table>
      </form></td></tr></table>
<br /><br />
</body>
</html>

