<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>控制台_<{$sitetitle}></title>
<link href="<{$tpl_img_path}>admin/admincp.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/prototype.js"></script>
<style type="text/css">
.input150{
	background-image: url(<{$tpl_img_path}>admin/bg_input150.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 150px;
	border: 1px solid #3B92D5;
	padding:3px 4px 0;
}
.input300{
	background-image: url(<{$tpl_img_path}>admin/bg_input150.gif);
	background-repeat: no-repeat;
	height: 17px;
	width: 150px;
	border: 1px solid #3B92D5;
	padding:3px 4px 0;
}
</style>
<script language="JavaScript">
function fEvent(sType,oInput){
	switch (sType){
		case "focus" :
			oInput.isfocus = true;
		case "mouseover" :
			oInput.style.borderColor = '#CC0033';
			break;
		case "blur" :
			oInput.isfocus = false;
		case "mouseout" :
			if(!oInput.isfocus){
				oInput.style.borderColor='#84a1bd';
			}
			break;
	}
}
</script>
</head>

<body leftmargin="10" topmargin="10" onkeydown="refreshmainframe(event)">
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td>
<!-- 位置设置 -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide">
<tr>
<td><a href="#" onClick="parent.main.location='home.php';return false;">系统设置首页</a>&raquo;<{$CurrentPos}></td>
</tr>
</table>
<!-- :~位置设置 -->
<!-- 访问设置 -->
<form name="basicfrm" action="./setting.php" method="post">
<input type="hidden" name="u[lastbackup]" value="<{$smarty.now}>" />
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header">
<td colspan="2">邮件设置<a href="#" onclick="collapse_change('1')"><img id="menuimg_1" src="<{$tpl_img_path}>admin/menu_reduce.gif" border="0" style="float: right; margin-top: -12px; margin-right: 8px;"></a></td>
</tr>
<tbody id="menu_1" style="display: yes">
<tr>
  <td class="altbg1"><strong>邮件发送方式:</strong>
  <br />设置是否允许游客注册成为网站会员，您可以根据安全性能选择注册方式</td>
  <td class="altbg2">通过 PHP 函数的 sendmail 发送(推荐此方式)：<input type="radio" name="u[mail_sendtype]" id="mail_sendtype1" value="1" <{if $U.MAIL_SENDTYPE=="1"}>checked="checked"<{/if}> onclick="$('smtp_set').toggle();" />
  <br />
  通过 SOCKET 连接 SMTP 服务器发送(支持 ESMTP 验证)：<input type="radio" name="u[mail_sendtype]" id="mail_sendtype2" value="2" <{if $U.MAIL_SENDTYPE=="2"}>checked="checked"<{/if}> onclick="$('smtp_set').toggle();"  />
  </td>
</tr>
<tbody id="smtp_set" style="display:<{if $U.MAIL_SENDTYPE=="1"}>none;<{/if}>">
<tr>
  <td class="altbg1"><strong>SMTP 服务器:</strong><br /></td>
  <td class="altbg2"><input type="text" name="u[smtp_servername]" value="<{$U.SMTP_SERVERNAME|default:'smtp.163.com'}>"  class="input150" onMouseOver="fEvent('mouseover',this)" onFocus="fEvent('focus',this)" onBlur="fEvent('blur',this)" onMouseOut="fEvent('mouseout',this)"/</td>
</tr>
<tr>
  <td class="altbg1"><strong>SMTP 端口:</strong></td>
  <td class="altbg2"><input type="text" name="u[smtp_port]" value="<{$U.SMTP_PORT|default:'25'}>"  class="input150" onMouseOver="fEvent('mouseover',this)" onFocus="fEvent('focus',this)" onBlur="fEvent('blur',this)" onMouseOut="fEvent('mouseout',this)"/></td>
</tr>
<tr>
  <td class="altbg1"><strong>SMTP 服务器要求身份验证:</strong></td>
  <td class="altbg2"><input type="radio" name="u[smtp_ifauth]" id="smtp_ifauth1" value="1" <{if $U.SMTP_IFAUTH=="1"}>checked="checked"<{/if}> />是<input type="radio" name="u[smtp_ifauth]" id="smtp_ifauth2" value="0" <{if $U.SMTP_IFAUTH=="0"}>checked="checked"<{/if}> />否</td>
</tr>
<tr>
  <td class="altbg1"><strong>发信人邮件地址:</strong></td>
  <td class="altbg2"><input type="text" name="u[mail_from]" value="<{$U.MAIL_FROM|default:'PHPB2B <username@163.com>'}>"  class="input150" onMouseOver="fEvent('mouseover',this)" onFocus="fEvent('focus',this)" onBlur="fEvent('blur',this)" onMouseOut="fEvent('mouseout',this)"/></td>
</tr>
<tr>
  <td class="altbg1"><strong>SMTP 身份验证用户名:</strong></td>
  <td class="altbg2"><input name="u[smtp_username]" type="text" id="smtp_username" size="30" value="<{$U.SMTP_USERNAME|default:'username'}>"  class="input150" onmouseover="fEvent('mouseover',this)" onfocus="fEvent('focus',this)" onblur="fEvent('blur',this)" onmouseout="fEvent('mouseout',this)" /></td>
</tr>
<tr>
  <td class="altbg1"><strong>SMTP 身份验证密码:</strong></td>
  <td class="altbg2"><input name="u[smtp_userpass]" type="text" id="smtp_userpass" size="30" value="<{$U.SMTP_USERPASS|default:'password'}>"  class="input150" onmouseover="fEvent('mouseover',this)" onfocus="fEvent('focus',this)" onblur="fEvent('blur',this)" onmouseout="fEvent('mouseout',this)" /></td>
</tr>
</tbody>
</tbody>
<tr>
  <td colspan="2" valign="top" class="altbg1"><center><input type="submit" name="savemail" value="保存" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'">
</center></td>
  </tr>
</table>
<!-- :~访问设置 -->
<{$editor}>
</form>
</td></tr>
</table>
</body>
</html>
