<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>企业招聘_<{$cinfo.CompanyName}>_<{$sitetitle}></title>
<style type="text/css">
<!--
body {
	margin-top: 3px;
}
-->
</style>
<link href="<{$I_PATH}>css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<{include file="$TplPath/top.html"}>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td align="center"><table width="778" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="7">&nbsp;</td>
        <td width="538" valign="top" style="padding-bottom:5px;padding-top:5px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="55"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left"><img src="<{$I_PATH}>images/cptu.gif" width="41" height="36" /><img src="<{$I_PATH}>images/hr.gif" width="81" height="20" hspace="5" /></td>
                  </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#F8F8F8" style="padding-top:5px;">
            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20" align="center" valign="bottom"><strong>招聘信息</strong></td></tr>
          <tr>
            <td height="20" align="center" valign="middle">
          <img src="<{$I_PATH}>images/job2.gif" width="500" height="1" /></td></tr>
          <tr><td align="left" valign="top" style="WORD-BREAK: break-all"><div id="divDescription"></div></td></tr>
          <tr>
            <td align="center" valign="top">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td align="center" valign="top">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0"><tr>
					  <td height="5" align="center" valign="middle"></td></tr>
					  <!--招聘信息-->
					  <{foreach from=$CompanyJobs name=companyjob item=j}>
					  <tr bgcolor="<{cycle values="#F3F3F3,#ffffff"}>">
					  <td height="25" align="left">
					  <br>
					  <h5><a name="<{$j.id}>"><{$j.name|truncate:25|strip_tags}></h5>
					  <br>工作地点：<{$j.work_station|strip_tags}>                
					  <br />
					  薪水范围:<{$Salary[$j.salary_id]}>                
					  <br>工作类型:<{$Worktype[$j.worktype_id]}>
					  <br>发布时间:<{$j.created|date_format:"%Y-%m-%d"}>                
					  <br>到期时间:<{$j.expire_time|date_format:"%Y-%m-%d"}>
					  <br>职位描述:<{$j.content|strip_tags}>
					  </td>
					  </tr>
					  <{/foreach}>
				</table>				
				</td>
		      </tr>
              </table>		    
		    </td>
	        </tr>
          </table>
            </td>
          </tr>
        </table></td>
        <td align="right" valign="top"><{include file="$TplPath/menu.html"}></td>
      </tr>
    </table></td>
</tr>
<{include file="$TplPath/foot.html"}>
</body>
</html>
