<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 用户中心 &raquo; 会员</p>
</div>
<div id="rightTop"> 
    <h3>会员</h3> 
    <ul class="subnav">
		<li><a class="btn1" href="member.php">管理</a></li>
        <li><a href="member.php?do=edit">添加/编辑</a></li>
        <li><a href="membertype.php">分类</a></li>        
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontr"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
        <input type="hidden" name="do" value="search" />
             <div> 
				用户名 : <input class="queryInput" type="text" name="member[name]" id="member_name" value="<{$smarty.get.member.name}>" /> 
                <select class="querySelect" name="groupid" id="Groupid">
				<option value="0">会员类型</option>
				<{html_options options=$MembergroupOptions selected=$smarty.get.groupid}>
				</select>
				<select name="member[status]" id="member_status">
				<option value="0">审核状态</option>
				<{html_options options=$MemberStatus selected=$smarty.get.member.status}>
				</select>
                <input type="submit" name="search" id="Search" class="formbtn" value="查询" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <input type="hidden" name="id" value="<{$smarty.get.id}>" />
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区" id="dataZone">
		<thead>
			<tr class="tatr1">
			  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
			  <td><label for="idAll">用户名</label></td>
			  <td></td>
			  <td>审核状态</td>
			  <td>全名</td>
			  <td>认证类型</td>
			  <td><span>会员组</span></td>
			  <td>积分</td>
			  <td><span>信用指数</span></td>
			  <td class="handler">操作</td>
			</tr>
		</thead>
		<tbody>
			<{foreach from=$Items item=item}>
			<tr class="tatr2">
			  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
			  <td><label for="item_<{$item.id}>"><{$item.username}></label></td>
			  <td><{if $item.pubdate>$today_timestamp}>&nbsp;<img src="images/new.gif" /><{/if}></td>
			  <td><{$MemberStatus[$item.status]}></td>
			  <td><{$item.NickName}></td>
			  <td><{$item.trust_image}></td>
			  <td><a href="member.php?do=search&groupid=<{$item.membergroup_id}>"><img src="../images/group/<{$Membergroups[$item.membergroup_id].avatar}>" border="0" alt="<{$Membergroups[$item.membergroup_id].name}>" /></a></td>
			  <td><{$item.points}></td>
			  <td><{$item.credits}></td>
			  <td class="handler">
              <ul id="handler_icon">
                <li><a class="btn_delete" href="member.php?id=<{$item.id}>&do=del<{$addParams}>" title="删除">删除</a></li>
                <li><a class="btn_edit" href="member.php?do=edit&id=<{$item.id}><{$addParams}>" title="编辑">编辑</a></li>
              </ul>
              </td>
			</tr>
			<{foreachelse}>
			<tr class="no_data info">
			  <td colspan="10">没有符合条件的记录</td>
			</tr>
			<{/foreach}>
		</tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">
		<input type="submit" name="del" value="删除" class="formbtn batchButton"/>
		<select name="pb_action" id="PbAction" class="actionsel" onchange="javascript:document.list_frm.submit()">
		<option value="0">请选择操作</option>
		<optgroup label="审核状态">
		<option value="status_1">审核通过</option>
		<option value="status_3">审核不通过</option>
		<option value="status_0">无效</option>
		<option value="status_4">禁止</option>
		<option value="status_2">等待审核</option>
		</optgroup>
		<optgroup label="设置会员类型为">
		<{foreach from=$Membertypes name=usertype item=item1 key=key1}>
		<option value="membertype_<{$key1}>"><{$item1}></option>
		<{/foreach}>
		</optgroup>
		<optgroup label="设置会员组为">
		<{foreach from=$MembergroupOptions name=MembergroupOptions item=item2 key=key2}>
		<option value="membergroup_<{$key2}>"><{$item2}></option>
		<{/foreach}>
		</optgroup>
		</select>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>