<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 信息管理 &raquo; 标签库</p>
</div>
<div id="rightTop"> 
    <h3>标签库</h3> 
    <ul class="subnav">
		<li><a href="tag.php">管理</a></li>
        <li><a class="btn1" href="tag.php?do=edit">编辑</a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="tag.php" id="EditFrm" name="edit_frm">
  	<input type="hidden" name="page" value="<{$smarty.get.page}>" />
	<input type="hidden" name="id" value="<{$item.id}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 标题：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[tag][name]" value="<{$item.name}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15">是否有效：</th>
        <td class="paddingT15 wordSpacing5">          
		<{html_radios name="data[tag][closed]" options=$Status checked=$item.closed|default:"1" separator=" "}>        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存发布" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>