<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="<{$JS_PATH}>js/prototype.js"></script>
<script src="<{$JS_PATH}>js/popcalendar.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
</head>

<body leftmargin="10" topmargin="10">
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide"><tr>
  <td><div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">Console</a>&nbsp;&raquo; Information Management</div></td>
</tr></table>
<div style="text-align:center;color:red;"><{$nonewstype}></div>
      <form name="editfrm" method="post" action="<{$smarty.server.PHP_SELF}>" enctype="multipart/form-data">
        <input type="hidden" name="id" value="<{$smarty.get.id}>">
        <input type="hidden" name="oldimgname" value="<{$n.NewsPicture}>">
        <table width="100%"  border="0" cellpadding="8" cellspacing="1" class="tableborder">
		<tr class="header">
		  <td colspan="4">Information</td>
		</tr>
          <tr>
            <td align="center" class="altbg1">Headlines                            
            <td class="altbg2"><input name=news[title] type="Text" id="news[title]" value="<{$n.NewsTitle}>"></td>
            <td align="center" class="altbg1">Keywords</td>
            <td class="altbg2"><input name=news[keywords] type="Text" id="news[source]" value="<{$n.NewsKeywords}>"></td>
          </tr>
          <tr>
            <td align="center" class="altbg1">News Categories 
            <td class="altbg2"><select name="news[type_id]" id="newstype_id">
                                        <{html_options options=$AllParents selected=$n.NewsTypeId|default:$smarty.get.sid}>
                                      </select>                                    </td>
            <td align="center" class="altbg1">Entry Time</td>
            <td class="altbg2"><input type="text" name="creattime" size="10" value='<{$n.NewsCreated|date_format:"%Y-%m-%d"|default:$smarty.now|date_format:"%Y-%m-%d"}>' id="date2" readonly>
<a href="javascript:;" onclick='showCalendar(this, $("date2"), "yyyy-mmmm-dd",null,0,-1,-1)'><img src="<{$tpl_img_path}>calendar.gif" border="0" alt=""></a></td>
          </tr>
          <tr>            <td class="altbg1" align="center">Source 
            <td class="altbg2">
                <input name=news[source] type="Text" id="source" value="<{$n.NewsSource}>"> 
            
            </td>
            <td class="altbg1" align="center">Views&nbsp; 
            <td class="altbg2"><input name=news[clicked] type="Text" id="news[clicked]" Value="<{$n.NewsClicked|default:"1"}>" size="12"></td>
          </tr>
          <tr>            <td class="altbg1" align="center">Read Permissions 
            <td class="altbg2">
			<select multiple name="require_membertype[]" id="NewsRequireMembertype">
			<option value="0">Open</option>
			<{foreach from=$Membertypes name=membertype key=key item=item}>
			<option value="<{$key}>"><{$item}></option>
			<{/foreach}>
			</select>(Hold down the Ctrl key to multiple-choice, if do not want to change Do not select)</td>
            <td class="altbg1" align="center">Top of the page to enlarge</td>
            <td class="altbg2"><input type="checkbox" name="set_to_swf" id="set_to_swf" /></td>
          </tr>
          
          
          <tr>
            <td width=15% align="center" valign="top" class="altbg1"><br>
              News content 
            <td colspan="3" class="altbg2" border=1 ><{$FCK_NEWSCONTENT}></td>
          </tr>
          <tr>
            <td align="center" class="altbg1">pictures</td>
            <td colspan="3" class="altbg2"><img id="uploadpic" src="<{if $n.NewsPicture}><{$attachment_dir}><{$n.NewsPicture}><{else}>../data/default/big.jpg<{/if}>"  border="0" width="400" height="250" alt="看到这个,表明你的图片出错了!">&nbsp;</td>
          </tr>
          
          <tr>
            <td align="center" class="altbg1">Upload pictures</td>
            <td colspan="3" class="altbg2"><input type="file" name="pic" id="uploadfile" onChange="preview()" size=25>              
            (Photo requirements: file is less than 200K, JPG format or GIF format available)</td>
          </tr>
          
          <tr>
            <td colspan="4" align="center">
			<table border="0" cellpadding="5" cellspacing="0" class="button">
                <tr>
                  <td><input  name=save type=submit id="save" value=" Save " class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"></td>
                  <td><input  name=reset type=reset id="reset" value=" Cancel" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"></td>
                </tr>
          </table>          </tr>
        </table>
      </form></td></tr></table>
<br /><br />
</body>
</html>

