<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>Console-<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script src="<{$JS_PATH}>js/prototype.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
<style type="text/css">
/*Tooltips*/
.tooltips{
position:relative; /*这个是关键*/
z-index:2;
}
.tooltips:hover{
z-index:3;
background:none; /*没有这个在IE中不可用*/
}
.tooltips span{
display: none;
}
.tooltips:hover span{ /*span 标签仅在 :hover 状态时显示*/
display:block;
position:absolute;
top:21px;
left:9px;
width:25em;
border:1px solid black;
background-color:#ccFFFF;
padding: 3px;
color:black;
}
</style>
</head>

<body>
<a name="top" />
<!-- 位置 -->
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide">
<tr><td>
<div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">Console</a>&nbsp;&raquo;&nbsp;企业网站模板管理</div></td></tr>
</table>
<br />
<!-- 标题 -->
<form name="listfrm" action="" method="post">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header" align="center"><td><input type="checkbox" name="idAll" onClick="uaCheckAll(this, 'id[]')" title="Select All"></td>
<td>Template another name</td>
<td>Statistics</td>
<td><div style="float:right; margin-right:4px; padding-bottom:9px"><img onClick="collapse_change('1')" id="menuimg_1" src="./images/menu_reduce.gif" border="0" style="vertical-align:middle;"/></div></td></tr>
<tbody id="menu_1" style="display: yes">
<{foreach from=$TempletList name=templetlist item=t}>
<tr align="center" bgcolor="<{cycle values=#eeeeee,#ffffff}>">
<td><input type="checkbox" name="id[]" value="<{$t.TempletId}>" onClick="uaCheckItem(this, 'idAll')"></td>
<td><a class="tooltips" href="#"><{$t.TempletTitle}><span><img src="../templates/member/<{$t.TempletTitle}>/screenshot.jpg" border="0" /></span></a></td>
<td><{$t.CompanyStyleStat}>个</td>
<td><a href="./templet.php?id=<{$t.TempletId}>&action=mod"><img src="<{$tpl_img_path}>admin/mod.gif" border="0" alt="Changes"></a>  <a href="./templet.php?id=<{$t.TempletId}>&action=del"><img src="<{$tpl_img_path}>admin/delete.gif" border="0" alt="Delete"></a></td>
</tr>
<{foreachelse}>
<tr bgcolor="#ffffff">
<td colspan="5" align="center"><strong>There is no data on</strong></td>
</tr>
<{/foreach}>
</tbody>
<!-- 分页 -->
<tr align="center"><td class="altbg1" colspan="5"><{$ByPages}></td></tr>
<tr class="header" bgcolor="#ffffff">
<td colspan="3"><input class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'" type="submit" name="del" value="Delete"></td>
<td><div align="center"><a title="Return top" href="#top"><img id="go_top" src="./images/go_top.gif" border="0" style="vertical-align:middle;"/></a></div></td>
</tr>
</table>
</form>
</td>
</tr>
</table>
<!-- 快速添加 -->
<form name="quickaddfrm" action="<{$smarty.server.PHP_SELF}>" method="post">
<table width="98%" border="0" cellpadding="0" cellspacing="0" class="tableborder" align="center">
<tr class="header"><td colspan="5"><div align="left">Quick Add</div></td></tr>
<tr>
	<td><div align="right">Template Name</div></td>
	<td><input name="templet[title]" type="text" id="templet_title"></td>
	<td><div align="right">Preview Image Address</div></td>
	<td><input name="templet[picture]" type="text" id="templet_picture"></td>
	<td><input name="save" type="submit" id="save" value="Add" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"></td>
  </tr>
</table>
</form>
<!-- 结束new -->
</body>
</html>
