			<p>
				<a href="<{$SiteUrl}>news/detail.php?id=1"><img src="<{$tpl_img_path}>default/cp_133x95.jpg" alt="" class="c_b padd0" /></a>
				<a href="<{$SiteUrl}>news/detail.php?id=1">如果说有线数字电视整转的进程可以概括为：“苏州是尝试，青岛是突破，杭州是展示”的话...</a>
			</p>
			<div>
				<a href="<{$SiteUrl}>news/detail.php?id=2"><img src="<{$tpl_img_path}>default/cp_157x45.jpg" alt="" class="c_b padd0" /></a>
				<a href="<{$SiteUrl}>news/detail.php?id=3"><img src="<{$tpl_img_path}>default/cp_157x45_1.jpg" alt="" class="c_b padd0" /></a>
				<ul>
					<li><a href="<{$SiteUrl}>news/detail.php?id=4" title="《旅伴》:立足于商旅,归结于伴" class="a">《旅伴》:立足于商旅,归结</a></li>
					<li><a href="<{$SiteUrl}>news/detail.php?id=5" title="穆虹：新媒体颠覆的是传统营销" class="a">穆虹：新媒体颠覆的是传</a></li>
					<li><a href="<{$SiteUrl}>news/detail.php?id=6" title="奇良海德：谱写应用数码技术新篇章" class="a">奇良海德：谱写应用数码</a></li>
					<li><a href="<{$SiteUrl}>news/detail.php?id=7" title="天津春发：从中国制造到中国创造" class="a">天津春发：从中国制造到</a></li>
				</ul>
			</div>
