<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>市场库&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
<{$xajax_javascript}>
<script language="javascript">
xajax_rebuildHTML("market/index.php");
</script>
</head>

<body>
<{assign var="market_li" value="cor over"}>
<{include file="`$ThemeName`/element.header.html"}>
<div class="wd">
	<div class="w_left1">
		<div class="sck_ss">
			<form name="market_s_frm" action="<{$SiteUrl}>market/list.php" method="get">
				<p class="sck_p1"></p>
				<h2>搜索市场：</h2>
				<input type="text" name="market[keyword]" value="" id="" class="sck_in1" onmouseover="this.select();" />
				<input type="submit" value="搜索" name="search" class="f14 str sck_in2" />
				<p class="sck_p2"></p>
			</form>
		</div>
		<div class="clear9"></div>
		<div class="bt cpk_bt2 gs_bt3"><h2>地区分类</h2><p>&nbsp;</p></div>
		<div class="cpk_c4">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
			<table cellSpacing=0 cellPadding=0 border=0>
              <tbody>
                <tr>
                  <td width="26%" height=53>
				  <table height=348 cellSpacing=0 cellPadding=0 width=143 border=0>
                      <tbody>
                        <tr>
                          <td width=46 height=18>&nbsp;</td>
                          <td vAlign=top width=97><table cellSpacing=0 cellPadding=0 width="100%" 
border=0>
                              <tbody>
                                <tr>
                                  <td height=242>&nbsp;</td>
                                </tr>
                                <tr>
                                  <td height=81 vAlign=top class="lh15"><A class=link12_red 
                              href="<{$UrlContainer.common}>market/list.php">查看全部市场？</a></br>
                                    市&nbsp;场：<font 
                              color=#ff3300><{$MarketAmount|number_format:""}></font> 家</br>                                    
							  </br></td>
                                </tr>
                              </tbody>
                          </table></td>
                        </tr>
                      </tbody>
                  </table></td>
                  <td width="74%" valign="top"><img 
                  src="<{$tpl_img_path}>default/china.jpg" alt="" width=385 height=316 border=0 
                  useMap=#Map2></td>
                </tr>
              </tbody>
            </table>
              <MAP name="Map2">
                <area shape="RECT" coords="258,28,304,43" href="<{$UrlContainer.common}>market/list.php?filter=province,id,5" alt="内蒙古">
                <area shape="RECT" coords="333,45,370,61" href="<{$UrlContainer.common}>market/list.php?filter=province,id,8" alt="黑龙江">
                <area shape="RECT" coords="343,73,379,89" href="<{$UrlContainer.common}>market/list.php?filter=province,id,7" alt="吉林">
                <area shape="RECT" coords="243,93,279,107" href="<{$UrlContainer.common}>market/list.php?filter=province,id,3" alt="河北">
                <area shape="RECT" coords="327,98,361,114" href="<{$UrlContainer.common}>market/list.php?filter=province,id,6" alt="辽宁">
                <area shape="RECT" coords="290,128,325,141" href="<{$UrlContainer.common}>market/list.php?filter=province,id,3" alt="天津">
                <area shape="RECT" coords="294,148,329,163" href="<{$UrlContainer.common}>market/list.php?filter=province,id,15" alt="山东">
                <area shape="RECT" coords="285,106,319,119" href="<{$UrlContainer.common}>market/list.php?filter=province,id,1" alt="北京">
                <area shape="RECT" coords="146,110,185,125" href="<{$UrlContainer.common}>market/list.php?filter=province,id,28" alt="甘肃">
                <area shape="RECT" coords="123,145,162,171" href="<{$UrlContainer.common}>market/list.php?filter=province,id,29" alt="青海">
                <area shape="RECT" coords="317,213,355,229" href="<{$UrlContainer.common}>market/list.php?filter=province,id,11" alt="浙江">
                <area shape="RECT" coords="199,138,234,155" href="<{$UrlContainer.common}>market/list.php?filter=province,id,30" alt="宁夏">
                <area shape="RECT" coords="227,157,260,172" href="<{$UrlContainer.common}>market/list.php?filter=province,id,31" alt="陕西">
                <area shape="RECT" coords="248,128,280,144" href="<{$UrlContainer.common}>market/list.php?filter=province,id,4" alt="山西">
                <area shape="RECT" coords="310,171,348,186" href="<{$UrlContainer.common}>market/list.php?filter=province,id,10" alt="江苏">
                <area shape="RECT" coords="327,190,364,208" href="<{$UrlContainer.common}>market/list.php?filter=province,id,9" alt="上海">
                <area shape="RECT" coords="280,211,315,226" href="<{$UrlContainer.common}>market/list.php?filter=province,id,12" alt="江西">
                <area shape="RECT" coords="282,192,319,208" href="<{$UrlContainer.common}>market/list.php?filter=province,id,12" alt="安徽">
                <area shape="RECT" coords="238,192,276,207" href="<{$UrlContainer.common}>market/list.php?filter=province,id,17" alt="湖北">
                <area shape="RECT" coords="268,171,301,185" href="<{$UrlContainer.common}>market/list.php?filter=province,id,16" alt="河南">
                <area shape="RECT" coords="297,235,334,250" href="<{$UrlContainer.common}>market/list.php?filter=province,id,13" alt="福建">
                <area shape="RECT" coords="247,225,281,240" href="<{$UrlContainer.common}>market/list.php?filter=province,id,18" alt="湖南">
                <area shape="RECT" coords="206,214,242,228" href="<{$UrlContainer.common}>market/list.php?filter=province,id,22" alt="重庆">
                <area shape="RECT" coords="167,198,199,217" href="<{$UrlContainer.common}>market/list.php?filter=province,id,23" alt="四川">
                <area shape="RECT" coords="142,256,179,271" href="<{$UrlContainer.common}>market/list.php?filter=province,id,25" alt="云南">
                <area shape="RECT" coords="184,237,218,253" href="<{$UrlContainer.common}>market/list.php?filter=province,id,24" alt="贵州">
                <area shape="RECT" coords="229,252,260,268" href="<{$UrlContainer.common}>market/list.php?filter=province,id,20" alt="广西">
                <area shape="RECT" coords="265,252,299,266" href="<{$UrlContainer.common}>market/list.php?filter=province,id,19" alt="广东">
                <area shape="RECT" coords="332,259,362,274" href="<{$UrlContainer.common}>market/list.php?filter=province,id,32" alt="台湾">
                <area shape="RECT" coords="289,278,319,292" href="<{$UrlContainer.common}>market/list.php?filter=province,id,33" alt="香港">
                <area shape="RECT" coords="204,299,236,313" href="<{$UrlContainer.common}>market/list.php?filter=province,id,21" alt="海南">
                <area shape="RECT" coords="57,182,97,208" href="<{$UrlContainer.common}>market/list.php?filter=province,id,26">
                <area shape="RECT" coords="48,91,109,129" href="<{$UrlContainer.common}>market/list.php?filter=province,id,31" alt="新疆">
                <area shape="RECT" coords="236,278,268,291" href="<{$UrlContainer.common}>market/list.php?filter=province,id,34" alt="澳门">
              </MAP></td>
            <td>&nbsp;</td>
          </tr>
        </table>
		</div>
		<div class="clear9"></div>
		<a href="<{$UrlContainer.common}>market/add.php" class="sck_a1">我要增加市场信息</a><a href="<{$UrlContainer.user}>" class="sck_a1 sck_a2">我要加入市场库</a>
	</div>
	<div class="w_right1">
		<div class="cpk_t1"></div>
		<div class="cpk_c2 sck_tab1">
			<div class="bt cpk_bt1"><h2><a href="<{$UrlContainer.common}>market/list.php">最新市场库<font 
                              color=#ff3300><{$MarketAmount|number_format:""}></font> 家</a></h2><p class="padright10"><a href="<{$UrlContainer.common}>market/list.php">更多</a></p></div>
			<ul class="ul21">
				<{market max=13}>
			</ul>
		</div>
		<div class="clear9"></div>
		<div><img src="<{$tpl_img_path}>default/mpic2.jpg" alt="" width="230" height="95" /></div>
	</div>
</div>
<div class="clear9"></div>
<div class="wd">
	<div class="gs_tab4">
		<div class="bt gs_bt4"><h2><a href="<{$SiteUrl}>news/list.php?type_id=1"><{newstype id=1}></a></h2><p>&nbsp;</p></div>
		<div class="gs_c1 sck_tab4">
			<ul class="ul21 ula"><{news max=9 type_id=1}></ul>
		</div>
	</div>
	<div class="gs_tab5">
		<div class="sck_t1"></div>
		<div class="sck_tab5">
			<ul class="ula"><{offer showdate=n max=20 templet="offer_market"}></ul>
		</div>
	</div>
</div>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
