body,input,select,textarea{font-size:12px;font-family:Verdana,Arial,serif;}
body,form{margin:0px;height:100%;font-size:12px;color:#000000;background:#FFFFFF;}
input,select,textarea {font-size:12px;}
img{border:none;}
body{background:#dcdcdc url(images/bg.jpg) no-repeat top;text-align:center;}
a:link,a:visited{color:#0049d3;text-decoration:none;}
a:hover,a:active{color:#f70;text-decoration:underline;}
.ft { font-weight:bold; font-size:14px; line-height:22px;}
.errmsg { font-family:arial Bold,ו;color:red;background:#ccc; }
.input {background:transparent;border:1px solid #ffffff}
.emsg {text-align: left; width:400px; height:200px; margin:-100px 0px 0px -100px;position: absolute; top:50%; left:50%; color: #330000;font-size: 12pt; font-family: "Arial bold","Courier";}
h4 {
font-family: Arial, sans-serif;
font-size: 15px;
color: #000000;
display : inline;
}
.btn {
BORDER-RIGHT: #7b9ebd 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #7b9ebd 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#cecfde); BORDER-LEFT: #7b9ebd 1px solid; CURSOR: hand; COLOR: black; PADDING-TOP: 2px; BORDER-BOTTOM: #7b9ebd 1px solid
}