# BEGIN REWRITE
ErrorDocument 404 http://www.yourdomain.com/redirect.php?code=404
ErrorDocument 403 http://www.yourdomain.com/redirect.php?code=403
<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^(www.)?(?!/.|www|bbs|demo)(.*)\.yourdomain.com$
RewriteRule ^/?$ /%{HTTP_HOST}
RewriteRule ([^.]+)\.yourdomain.com(.*)$ /space.php?userid=$1
RewriteRule ^(.*)offer/detail/([0-9]+)\.html$ /offer/detail.php?id=$2 [QSA]
RewriteRule ^(.*)product/detail/([0-9]+)\.html$ /product/content.php?id=$2 [QSA]
RewriteRule ^(.*)news/detail/([0-9]+)\.html$ /news/detail.php?id=$2 [QSA]
RewriteRule ^(.*)market/detail/([0-9]+)\.html$ /market/detail.php?id=$2 [QSA]
RewriteRule ^(.*)announce/detail/([0-9]+)\.html$ /announce.php?id=$2 [QSA]
RewriteRule ^(.*)fair/detail/([0-9]+)\.html$ /fair/detail.php?id=$2 [QSA]
RewriteRule ^(.*)space/([a-zA-Z]+)/?$ /space.php?userid=$2 [QSA]
</IfModule>
# END REWRITE