<{assign var="page_title" value="`$page_title` - `$_help_center`"}>
<{assign var="nav_id" value="`$nav_id`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="container">
	<div class="contentbox">
		<p class="breadnav"><{$position}></p>
		<p class="whitespace"></p>
    <div class="content clearfix">
                <div class="fl help_l">
                    <p class="help_ltop">
                        <img src="<{$theme_img_path}>images/lbgt.jpg" class="fl" />
                        <img src="<{$theme_img_path}>images/rbgt.jpg" class="fr" />
                    </p>
                    <div class="help_lcont">
                        <div class="help_telborder">
                            <div class="help_tel mauto">
                                <img src="<{$theme_img_path}>images/helpcontbgl.jpg" class="fl" />
                                <img src="<{$theme_img_path}>images/helpcontbgr.jpg" class="fr" />
                                <div class="help_telcont"><{$_help_center}>
                                <p class="tar"><{$service_tel}></p>
                                </div>
                            </div>
                        </div>
                        <{foreach from=$Helptypes name=Helptypes item=helptype}>
                        <h2 class="tar helpbor_01"><a href="help/index.php?typeid=<{$helptype.id}>"><{$helptype.name}></a></h2>
                        <ul>
                            <{if $helptype.sub}>
                            <{foreach from=$helptype.sub name=sub_helptype item=sub_helptype}>
                            <li class="help_lcontnav"><a href="help/index.php?typeid=<{$sub_helptype.id}>"><{$sub_helptype.name}></a></li>
                            <{/foreach}>
                            <{/if}>
                        </ul>
                        <{/foreach}>
                    </div>
                    <div class="help_lcontnavs"></div>
                </div>
                <div class="fr help_r clearfix">
                    <div class="help_rtop"></div>
                    <div class="help_rcontbg">
                        
                        <form method="get" action="help/index.php" >
                        <input type="hidden" name="search" value="search"/>
                         <p class="help_rsearch">
                            <{$_search}><{$_help}><{$_colon}><input name="q" value="" type="text" /><input name="submit" value="" type="submit" class="help_rgo" />
                          </p>
                        </form>
                       
                        <p class="help_rbg">
                        <{foreach from=$Items name=helps item=item}>
                        <{$smarty.foreach.helps.iteration}>.<a href="help/detail.php?id=<{$item.id}>"><{$item.title}></a><br /> 
                        <{/foreach}>
                        </p>
                    </div>
                </div>
            </div>

	</div>
</div>
<{include file="`$ThemeName`/footer.html"}>