<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>产品库&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
<meta name ="keywords" content="产品库,行业产品库,行业分类">
<meta name="description" content="最新最全产品库尽在<{$sitename}>"> 
<{$xajax_javascript}>
<script language="javascript">
xajax_rebuildHTML("product/index.php");
</script>
</head>

<body>
<{assign var="product_li" value="cor over"}>
<{include file="`$ThemeName`/element.header.html"}>
<div class="wd">
	<div class="w_left1">
		<div class="cp_bor1">
			<p><{ad type_id=3}></p>
			<ul class="ul21">
			<{section name=ltprod loop=$LatestProducts}>
				<li class="li1"><a href="<{$UrlContainer.common}>product/content.php?id=<{$LatestProducts[ltprod].ID}>" title="<{$LatestProducts[ltprod].ProductName|strip_tags|truncate:10}>"><{$LatestProducts[ltprod].ProductName|strip_tags}></a></li>
			<{/section}>
			</ul>
		</div>
		<div class="cp_bor2"><{ad type_id=3}></div>
		<div class="clear9"></div>
		<div class="hyfl cpk_hyfl">
			<div class="bt in_bt6"><h2>行业分类</h2><p class="padright10 none"><a href="#" class="a">发布供求信息</a></p></div>
			<div class="hyfl_c"><{$IndustryList}></div>
		</div>
	</div>
	<div class="w_right1">
		<div class="cpk_t1"></div>
		<div class="cpk_c1">
			<p class="cpk_p1 f14 str"><a href="<{$UrlContainer.register}>">注册会员</a></p>
			<p class="cpk_p1 cpk_p2 f14 str"><a href="#">发布供求</a></p>
			<p class="cpk_p1 cpk_p3 f14 str"><a href="#">推广企业</a></p>
			<p class="cpk_p1 cpk_p4 f14 str"><a href="#">推广产品</a></p>
			<ul class="ul21"><marquee direction="left"  scrollamount="2" width="550">
      截止到 <span class="fontred"><{$smarty.now|date_format:"%H:%M"}></span>, <{$sitename}>拥有 <span class="fontred"><{$ProductAmount}></span> 
      条产品信息. 
      </marquee>
			</ul>
		</div>
		<div class="clear9"></div>
		<div class="cpk_t1"></div>
		<div class="cpk_c2">
			<div class="cpk_bt1"><h2><a href="<{$UrlContainer.common}>product/list.php">新增产品</a></h2></div>
			<ul class="ul21"><{product max=9}></ul>
		</div>
		<div class="clear9"></div>
		<div class="cpk_t1"></div>
		<div class="cpk_c3">
			<div class="cpk_bt1"><h2><a href="<{$UrlContainer.common}>product/list.php?type=commend">推荐产品</a></h2></div>
			<{section name=recprod loop=$RecommendProducts}>
			<p><a href="<{$UrlContainer.common}>product/content.php?id=<{$RecommendProducts[recprod].ID}>" title="<{$RecommendProducts[recprod].ProductName}>"><img src="<{$attachment_dir}><{$RecommendProducts[recprod].ProductPicture}>.small.jpg" alt="<{$RecommendProducts[recprod].ProductName}>" width="75" height="75" border="0" /></a></p>
			<{/section}>
		</div>
		<div class="clear9"></div>
		<div class="cpk_ad2"><img src="<{$tpl_img_path}>default/in_235x80.jpg" alt="" /></div>
	</div>
</div>
<div class="clear9"></div>
<div class="wd cpk_ad1"><{ad type_id=1}></div>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
