<{assign var="page_title" value="企业相册"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
      <div class="hint"><span class="btn_hint"><a href="album.php?do=edit" class="btn_publish">点击添加</a></span>你可以在这里上传你的营业执照、荣誉证书等 </div>               
     <table class="album" >
          <{foreach from=$Items item=item}>
          <tr bgcolor="<{cycle values="#CCFFCC,#ffffff"}>">
          <th><img src="<{$item.image}>" alt="" border="0" width="80" height="80" /></th>
          <td>
          <div id="certs" align="left">
            <ul>
            <li>标题：<{$item.title}></li>
            <li>描述:<{$item.description}></li>
            <li style="list-style:none"><a href="album.php?do=edit&id=<{$item.id}>">修改</a>&nbsp;<a href="album.php?do=del&id=<{$item.id}>">删除</a></li>
            </ul>
          </div>
          </td>
          </tr>
          <{foreachelse}>
          <tr><td colspan="2"><div align="center">目前没有任何数据</div></td></tr>
          <{/foreach}>
      </table>				
     <table class="room_pages">
          <tr>
            <td><{$ByPages}></td>
          </tr>
     </table> 
</div>
</div>
<{include file="footer.html"}>