<div class="footer">
  <div class="footer_content">
   <p>针对<{$site_name}>商务室您有任何使用问题和建议，您可以发Email到：<{mailto text="`$service_tel`" address="`$service_tel`" encode="javascript"}> 或 <a href="<{$SiteUrl}>help/" target="_blank">查看帮助</a></p> 
   <p>网站客服热线：<{$service_tel}> 网站销售热线：<{$sale_tel}></p>
   <p>Copyright &copy; <{$site_name}>. All rights reserved. <{$company_name}> 版权所有</p>
   <p class="online"><a target="_blank" href="http://wpa.qq.com/msgrd?V=1&Uin=<{$service_qq}>&Site=<{$SiteUrl}>&Menu=yes"><img src="../images/qq_online.jpg" alt="在线客服" align="absmiddle" ></a> 
      <a href="msnim:chat?contact=<{$service_msn}>"><img src="../images/msn.gif" align="absmiddle"  alt="MSN在线客服"></a>
   </p>
  </div>
</div>
</body>
</html>