<{assign var="page_title" value="短消息"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
<div class="hint"><span class="btn_hint"><a href="pms.php?do=send" class="btn_publish">发送消息</a></span>提示：短消息分为系统消息、询价消息以及普通消息（私人消息）</div>

	  <form name="msinfrm" method="post" action="<{$smarty.server.PHP_SELF}>">
	  <input type="hidden" name="formhash" value="<{$formhash}>">
       <table class="news">
            <tr align="center">
              <th>选择</th>
              <th>主题</th>
              <th>状态</th>
              <th>时间</th>
            </tr>
			<{foreach from=$Items item=item}>
            <tr align="center" class="bggray">
              <td><input type="checkbox" name="id[]" value="<{$item.id}>" id="item_<{$item.id}>"></td>
              <td align="left"><a href="pms.php?do=view&id=<{$item.id}>"><{$item.title|truncate:30}></a></td>
              <td class="orange"><{$MessageStatus[$item.status]}></td>
              <td><{$item.created|date_format:"%Y-%m-%d"}></td>
            </tr>
			<{/foreach}>
        </table>  
       <table class="trade_line">
            <tr>
                <td height="1" background="images/index_trade_line.gif"></td>
            </tr>
          
           <tr align="center" valign="bottom">
          <td height="40"><input  name="del" type="submit" id="del" value=" 删除选中的 "></td>
        </tr>
      </table>
	  </form>
   </div>
   </div>
<{include file="footer.html"}>
