<{assign var="page_title" value="`$page_title` - `$_announce`"}>
<{assign var="nav_id" value="`$nav_id`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
  <div class="content">
    <div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span></div>
    <div class="blank"></div>
    <div class="body_content">
      <div class="content_top"><h2><{$item.subject}></h2>
       </div>
      <div class="content_body"><{$item.message}></div>
       <div class="blank"></div>
    </div>
    </div>
</div>
<{include file="`$ThemeName`/footer.html"}>