<{assign var="page_title" value="展会"}>
<{assign var="nav_id" value="8"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
        <div class="content">
           <div class="exh_ad"><{ads typeid=1 row="8"}><a href="[link:url]">[field:src]</a><{/ads}></div>
           <div class="blank6"></div>
           <div class="exh_con">
              <div class="exh_con_left">
                 <div class="exh_con_img"><img src="<{$theme_img_path}>images/exh_ad02.jpg" /></div>
                 <div class="exh_con_net">
                     <div class="net_title">
                       <h2>推荐展会</h2>
                     </div>
                     <div class="net_content">
                      <div class="main clearfix">
                       <div class="net_content_img"><img src="<{$theme_img_path}>images/fair_commend.jpg" /></div>
                       <{fair id=5 infolen=35}>
                       <div class="net_content_intro">
                         <h3><a href="[link:title]">[field:title]</a></h3>
                         <p>[field:content]&nbsp;&nbsp;<span class="red"><a href="[link:title]">详细》</a></span> </p>
                       </div>
                       <{/fair}>
                      </div>
                       <div class="net_meeting">
                         <ul>
                         <{fair row=4}>
                         <li><span class="net_meeting_title"><a href="fair/detail.php?id=[field:id]" target="_blank">[field:title]</a></span><span class="net_meeting_time">[[field:pubdate]]</span></li>
                         <{/fair}>
                         </ul>
                         <div class="clear"></div>
                       </div>
                     </div>
                 </div>
                <div class="blank6"></div>  
                <div class="exh_recent_titlebar">
                  <h2 class="tit">最新展会</h2>
                  <span class="more_right"><a href="fair/list.php"><span class="raquo">&raquo;</span>更多</a></span>
                </div> 
                <div class="exh_recent">
                  <div class="exh_recentlist clearfix">
                    <ul>
                    <{fair row=24}>
                  		<li><span class="sort">[<a href="fair/list.php?typeid=[field:typeid]">[field:typename]</a>]</span><span class="title"><a href="fair/detail.php?id=[field:id]">[field:title]</a></span><span class="date">[[field:pubdate]]</span></li>
                  	<{/fair}>
                    </ul>
                  </div>
                <div class="clear"></div>
                </div>
              </div>
              <div class="exh_con_right">
                <div class="exh_consulting_titilebar">
                  <h2 class="tit">热门展会</h2>
                  <span class="more_right"><a href="fair/list.php?type=hot"><span class="raquo">&raquo;</span>更多</a></span>
                </div> 
                <div class="exh_consulting">
                <ul>
                <{fair row=10 type="hot"}>
                <li><a href="fair/detail.php?id=[field:id]">[field:title]</a></li>
                <{/fair}>
                </ul>
              </div>
            <div class="blank6"></div>
                <div class="exh_consulting_titilebar">
                  <h2 class="tit">找展会</h2>
                  <span class="more_right"><a href="fair/list.php"><span class="raquo">&raquo;</span>更多</a></span>
                </div> 
                <div class="exh_find">
                <form action="fair/list.php" name="search_fair_frm" id="SearchFairFrm">
                <input type="hidden" name="do" value="search" />
                <table>
                  <tr>
                    <th>关键字：</th>
                    <td><input name="q" type="text" style="width:100px; color:gray;" value="输入关键字"/></td>
                  </tr>
                  
                  <tr>
                    <th>&nbsp;</th>
                    <td><input type="button" value="搜索" class="btn_search" onclick="$('#SearchFairFrm').submit();" /></td>
                  </tr>
                </table>
                </form>
                </div>
           </div> 
         <div class="clear"></div>  
        </div>
           <div class="blank6"></div>
           <div class="ad_banner"><img src="<{$theme_img_path}>images/ad_15.jpg" /></div>
    </div>
    </div>
<{include file="`$ThemeName`/footer.html"}>