<{assign var="page_title" value="`$page_title` - 人才招聘"}>
<{assign var="nav_id" value="9"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
	<div class="content">
		<div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span></div>
		<div class="job_list_left fl">
			<div class="price">
				<h3><img src="<{$theme_img_path}>images/price_03.jpg"/><span class="pricecon"><img class="pricepic" src="<{$theme_img_path}>images/lhighs.gif"/><span>招聘信息</span></span><img src="<{$theme_img_path}>images/price_07.jpg"/></h3>
			</div>
			<div class="job_list_c">
				<ul>
					<li class="title"><h3 class="fl"><span>招聘职位</span></h3><em class="fl"><span>招聘单位</span></em><p class="fl">工作地点</p><p class="fl">发布时间</p></li>
                    <{foreach from=$Items name=Items item=item key=key}>
					<li><h3 class="fl"><a href="space.php?do=hr&userid=<{$item.userid}>" title=""><{$item.name}></a></h3><em class="fl co"><a href="space.php?userid=<{$item.userid}>"><{$item.companyname}></a></em><p class="fl"><{$item.work_station}></p><p class="fl"><{$item.pubdate|date_format:"%Y-%m-%d"}></p></li>
                    <{/foreach}>
			  </ul>
			</div>
		</div>
		<div class="job_good fr">
			<div class="price">
				<h3><img src="<{$theme_img_path}>images/price_03.jpg"/><span class="pricecon"><img class="pricepic" src="<{$theme_img_path}>images/lhighs.gif"/><span>推荐企业</span></span><img src="<{$theme_img_path}>images/price_07.jpg"/></h3>
			</div>
			<div class="job_good_c cb">
				<ul>
                	<{company type="commend"}>
					<li><a href="[link:title]" target="_blank" title="[field:title]">[field:title]</a></li>
                    <{/company}>
			  </ul>
			</div>
		</div>
		<div class="h7"></div>
		</div>
</div>
<{include file="`$ThemeName`/footer.html"}>