<{assign var="page_title" value="`$page_title` - 市场库"}>
<{assign var="nav_id" value="7"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
	<div class="content">
	<div class="tips"><span><{$position}></span><{$item.name}></div>
	<div class="maincon">
	<div class="all_left">
	<div class="all_left_title">
	<h2><{$item.name}></h2>
	</div>
	<div class="all_left_con"><{$item.content}></div>
	</div>
	<div class="all_right">
	<div class="all_right_title">
	<h2>最新市场库信息</h2>
	</div>
	<div class="all_right_con">
    <{market row=10}>
	<p><a href="market/detail.php?id=[field:id]">[field:title]</a></p>
	<{/market}>
	</div>
	</div>
</div>
<br clear="all"/>
<{include file="`$ThemeName`/footer.html"}>