<{assign var="page_title" value="`$page_title`"}>
<{assign var="nav_id" value="`$nav_id`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
		<div class="content">
			<div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span>友邻电子商务网></span>重新设置你的密码</div>
			<div class="quhuimima">
					<div class="message"><img src="<{$theme_img_path}>images/quhuimima_07.jpg" /><span>重设密码</span><img src="<{$theme_img_path}>images/quhuimima_11.jpg" class="cirlepic"/></div>
					<div class="remessagecon">
						<form id="form1" name="form1" method="post" action="">
						<p>请在下方输入必要的信息以便帮助你重新设置你的密码：</p><br />
						<label class="newpassword">
						  用户名验证：
						</label>
						<label>
						  <input type="text" name="textfield" />
						</label>
						<label class="reinput">
						  你的登录帐号
						</label><br clear="all" /><br />
						<p class="resetpassword">重设密码：</p><br />
						<label class="newpassword">
						  新密码：
						</label>
						<label>
						  <input type="text" name="textfield" />
						</label>
						<label class="reinput">
						  输入你想设置的新密码
						</label><br clear="all" />
						<label class="newpassword">
						  再次输入新密码：
						</label>
						<label>
						  <input type="text" name="textfield" />
						</label>
						<label class="reinput">
						  再次输入你想设置的新密码：
						</label><br clear="all" />
						<input type="submit" name="Submit" value="提交并重设密码" class="submitpassword" />
						</form>
					</div>
			</div>
			<div class="ins">
                <a href="#" title="">网站首页</a><span>|</span>
                <a href="#" title="">关于我们</a><span>|</span>
                <a href="#" title="">法律声明</a><span>|</span>
                <a href="#" title="">客户服务</a><span>|</span>
                <a href="#" title="">技术支持</a><span>|</span>
                <a href="#" title="">媒体报道</a><span>|</span>
                <a href="#" title="">广告专区</a><span>|</span>
                <a href="#" title="">代理专区</a><span>|</span>
                <a href="#" title="">联系我们</a><span>|</span>
                <a href="#" title="">网站地图</a><span>|</span>
                <p>
                    本网站版权所有(C)2009 客户服务热线：010－12345678 客户服务邮箱：service@hotmail.com<br />京ICP备12345678<br />
                    <a href="#" title=""><img src="<{$theme_img_path}>images/qq.jpg" /></a>　　
                    <a href="#" title=""><img src="<{$theme_img_path}>images/msn.jpg" /></a>
                </p>
            </div>
		</div>
	</div>
<{include file="`$ThemeName`/footer.html"}>