<{assign var="page_title" value="网站地图"}>
<{assign var="nav_id" value="`$nav_id`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
  <div class="content">
    <div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span>网站地图</div>
    <div class="webmap">
      <div class="webmap_left">
      <div class="base_title">
	   <h2><span class="title_name">基本信息</span></h2>
	</div>
     
        <div class="base_content">
          <div class="webmap_left_con1">
            <h2>供求信息</h2>
            <p><a href="buy/">求购</a> <a href="sell/">供应</a> <a href="offer/list.php?typeid=8">库存</a> <a href="offer/list.php?typeid=5">招商</a> <a href="offer/list.php?typeid=6">加盟</a> <a href="offer/list.php?typeid=4">合作</a> <a href="offer/list.php?typeid=3">代理</a> <a href="offer/list.php?typeid=7">批发</a></p>
          </div>
          <div class="webmap_left_con2">
            <h2>重要频道</h2>
            <p><a href="company/">公司库</a>&nbsp;<a href="company/list.php?type=commend">推荐公司库</a>&nbsp;<a href="product/">产品库</a>&nbsp;<a href="news/">资讯</a>&nbsp;<a href="market/">专业市场</a>&nbsp;<a href="fair">展会</a>&nbsp;<a href="hr/">人才招聘</a></p>
          </div>
        </div>
      </div>
      <div class="webmap_right">
        <div class="webmap_right_title"><span>快速导航</span></div>
        <div class="webmap_right_con">
          <ul>
            <li><a href="post.php">免费发布供求</a></li>
            <li><a href="service.php">客户服务条款</a></li>
            <li><a href="agreement.php" target="_blank">网站注册协议</a></li>
          </ul>
        </div>
      </div>
    </div><br clear="all"/>
  </div>
</div>
<{include file="`$ThemeName`/footer.html"}>