
#wd{width:960px; height:auto; clear:both;}
#wd ul{ margin-left:20px; width:100%;}
#wd ul li{ display:inline;}
#wd ul li a,#wd ul li a span{ display:block; float:left; height:33px; color:#fff; text-decoration:none; cursor:pointer;font-size:14px; font-weight:bold; }
#wd ul li a span{padding:10px 20px 0 ;}
#wd ul li a:hover,#wd ul li a:hover span,#wd ul li a.current_nav,#wd ul li a.current_nav span{ background:url(images/background.gif) no-repeat; display:block; float:left; color:#3d85ba;font-size:14px; font-weight:bold; height:33px }
#wd ul li a:hover span,#wd ul li a.current_nav span{ background: url(images/background.gif) no-repeat right -40px; padding:10px 20px 0;font-size:14px; font-weight:bold; }
 a.current_nav:focus{outline:none}
 #wd ul li a {outline:none}
