<{assign var="page_title" value="`$_nventory`"}>
<{assign var="nav_id" value="5"}>
<{include file="`$ThemeName`/header.html"}>
<div class="blank6"></div>
<div class="fullsrceen_ad"><{ads typeid=2}><a href="[link:url]">[field:src]</a><{/ads}></div>
<div class="blank6"></div>
<div class="container clearfix">
   <div class="main_left_w220">
      <div class="title_bar_s1">
        <span class="title_top_s1"><span></span></span>
        <h3><{$_products}></h3>
       </div>
        <ul class="product_sort">
        <{foreach from=$Industry item=industry_item key=industry_key}>
        <li><a href="product/list.php?industryid=<{$industry_key}>" title="<{$industry_item}>"><{$industry_item}></a></li>
        <{/foreach}>
       </ul>
      <div class="blank6"></div>
      <div class="product_img"><img src="<{$theme_img_path}>images/product_position1.jpg" /></div>
   </div>
   <div class="main_right_w730">
      <div class="product_reports">
        <div class="product_reports_title">
        <h2><{$_category_topics}></h2>
        </div>
        <div class="product_reports_content clearfix">
         <h3><span class="find_product_blue"><{$_maybe_browse_categories}></span>&nbsp;&nbsp;<{industry row="25" topid=1}><a href="product/list.php?industryid=[field:id]" title="[field:title]">[field:title]</a> | <{/industry}></h3>
         <div class="product_reports_img"> <img src="<{$theme_img_path}>images/product_special.jpg" /></div>
            <{foreach from=$IndustryProducts item=industry_product key=industry_product_key}>
            <h2 class="find_product_blue"><{$industry_product.name}></h2>
            <{if $industry_product.sub}>
            <ul>
              <li>
               	<ul class="product_reports_list clearfix">
               <{foreach from=$industry_product.sub item=industry_subproduct key=industry_subproduct_key}> 
                <li><a href="product/content.php?id=<{$industry_subproduct.id}>"><img src="<{$industry_subproduct.image}>" alt="<{$industry_subproduct.name}>" /></a><p><{$industry_subproduct.sort}></p><p title="<{$industry_subproduct.name}>"><{$industry_subproduct.name}></p></li> 
                <{/foreach}>
                </ul>
              </li>
            </ul>
            <{/if}>
            <{/foreach}>
        </div>
      </div>
      <div class="find_product_right">
      <div class="title_bar_s1">
        <span class="title_top_s1"><span></span></span>
        <h3><{$_recommended}></h3>
       </div>
       <ul class="nominate_content clearfix">
		<{product row=8 type="image,commend"}>
		<li>
		 <span class="nominate_img"><a href="product/content.php?id=[field:id]"><img src="[img:src]" width="80" height="80" alt="[field:title]" /></a></span>
		 <span class="nominate_text"><p title="[field:title]">[field:title]</p><p title="[field:company]">[field:company]</p></span>
		</li>
      <{/product}>
    </ul>
      </div>
   
   </div>
</div>
   <script>
$("#SearchFrm").attr("action","product/list.php");
$("#topMenuProduct").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>



