<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>广告位置</p> 
    <ul class="subnav">
		<li><span>管理</span></li>
        <li><a class="btn1" href="adzone.php?do=edit">添加/编辑</a></li>
        <li><a class="btn1" href="javascript:;">生成JS调用代码</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl">广告位是指一组广告的集合，你可以利用广告位代码调用指定的广告。</div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
		  <td><label for="idAll">位置名称</label></td>
		  <td>广告数量</td>
		  <td>最大宽</td>
		  <td><span>最大高</span></td>
		  <td><span>调用代码</span></td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item name=adzone}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.name}></label></td>
		  <td><a href="ad.php?do=search&adzone_id=<{$item.id}>"><{$item.numbers|default:0}>个</a></td>
		  <td><{$item.width}></td>
		  <td><{$item.height}></td>
		  <td><a href="<{$smarty.server.PHP_SELF}>?do=makejs&id=<{$item.id}>" title="生成调用代码"><img src="images/export.gif" border="0" /></a></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="adzone.php?id=<{$item.id}>&do=del<{$addParams}>"><img src="images/del.gif" border="0" alt="删除"></a>&nbsp;&nbsp;<a href="adzone.php?do=edit&id=<{$item.id}><{$addParams}>"><img src="images/edit.gif" border="0" alt="编辑"></a>&nbsp;&nbsp;<a href="ad.php?do=edit&adzone_id=<{$item.id}><{$addParams}>"><img src="images/add.gif" border="0" alt="添加广告"></a></span></td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="7">没有符合条件的记录</td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del" value="删除" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>