<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>公司类型</p> 
    <ul class="subnav">
		<li><span>管理</span></li>
        <li><a class="btn1" href="ad.php?do=edit">添加/编辑</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
             <div class="left"> 
                <select class="querySelect" name="adzone_id" id="AdzoneId">
				<option value="0">广告位置</option>
				<option value="buyer_name">买家名称</option>
				<option value="payment_name">支付方式</option>
				<option value="order_sn">订单号</option>                
				</select>
				标题关键字 : <input class="queryInput" type="text" name="q" value="" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="查询" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
		  <td>标题</td>
		  <td><span>客户名称</span></td>
		  <td>位置</td>
		  <td><span>状态</span></td>
		  <td><span>起始日期</span></td>
		  <td><span>点击数</span></td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.title}></label></td>
		  <td><{$item.MemberUserName}></td>
		  <td><a title="点击预览" href="<{$SiteUrl}><{$item.AdzoneFileName}>#ad<{$item.id}>" target="_blank"><{$item.AdzoneName}></a></td>
		  <td><{$AdsStatus[$item.status]}></td>
		  <td><{$item.start_date|date_format:"%Y-%m-%d"}>至<{$item.end_date|date_format:"%Y-%m-%d"}></td>
		  <td><{$item.clicked}></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="ad.php?id=<{$item.id}>&do=del"><img src="images/del.gif" border="0" alt="删除"></a>&nbsp;&nbsp;<a href="ad.php?do=edit&id=<{$item.id}>"><img src="images/edit.gif" border="0" alt="编辑"></a></span>      
		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="8">没有符合条件的记录</td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del" value="删除" class="formbtn batchButton"/>
      <input type="submit" name="down" value="下线" class="formbtn batchButton"/>
      <input type="submit" name="up" value="上线" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>