<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>公司库</p> 
    <ul class="subnav">
		<li><span>管理</span></li>
        <li><a class="btn1" href="company.php?do=edit">添加/编辑</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
        <input type="hidden" name="do" value="search" />
             <div class="left"> 
                <select class="querySelect" name="companytype" id="companytype">
					<option value="0">企业类型</option>
                	<{html_options options=$CompanyTypes selected=$smaty.get.companytype}>
              	</select>
                <select class="querySelect" name="companystatus" id="companystatus">
					<option value="0">审核状态</option>
                    <{html_options options=$CompanyStatus selected=$smaty.get.companystatus}>
                </select>
				用户名: <input class="queryInput" type="text" name="member[username]" value="<{$smarty.get.member.username}>" /> 
				公司名: <input class="queryInput" type="text" name="company[name]" value="<{$smarty.get.company.name}>" />
                <input type="submit" name="search" id="Search" class="formbtn" value="查询" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="company.php<{$addParams}>" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
		  <td><label for="idAll">公司名称</label></td>
		  <td><span>用户名</span></td>
		  <td>信用指数</td>
		  <td><span>审核状态</span></td>
		  <td><span>所在地区</span></td>
		  <td><span>所属行业</span></td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.CompanyName|truncate:35}></label><{if $item.if_commend==1}><img src="../images/recommend.gif" /><{/if}></td>
		  <td><a href="member.php?do=edit&id=<{$item.member_id}>" title="<{$item.NickName}>"><{$item.username}></a>[<{$AllMembergroups[$item.membergroup_id]}>]</td>
		  <td><{$item.cache_credits}></td>
		  <td><{$CompanyStatus[$item.CompanyStatus]}></td>
		  <td><{$Areas[1][$item.area_id1]}><{$Areas[2][$item.area_id2]}></td>
		  <td><{$Industries[1][$item.industry_id1]}><{$Industries[2][$item.industry_id2]}></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="<{$SiteUrl}>space.php?userid=<{$item.space_name}>" target="_blank"><img src="images/home.gif" border="0" alt="预览主页"></a>&nbsp;&nbsp;<a href="company.php?do=edit&id=<{$item.id}><{$addParams}>"><img src="images/edit.gif" border="0" alt="编辑"></a></span>      
		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="8">没有符合条件的记录</td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del" value="删除" class="formbtn batchButton" onclick="return confirmAction('确定删除吗?');"/>
      <input type="submit" name="check[in]" value="审核通过" class="formbtn batchButton"/>
      <input type="submit" name="check[out]" value="审核无效" class="formbtn batchButton"/>
      <input type="submit" name="recommend" value="企业推荐" class="formbtn batchButton"/>
	  <select name="set_group" id="SetGroup" class="actionsel" onchange="$('#ListFrm').submit()">
      <{foreach from=$Membergroups item=groupname key=key}>
	  	<option value="<{$key}>"><{$groupname}></option>
      <{/foreach}>
	  </select>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>