<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>数据库</p> 
    <ul class="subnav">
		<li><a class="btn1" href="db.php">备份</a></li>
        <li><span>还原</span></li>
        <li><a class="btn1" href="db.php?do=query">升级</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl">请将文件上传到目录<strong>../data/backup_<{$backup_dir}></strong>进行还原。</div> 
    <div class="fontr"></div> 
</div> 
<div id="dataListDiv" class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
		  <td><label for="idAll">文件名</label></td>
		  <td><span>备份时间</span></td>
		  <td>文件大小</td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item}>
		<tr class="tatr2" title="<{$item.directory}>">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.name}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.name}>" title="<{$item.name}>"></td>
		  <td><label for="item_<{$item.name}>"><{$item.name}></label></td>
		  <td><{$item.filemtime}></td>
		  <td><{$item.filesize|get_custom_size}></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="db.php?id=<{$item.name}>&do=del<{$addParams}>"><img src="images/del.gif" border="0" alt="删除"></a>&nbsp;&nbsp;<a href="db.php?do=refresh&id=<{$item.name}><{$addParams}>" onclick="confirm('还原文件<{$item.name}>\n本操作不可恢复，确认继续吗');"><img src="images/refresh.gif" border="0" alt="还原"></a></span>		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="5">没有符合条件的记录</td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del_backup" value="删除" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>