<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>展会信息</p> 
    <ul class="subnav">
		<li><a class="btn1" href="fair.php">管理</a></li>
		<li><a class="btn1" href="fairtype.php">分类</a></li>
        <li><span>添加/编辑</span></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="fairtype.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 名称：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[expotype][name]" value="<{$item.name}>" /></td>
      </tr>   
      
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>