<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>帮助文件</p> 
    <ul class="subnav">
		<li><a class="btn1" href="help.php">管理</a></li>
		<li><a class="btn1" href="helptype.php">分类</a></li>        
        <li><span>添加/编辑</span></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="helptype.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 标题：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[helptype][title]" value="<{$item.title}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15">简介：</th>
        <td class="paddingT15 wordSpacing5"> <textarea style="width:550px;height:100px;" name="data[helptype][description]" id="helpContent"><{$item.description}></textarea></td>
      </tr>
      <tr>
        <th class="paddingT15"> 显示顺序：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[helptype][displayorder]" value="<{$item.display_order}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 上级类别：</th>
        <td class="paddingT15 wordSpacing5">
		<select name="data[helptype][parent_id]">
		<option value="0">顶级分类</option>
        <{$HelptypeOptions}>
		</select>        
        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>