<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>控制台_<{$sitetitle}></title>
<link href="images/admincp.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="<{$JS_PATH}>js/prototype.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
</head>
<body leftmargin="10" topmargin="10" onkeydown="refreshmainframe(event)">
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="6">
<tr><td>
<!-- 位置设置 -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide">
<tr>
<td><a href="#" onClick="parent.main.location='home.php';return false;">系统设置首页</a>&raquo;设置静态文件</td>
</tr>
</table>
<!-- :~位置设置 -->
<!-- 访问设置 -->
<form name="backupfrm" onsubmit="return true;" action="mkstatic.php" method="post">
<div id="divSet" style="display:block">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header">
<td colspan="2">静态文件生成<a href="#" onclick="collapse_change('a45b0b68771fc480')"><img id="menuimg_a45b0b68771fc480" src="images/menu_reduce.gif" border="0" style="float: right; margin-top: -12px; margin-right: 8px;"></a></td>
</tr>
<tbody id="menu_a45b0b68771fc480">
<tr>
  <td width="37%" class="altbg1" ><p><b>选择欲生成静态文件的数据</b><br>
  </p>    </td>
  <td width="63%" class="altbg2">
	<label for="buy"><input type="radio" name="type" id="buy" value="1" />
	供求</label>
	<label for="sell"></label>
    <label for="product"><input name="type" type="radio" value="4" id="product" />产品</label>
	<label for="news"></label></td>
</tr>
  <tr>
    <td width="37%" class="altbg1" ><strong>选择静态文件命名方式</strong></td>
    <td class="altbg2"><input name="filename_type" type="radio" value="1" checked="checked" />
      目录以信息提交的年月命名,文件以信息编号命名, 如2007/01/23/456.html</td>
  </tr>
  <td colspan="2" valign="middle" class="altbg1"><div  align="center"><input name="create" type="submit" class="button" id="step" onclick="hideorshow();" value="下一步">
  </div></td>
  </tr>
</tbody>
</table>
</div>
<!-- :~访问设置 -->
</form>
<br />
<div id="divFiles" style="display:block">
<table width="100%" border="0" cellpadding="1" cellspacing="0" class="tableborder">
<tr class="header">
<td>静态文件管理</td>
<td>自动产生静态文件周期</td>
<td>下次生成静态时间</td>
<td>&nbsp;<a href="#" onclick="collapse_change('a45b0b68771fc481');"><img id="menuimg_a45b0b68771fc481" src="images/menu_reduce.gif" border="0" style="float: right; margin-top: -12px; margin-right: 8px;"></a></td>
</tr>
<tbody id="menu_a45b0b68771fc481">
<{foreach from=$Htmlfiles name=htmlcache item=item}>
  <tr>
    <td class="altbg1" ><a href="<{$SiteUrl}><{$item.Name}>" target="_blank"><{$item.Name}></a></td>
    <td class="altbg2"><{$item.Reset}>秒</td>
    <td class="altbg2"><{$item.NextCreateTime}></td>
    <td class="altbg2"><a href="<{$SiteUrl}><{$item.Name}>?action=html&token=<{$TOKEN}>" target="_blank">点击立即生成</a></td>
  </tr>
<{/foreach}>
  <tr>
    <td colspan="4" class="altbg2"><a href="mkstatic.php?action=clearhtmlcache" target="_self">清空所有已有的静态文件，让他重新自动生成</a><img src="images/0358471.gif" border="0"></td>
    </tr> 
</tbody>
</table>
</div>
<!-- :~访问设置 -->

</td></tr>
</table>
</body>
</html>
