<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>控制台-<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
</head>

<body>
<a name="top" />
<!-- 位置 -->
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide">
<tr><td>
<div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">控制台</a>&nbsp;&raquo;&nbsp;用户留言管理</div></td></tr>
</table>
<br />
<!-- 搜索 -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header"><td colspan="5"><div align="left">搜索</div></td></tr>
<form name="searchfrm" method="post" action="<{$smarty.server.PHP_SELF}>">
<tr>
	<td width="9%"><div align="right">标题:</div></td>
	<td width="15%"><input name="textfield2" type="text" size="25"></td>
	<td width="10%"><div align="right">反馈类别:</div></td>
	<td><select name="select">
      <option value="0" selected>请选择</option>
      <option value="1">咨询</option>
      <option value="2">建议</option>
      <option value="3">投诉</option>
    </select></td>
	<td><input name="search" type="submit" id="search" value="搜索" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"></td>
	</tr>
</form>
</table>
<br />
<!-- 标题 -->
<form name="listfrm" action="" method="post">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header" align="center"><td><input type="checkbox" name="idAll" onClick="uaCheckAll(this, 'id[]')" title="全选"></td>
<td>标题/内容</td>
<td><strong>反馈类别</strong></td>
<td><strong>状态</strong></td>
<td><strong>留言时间</strong></td>
<td><a onClick="collapse_change('1')" href="#" title="收起/展开"><img id="menuimg_1" src="./images/collapsed_up.gif" border="0" style="vertical-align:middle;"/></a></td></tr>
<tbody id="menu_1" style="display: yes">
<{foreach from=$ServiceList name=slist item=sl}>
<tr bgcolor="<{cycle values=#eeeeee,#ffffff}>" align="center">
<td><input type="checkbox" name="id[]" value="<{$sl.ID}>" onClick="uaCheckItem(this, 'idAll')"></td>
<td align="left"><{$sl.Title|strip_tags}>:<{$sl.Content|truncate:50}></td>
<td><{$ServiceTypes[$sl.Type]}></td>
<td><{$ServiceStatus[$sl.Status]}></td>
<td><{$sl.PutDate|date_format:"%Y-%m-%d"}></td>
<td><a href="./service.php?action=view&id=<{$sl.ID}>"><img src="images/revert.gif" border="0" alt="回复"></a>&nbsp;<a href="<{$smarty.env.PHP_SELF}>?action=del&del=1&id=<{$sl.ID}>"><img src="images/delete.gif" border="0" alt="删除"></a></td>
</tr>
<{foreachelse}>
<tr bgcolor="#ffffff">
<td colspan="7" align="center"><strong>目前没有任何数据</strong></td>
</tr>
<{/foreach}>
</tbody>
<!-- 分页 -->
<tr align="center"><td class="altbg1" colspan="7"><{$ByPages}></td></tr>
<tr class="header" bgcolor="#ffffff">
<td colspan="5"><input class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'" type="submit" name="del" value="删除"></td>
<td><div align="center"><a title="返回顶部" href="#top"><img id="go_top" src="./images/go_top.gif" border="0" style="vertical-align:middle;"/></a></div></td>
</tr>
</table>
</form>
</td>
</tr>
</table>

<!-- 结束new -->
</body>
</html>
