<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>Commercial Office - <{$sitetitle}></title>
<link href="<{$CSS_PATH}>css/style.css" rel="stylesheet" type="text/css">
<link href="<{$INC_PATH}>css/room.css" rel="stylesheet" type="text/css">
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script src="<{$JS_PATH}>js/prototype.js"></script>
<SCRIPT LANGUAGE="JavaScript" src="<{$JS_PATH}>js/area_func.js"></SCRIPT> 
<SCRIPT LANGUAGE="JavaScript" src="<{$JS_PATH}>js/area_data.js"></SCRIPT> 
<SCRIPT LANGUAGE = JavaScript> 
<!--
var s=["s1","s2","s3"]; 
var opt0 = ["Country","Province","City"]; 
function setup() 
{ 
for(i=0;i<s.length-1;i++) 
document.getElementById(s[i]).onchange=new Function("change("+(i+1)+")"); 
change(0); 
} 
//--> 
</SCRIPT> 
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onload="setup()">
<script language="javascript"> 
function IsURL(urlString)
{
	regExp = /(?:(?:http[s]?|ftp):\/\/)?[^\/\.]+?\.[^\.\\\/]+?\.\w{2,}$/i;
	if (urlString.match(regExp))return true;
	else return false;
}

function checkinput(){
	if($F('memberlastname')==""){
		alert("Please enter your name");
		$('memberlastname').focus();
		return false;
	}
	if($F('membersite_url')!=""){
		if(!IsURL($F('membersite_url'))){
			alert("The URL you entered is incorrect");
			$('membersite_url').focus();
			return false;
		}
	}
	return true;
}
</script>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
    <td height="83"><{include file="default/element.top.html"}></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr align="center" valign="top">
    <td width="180" background="<{$tpl_img_path}>office/left_bg.gif"><{include file="room/menu.html"}></td>
    <td align="center"><table width="98%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><img SRC="<{$tpl_img_path}>office/banr_pic.gif" WIDTH=570 HEIGHT=101 ALT=""></td>
        </tr>
      </table>
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="45" background="<{$tpl_img_path}>office/title_bg.gif"><table height="30" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td class="font14b_org"><img src="<{$tpl_img_path}>office/icon_newd.gif" width="15" height="16"> Privacy</td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td height="5" valign="top" class="bggray2"></td>
          </tr>
      </table>
	  <form name="companyeditfrm" action="./personal.php" method="post" enctype="multipart/form-data">
        <table width="95%"  border="0" cellspacing="0" cellpadding="0">          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="35"><span class="gray">&nbsp;(Hint: with a<font color="#FF6600"> * </font>Number is required)</span></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="21%" class="bgblue"><img src="<{$tpl_img_path}>office/corner_01.gif" width="12" height="12"></td>
                        <td align="right" valign="top" class="tdright"><img src="<{$tpl_img_path}>office/corner_02.gif" width="12" height="12"></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td>
				  <table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td class="tdleft">Name:</td>
                        <td class="tdright"><input name="member[lastname]" type="text" id="memberlastname" value="<{$p.MemberLastname}>"><font color="#FF6600">*</font></td>
                      </tr>
                      
                      <tr>
                        <td class="tdleft">Gender</td>
                        <td class="tdright"><{html_radios name="member[gender]" options=$Genders checked=$p.MemberGender|default:"1" separator=" "}></td>
                      </tr>
                      <tr>
                        <td class="tdleft">Province/City:</td>
                        <td class="tdright">
					<select name="countryid" id="s1"><option>Country</option></select> 
					<select name="provinceid" id="s2"><option>Province</option></select> 
					<select name="cityid" id="s3"><option>City</option></select> 						
						</td>
                      </tr>
                      <tr>
                        <td class="tdleft">Current:</td>
                        <td class="tdright"><{$p.MemberProvince|default:"无"}><{$p.MemberCity}></td>
                      </tr>
                      
                      <tr>
                        <td class="tdleft">Address:</td>
                        <td class="tdright"><input name="member[address]" type="text" id="memberaddress" value="<{$p.MemberAddress}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">Zip Code:</td>
                        <td class="tdright"><input name="member[zipcode]" type="text" id="memberzipcode" value="<{$p.MemberZipcode}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">QQ Number:</td>
                        <td class="tdright"><input name="member[qq]" type="text" id="memberqq" value="<{$p.MemberQq}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">ICQ Number:</td>
                        <td class="tdright"><input name="member[icq]" type="text" id="membericq" value="<{$p.MemberIcq}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft"><p>Msn Messenger:</p>                        </td>
                        <td class="tdright"><input name="member[msn]" type="text" id="membermsn" value="<{$p.MemberMsn}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">Yahoo Messenger: </td>
                        <td class="tdright"><input name="member[yahoo]" type="text" id="memberyahoo" value="<{$p.MemberYahoo}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">Telephone</td>
                        <td class="tdright"><input name="member[tel]" type="text" id="membertel" value="<{$p.MemberTel}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">Fax</td>
                        <td class="tdright"><input name="member[fax]" type="text" id="memberfax" value="<{$p.MemberFax}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">Mobile</td>
                        <td class="tdright"><input name="member[mobile]" type="text" id="membermobile" value="<{$p.MemberMobile}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">Homepage</td>
                        <td class="tdright"><input name="member[site_url]" type="text" id="membersite_url" value="<{$p.MemberSiteUrl}>"></td>
                      </tr>
                      <tr>
                        <td class="tdleft">Contact Email:</td>
                        <td class="tdright"><input name="member[email]" type="text" id="memberemail" value="<{$p.MemberEmail}>" size="32" disabled>(<a name="mod" href="#mod" onclick="javascript:$('memberemail').disabled=false;">Changes</a>)</td>
                      </tr>
					  <{if $UalinkUser.user_level==1}>
                      <tr>
                        <td class="tdleft">Job Status:</td>
                        <td class="tdright"><input type="radio" name="member[resume_status]" value="1" <{if $p.ResumeStatus==1}>checked="checked"<{/if}>>I would like to job-seekers<input type="radio" name="member[resume_status]" value="0" <{if $p.ResumeStatus==0}>checked="checked"<{/if}>>I do not want job</td>
                      </tr>
                      <tr>
                        <td class="tdleft">Highest degree</td>
                        <td class="tdright">
						<select name="member[max_education]" id="MaxEducation">
						<{foreach from=$Educations name=Educations item=item key=key}>
						<option value="<{$key}>" <{if $p.MemberMaxEducation==$key}>selected<{/if}>><{$item}></option>
						<{/foreach}>
						</select>
						</td>
                      </tr>
                      <tr>
                        <td class="tdleft">Avatar:</td>
                        <td class="tdright"><input type="file" name="photo" id="MemberPhoto">
						<{if $p.PersonalPhoto}><br /><img src="../attachment/<{$p.PersonalPhoto}>.small.jpg" /><{/if}>
						</td>
                      </tr>
					  <{/if}>
                       <tr>
                        <td class="tdleft">Login page after the jump:</td>
                        <td class="tdright"><select name="member[office_redirect]" id="MemberOfficeRedirect">
							<{foreach from=$OfficeRedirects name=office_redirect key=key item=item}>
							<option value="<{$key}>" <{if $key==$p.MemberOfficeRedirect}>selected<{/if}>><{$item}></option>
							<{/foreach}>
                        </select></td>
                      </tr>
                 </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="21%" class="tdleft"><img src="<{$tpl_img_path}>office/corner_03.gif" width="12" height="12"></td>
                        <td align="right" valign="top" class="tdright"><img src="<{$tpl_img_path}>office/corner_04.gif" width="12" height="12"></td>
                      </tr>
                  </table></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="40" align="center"><br>
                <input name="save" type="submit" id="save" onClick="return checkinput();" value="The preservation of information">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
    </table>
	</form>
	</td>
  </tr>
</table>
<{include file="room/foot.html"}>
</body>
</center>
</html>