<{assign var="page_title" value="`$site_name`服务条款"}>
<{assign var="nav_id" value="`$nav_id`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
  <div class="content">
    <div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span></div>
    <div class="blank"></div>
    <div class="body_content">
      <div class="content_top"><h2><{$site_name}>服务条款</h2>
       </div>
      <div class="content_body"><{$content}></div>
       <div class="blank"></div>
    </div>
    </div>
</div>
<{include file="`$ThemeName`/footer.html"}>