<{assign var="page_title" value="市场库"}>
<{assign var="nav_id" value="7"}>
<{include file="`$ThemeName`/header.html"}>
<div class="adv mauto">
	<{ads typeid=1 row="8"}><a href="[link:url]">[field:src]</a><{/ads}>
</div>
<div class="container clearfix">
   <div class="main_left ">
	  <div class="price_info">
		   <h2><span class="more"><a href="news/list.php?typeid=1">更多<span class="raquo">&raquo;</span></a></span>价格行情 </h2>
			<ul class="rate_list">
			<{news magic="y" typeid=1 row=4 titlelen=34 infolen=35}>
			<li[field:style]>[field:url]</li>
			<{/news}>
			</ul>
			<div class="price_btm"></div>
	   </div>
	  <div class="main_left_img"><a href="market/list.php"><img src="<{$theme_img_path}>images/market_position.jpg" /></a></div>
   </div>
   <div class="main_right">
	
			<div class="freeregh">
				<img src="<{$theme_img_path}>images/freereg_01.jpg" class="fl" />
				<img src="<{$theme_img_path}>images/freereg_02.jpg" class="fr" />
			</div>
			<div class="freeregc">
				<strong>免费注册后您可以：</strong>
				<p class="fl freetit"><a>免费企业建站</a></p>
				<p class="fl freetit"><a>发布供求商机</a></p>
				<p class="fl freetit"><a>在线推广产品</a></p>
				<p class="fl freetit"><a>结交更多商友</a></p>
				<p class="fl mt10"><a href="member/"><img src="<{$theme_img_path}>images/freebtn.jpg" /></a></p>
			</div>
			<div class="freeregb">
				<img src="<{$theme_img_path}>images/freereg_03.jpg" class="fl" />
				<img src="<{$theme_img_path}>images/freereg_04.jpg" class="fr" />
			</div>

   </div>
   <div class="blank6"></div>
   <div class="main_left">
	<div class="nominate_market">
		<img src="<{$theme_img_path}>images/hotl.jpg" class="fl" />
		<img src="<{$theme_img_path}>images/hotr.jpg" class="fr" />
	 <h2>推荐市场</h2>
	  <ul class="nominate_list clearfix">
		<{market row=12 type="image"}>
		 <li><a href="[link:title]"><img src="[img:src]" width="100" height="80" alt="[field:title]" /></a>
		  <p><a href="[link:title]">[field:title]</a></p>
		</li>
		<{/market}>
	  </ul>
	  </div>
	  <div class="blank6"></div>
	  <div class="special_market">
	   <h2><span class="more"><a href="market/list.php" title="更多"><span class="raquo">&raquo;</span>更多专业市场</a></span>各地专业市场检索</h2>
	   	<table class="special_market_list">
        <{foreach from=$AreaItems name=AreaItems item=area_item key=area_key}>
          <tr>
            <th><a href="market/list.php?areaid=<{$area_item.id}>"><{$area_item.name}></a></th>
            <td>
            <{foreach from=$area_item.sub name=AreaItems2 key=area_key2 item=area_item2}>
            <a href="market/list.php?areaid=<{$area_item2.id}>"><span><{$area_item2.name}></span></a> <{/foreach}></td>
          </tr>
        <{/foreach}>
        </table>
	  </div>
   </div>
   <div class="main_right">
	 <div class="add_market">
		   <img src="<{$theme_img_path}>images/hotl.jpg" class="fl" />
		   <img src="<{$theme_img_path}>images/hotr.jpg" class="fr" />
			<h2><span class="intro"><a href="market/add.php">我要加入&raquo;</a></span>最新加入市场</h2>
			<ul class="add_market_list">
				<{market row=12}>
				<li><a href="[link:title]" title="[field:title]">[field:title]</a></li>
				<{/market}>
			</ul>
	 </div>
   </div> 
   <div class="blank6"></div>
   <div class="new_supply">
	 <h2>最新供求</h2>
	 <ul class="new_supply_list clearfix">
		<{offer row=10}>
		<li>[<a href="offer/list.php?typeid=[field:typeid]">[field:typename]</a>]&nbsp;<a href="[link:title]">[field:title]</a></li>
		<{/offer}>
	 </ul>
   </div>
</div>
<{include file="`$ThemeName`/footer.html"}>