<{assign var="page_title" value="`$page_title` - 资讯"}>
<{assign var="nav_id" value="6"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
  <div class="content">
    <div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span><{$item.title}></div>
    <div class="news_all">
      <div class="news_all_left">
        <div class="news_all_left_title">
          <span class="news_title_border"><{$item.title}></span><br />
            <span class="news_title_border2">来源:</span><{$item.source}>(<{$item.created|date_format:"%Y-%m-%d"}>)<span class="news_title_border2">分类：</span>[<{$item.typename}>]<span class="news_title_border2"> 关键字：</span><{foreach from=$item.tag name=fore1 item=data}><a href="tag.php?type=newses&keyword=<{$data.title|urlencode}>" target="_blank"><{$data.title}></a>&nbsp;<{/foreach}>
        </div>
        <div class="news_all_left_con">
          <{$item.content}>
          <div id="news_info">[<a href="javascript:window.close()">关闭窗口</a>] [<a href="javascript: window.print();">打印本页</a>] 浏览量：<{$item.clicked}></div>
        </div>
      </div>
      <div class="all_right">
        <div class="all_right_title">
          <h2>相关资讯</h2>
        </div>
        <div class="all_right_con">
          <ul>
          <{news row=10 titlelen=32}>
            <li>
              <p><a href="news/detail.php?id=[field:id]" title="[field:fulltitle]">[field:title]</a></p>
            </li>
          <{/news}>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="clear_float"></div>
</div>
<script>
$("#SearchFrm").attr("action","news/list.php");
$("#topMenuNews").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>