<{assign var="page_title" value="找商机"}>
<{include file="`$ThemeName`/header.html"}>
  <div class="blank6"></div>
  <div class="container clearfix">
    <div class="fullsrceen_ad"><img src="<{$theme_img_path}>images/ad_15.jpg" /></div>
     <div class="blank6"></div>
    <div class="offer_list">
      <div class="offer_list_top">
        <div class="offer_list_top1 fl">
          <div class="offer_list_top1_news">
            <div class="offer_list_top1_newslist">
              <h3><span>最新供求信息</span></h3>
            </div>
            <div class="offer_list_top1_newscon">
             
                <div class="title_time">
                  <h4><span id="currentDate">今天是<{$smarty.now|date_format:"%Y-%m-%d"}></span></h4>
                </div>
              <ul>
			  <{offer row=11}>
                <li class="even">
                <span class="even_width" ><a href="[link:title]" title="[field:title]">[field:title]</a></span>
                <span class="even_padding" >[[field:typename]]</span>
                <span class="even_padding">[field:pubdate]</span>
                
                </li>
				<{/offer}>
              </ul>
            </div>
          </div>
        </div>
        <div class="offer_list_right clearfix">
        <div class="offer_list_top2">
        <div class="ad_img"><img src="<{$theme_img_path}>images/phpbwb_athena.jpg" /></div>
        <div class="blank5"></div>            
              <div class="ad_text"><{ads typeid=4}><{/ads}></div>
        </div>
        <div class="offer_list_top3">
          <div class="offer_list_top3_title">
            <h2> 加入<{$site_name}></h2>
          </div>
          <div class="offer_list_top3_c">
            <div class="offer_list_top3_c1">
              <ul>
                <li>免费推广产口</li>
                <li>免费宣传公司</li>
                <li>查找买家信息</li>
                <li>结交商业伙伴</li>
              </ul>
              <div class="clear"></div>
            </div>
            <div class="offer_list_top3_c2">
              <h2><span><a href="member/" title="马上免费注册成为会员">马上免费注册成为会员</a></span></h2>
              想开展网上贸易，提升销量？<br />
              推荐您选择金牌会员：<br /><br />
              服务热线：<span class="font14" ><{$service_tel}></span>
              </div>
          </div>
        </div>
        </div>
        <!--top3 end -->
      </div>
     <div class="clear"></div>
    </div>
           <div class="offer_list_con">
                <div class="offer_list_con_left">
                    <div class="offer_list_con_left2">
                        <div class="offer_list_con_left_title"><h2><span>紧急采购</span></h2></div>
                        <div class="offer_list_con_left2_c offer_list_con_left_con">
                        <div><ul>
                        <{offer row=8}>
                        <li><a href="[link:title]">[field:title]</a></li>
                        <{/offer}>
                        </ul></div></div>
                    </div>
                    <div class="offer_list_con_left3">
                        <div class="offer_list_con_left_title"><h2><span>推荐供应商</span></h2></div>
                         <div  class="offer_list_con_left3_c offer_list_con_left_con"><div><ul>
                         <{company row=8}>
                         <li><a href="[link:title]">[field:title]</a></li>
                         <{/company}>
                         </ul></div></div>
                    </div>
                    <div class="offer_list_con_left4">
                        <div class="offer_list_con_left_title"><h2><span>库存商品</span></h2></div>
                         <div  class="offer_list_con_left4_c offer_list_con_left_con"><div><ul>
                         <{product row=8}>
                         <li><a href="[link:title]">[field:title]</a></li>
                         <{/product}>
                         </ul></div></div>
                    </div>
                </div>
                <div class="co_assort fr" >
            <h2>
                <img class="fl" src="<{$theme_img_path}>images/hotl.jpg"/>
                <img class="fr" src="<{$theme_img_path}>images/hotr.jpg"/>
                <p class="hot_title">
                    <b>行业分类</b>
                </p>
            </h2>
            <div class="co_assort_c" >
                <{foreach from=$IndustryList item=item0 key=key0 name=level_0}>
                <h3 class="cb"><em class="fl"><a href="offer/list.php?industryid=<{$item0.id}>"><{$item0.name}></a></em><p class="fr"><a href="offer/list.php?industryid=<{$item0.id}>">更多</a></p></h3>
                <{if $item0.sub}>
                <{foreach from=$item0.sub name=level_1_industry item=level1 key=key_level1}>
                <div class="fl">
                    <a href="offer/list.php?industryid=<{$level1.id}>" title="<{$level1.name}>" class="co_type_f"><{$level1.name}></a>
                    <br />
                    <{foreach from=$level1.sub name=level_2_industry item=level2 key=key_level2}>
                    <a href="offer/list.php?industryid=<{$level2.id}>" title="<{$level2.name}>"><{$level2.name}></a><em>|</em>
                    <{/foreach}>
                </div>
                <{/foreach}>
                <{/if}>
                <{/foreach}>
                <div class="cb"></div>
            </div>
        </div>
      </div> 
</div>
<script>
$("#SearchFrm").attr("action","offer/list.php");
$("#topMenuOffer").addClass("lcur");
</script>   
</script>
<{include file="`$ThemeName`/footer.html"}>