<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>公司动态-<{$cinfo.CompanyName}>&nbsp;<{$sitetitle}></title>
<style type="text/css">
<!--
body {
	margin-top: 3px;
}
-->
</style>
<link href="<{$I_PATH}>css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<{include file="$TplPath/top.html"}>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0"><tr><td><table width="778" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="7">&nbsp;</td>
        <td width="538" valign="top" style="padding-bottom:5px;padding-top:5px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="55"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left"><img src="<{$I_PATH}>images/cptu.gif" width="41" height="36" /><img src="<{$I_PATH}>images/news.gif" width="81" height="20" hspace="5" /></td>
                  </tr>
            </table></td>
          </tr>
          <tr>
            <td bgcolor="#F8F8F8" style="padding-top:5px;">
            <table width="95%" height="300" border="0" align="left" cellpadding="0" cellspacing="0">
        <tr> 
          <td>
          <div align="center"><{$ByPages}></div>
			<{foreach from=$News name=companynews item=n}>
            <table width="100%" height="77" border="0" cellpadding="2" cellspacing="2">
              <tr> 
                <td height="57"><img src="<{$I_PATH}>images/edit1.gif"> 
                  <a href="<{$Menus.news}>&id=<{$n.ID}>" class="linkred"><strong><{$n.Title}></strong></a><span class="time"> 
                  (<{$n.CreateDate|date_format:"%Y-%m-%d"}>) </span><br>
                  <{$n.Content|strip_tags|truncate:200}><br>
                  [<a href="<{$Menus.news}>&id=<{$n.ID}>">查看详细信息</a>] </td>
              </tr>
            </table>
			<{foreachelse}>
			<{/foreach}>
			<div align="center">
<hr size="1"><{$ByPages}></div></td>
        </tr>
      </table>
            </td>
          </tr>
        </table></td>
        <td align="right" valign="top"><{include file="$TplPath/menu.html"}></td>
      </tr>
    </table></td>
</tr>
<{include file="$TplPath/foot.html"}>
</body>
</html>
