<{assign var="page_title" value="商务室首页"}>
<{include file="header.html"}>
<script src="../scripts/jquery/progressbar.js"></script>
<script>
$(document).ready(function() {
    $("#service-pro").progressBar({ barImage: '../images/jquery/progressbg_red.gif'} );
});
</script>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
   <div class="main_content">
        <div class="main_content_left">
          <div class="visit_time">
            <img src="images/<{if $MemberGenger==1}>male.gif<{else}>female.gif<{/if}>">尊敬的：<{$UserName|default:$smarty.session.MemberName}>&nbsp;<{if $MemberGenger==1}>先生<{elseif $MemberGender==2}>女士<{/if}>，您好，您最近一次访问是<{$LastLogin}>
          </div>
          <div class="base_info">
              <h2>基本信息</h2>
              <table class="base_member">
              <tr>
                <th>&nbsp;</th>
                <td class="member_upgrade">您现在是<{$group.name}>(<a href="../member/upgrade.php?do=upgrade" title="升级为高级会员" target="_blank">立即升级?</a>)(<a href="../member/upgrade.php?do=charge" title="为账户充值" target="_blank">立即充值?</a>)</td>
              </tr>
              <tr>
                <th><img src="../images/group/<{$group.image}>" /></th>
                <td>本年度商业通服务期限: <{$MemberInfo.service_start_date|date_format:"%Y-%m-%d"}>至<{$MemberInfo.service_end_date|date_format:"%Y-%m-%d"}></td>
              </tr>
             
             <tr>
                <th></th>
                <td> 
					<div id="ProgressBar">
					<div id="Lable">
					<{if $service_days>=100}><strong>已到期?<a href="../member/upgrade.php?do=upgrade" target="_blank">立即升级</a>!</strong><{/if}>
					</div>
					<span class="progressBar" id="service-pro"><{$service_days}>%</span>
					</div>
				</td>
              </tr>
            </table>

          </div> 
           <div class="blank"></div>
           <div class="count_info">
              <h2>信息统计</h2> 
              <div class="count_info_content">
                <p class="info">信息：<{foreach from=$items_offer name=items_offer item=item key=key}><{$key}>：<{$item}>条<{if !$smarty.foreach.items_offer.last}> | <{/if}><{/foreach}></p>
                <p class="message">留言：普通短信 <{$pm.user|default:0}> 条，系统留言 <{$pm.system|default:0}> 条，询价信息 <{$pm.inquery|default:0}>条。</p>
                <p class="collect">收藏：<a href="favor.php">收藏的供求信息</a></p>
              </div>
           </div> 
         </div>
        <div class="main_content_right">
           <div class="notice">
              <h2>网站公告</h2>
              <ul>
				<{announce row=10}>
					<li><a href="../[link:title]" target="_blank">[field:title]</a></li>
				<{/announce}>
              </ul>
           </div>
        </div>
    </div>
</div>
<{include file="footer.html"}>

