<{assign var="page_title" value="友情链接"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
      <div class="tip_title">修改我的友情链接：</div>
        
	  <form name="linkeditfrm" method="post" action="<{$smarty.env.PHP_SELF}>">
	  <input type="hidden" name="formhash" value="<{$formhash}>">
	  <input type="hidden" name="id" value="<{$smarty.get.id}>"/>
	     <table class="offer_info_content">
              <tr>
                <th class="circle_left">显示名称：</th>
                 <td class="circle_right">
                <input name="spacelink[title]" type="text" id="companyname" value="<{$item.title}>"></td>
              </tr>
              <tr>
                <th>链接地址：</th>
                <td><input name="spacelink[url]" type="text" id="url" value="<{$item.url}>">（站内链接，无须加http://前缀）</td>
              </tr>
              <tr>
                <th>备注：</th>
                <td>
                <textarea name="spacelink[description]" rows="" cols="50"><{$item.description}></textarea>
                </td>
              </tr>
              <tr>
                <th class="circle_bottomleft"></th>
                <td class="circle_bottomright"></td>
              </tr>
          </table>
		<table class="trade_line">
          <tr>
             <td height="1" background="images/index_trade_line.gif"></td>
         </tr>
        <tr align="center" valign="bottom">
          <td height="40"><input type="submit" value= "填好了，提交！" name="save"></td>
        </tr>
      </table>
	  </form>
   </div>
   </div> 
<{include file="footer.html"}>