<{assign var="page_title" value="个人资料"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>
     <div class="hint">（提示：带<font class="red"> * </font>号的为必填项）</div>
	  <form name="companyeditfrm" action="personal.php" method="post" enctype="multipart/form-data">
	  <input type="hidden" name="formhash" value="<{$formhash}>">

	       <table class="offer_info_content">
                      <tr>
                        <th class="circle_left">姓名：</th>
                        <td class="circle_right"><input name="memberfield[last_name]" type="text" id="memberlastname" value="<{$item.last_name}>"><font color="#FF6600">*</font></td>
                      </tr>
                      
                      <tr>
                        <th>性别</th>
                        <td><{html_radios name="memberfield[gender]" options=$Genders checked=$item.gender|default:"1" separator=" "}></td>
                      </tr>
                      <tr>
                        <th>省/市：</th>
                        <td>
						<div id="dataArea">
							<select name="memberfield[area_id1]" id="dataMemberfieldAreaId1" class="level_1" style="width:120px;" ></select>
							<select name="memberfield[area_id2]" id="dataMemberfieldAreaId2" class="level_2" style="width:120px;"></select>
							<select name="memberfield[area_id3]" id="dataMemberfieldAreaId3" class="level_3" style="width:120px;"></select>
						</div>
						</td>
                      </tr>
                      <tr>
                        <th>地址:</th>
                        <td><input name="memberfield[address]" type="text" id="memberaddress" value="<{$item.address}>"></td>
                      </tr>
                      <tr>
                        <th>邮政编码:</th>
                        <td><input name="memberfield[zipcode]" type="text" id="memberzipcode" value="<{$item.zipcode}>"></td>
                      </tr>
                      <tr>
                        <th>QQ号码:</th>
                        <td><input name="memberfield[qq]" type="text" id="memberqq" value="<{$item.qq}>"></td>
                      </tr>
                      <tr>
                        <th>ICQ号码:</th>
                        <td><input name="memberfield[icq]" type="text" id="membericq" value="<{$item.icq}>"></td>
                      </tr>
                      <tr>
                        <th>Msn Messenger:</th>
                        <td><input name="memberfield[msn]" type="text" id="membermsn" value="<{$item.msn}>"></td>
                      </tr>
                      <tr>
                        <th>Yahoo Messenger: </th>
                        <td><input name="memberfield[yahoo]" type="text" id="memberyahoo" value="<{$item.yahoo}>"></td>
                      </tr>
                      <tr>
                        <th>联系电话</th>
                        <td><input name="memberfield[tel]" type="text" id="membertel" value="<{$item.tel}>"></td>
                      </tr>
                      <tr>
                        <th>传真号码</th>
                        <td><input name="memberfield[fax]" type="text" id="memberfax" value="<{$item.fax}>"></td>
                      </tr>
                      <tr>
                        <th>手机号码</th>
                        <td><input name="memberfield[mobile]" type="text" id="membermobile" value="<{$item.mobile}>"></td>
                      </tr>
                      <tr>
                        <th>个人主页</th>
                        <td><input name="memberfield[site_url]" type="text" id="site_url" value="<{$item.site_url}>"></td>
                      </tr>
                      <tr>
                        <th>联系Email：</th>
                        <td><input name="member[email]" type="text" id="memberemail" value="<{$item.email}>" size="32" disabled>(<a name="mod" href="javascript:;" onclick="javascript:$('#memberemail').attr('disabled',false);">修改</a>)</td>
                      </tr>
                      <tr>
                        <th>求职状态：</th>
                        <td><input type="radio" name="personal[resume_status]" value="1" <{if $item.ResumeStatus==1}>checked="checked"<{/if}>>我想求职<input type="radio" name="personal[resume_status]" value="0" <{if $item.resume_status==0}>checked="checked"<{/if}>>我不想求职</td>
                      </tr>
                      <tr>
                        <th>最高学历</th>
                        <td>
						<select name="personal[max_education]" id="MaxEducation">
						<{foreach from=$Educations name=Educations item=item1 key=key1}>
						<option value="<{$key}>" <{if $item1.max_education==$key1}>selected<{/if}>><{$item1}></option>
						<{/foreach}>
						</select>
						</td>
                      </tr>
                      <tr>
                        <th>个人头像：</th>
                        <td><input type="file" name="photo" id="MemberPhoto">
						<{if $item.photo}><br /><img src="<{$item.image}>" /><{/if}>
						</td>
                      </tr>
                       <tr>
                        <th>登录后跳转页面：</th>
                        <td><select name="member[office_redirect]" id="MemberOfficeRedirect">
							<{foreach from=$OfficeRedirects name=office_redirect key=key1 item=item1}>
							<option value="<{$key1}>" <{if $key1==$item.office_redirect}>selected<{/if}>><{$item1}></option>
							<{/foreach}>
                        </select></td>
                      </tr>
                        <tr>
                      <th class="circle_bottomleft"></th>
                        <td class="circle_bottomright"></td>
                      </tr>
                 </table>
         <table class="btn_save">
          <tr>
            <td>
                <input name="save" type="submit" id="save" onClick="return checkinput();" value="保存资料">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
    </table>
	</form>
  </div>
 </div>
<script language="javascript"> 
function IsURL(urlString)
{
	regExp = /(?:(?:http[s]?|ftp):\/\/)?[^\/\.]+?\.[^\.\\\/]+?\.\w{2,}$/i;
	if (urlString.match(regExp))return true;
	else return false;
}

function checkinput(){
	if($('#memberlastname').val()==""){
		alert("请输入您的姓名");
		$('#memberlastname').focus();
		return false;
	}
	if($('#MemberfieldSiteUrl').val()!=""){
		if(!IsURL($('#MemberfieldSiteUrl').val())){
			alert("您输入的网址有误");
			$('#MemberfieldSiteUrl').focus();
			return false;
		}
	}
	return true;
}
</script>
<script>
var cache_path = "../";
var area_id1 = <{$item.area_id1|default:0}> ;
var area_id2 = <{$item.area_id2|default:0}> ;
var area_id3 = <{$item.area_id3|default:0}> ;
</script>
<script src="../scripts/multi_select.js"></script>
<script src="../scripts/script_area.js"></script>
<{include file="footer.html"}>