<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 信息管理 &raquo; 公司库</p>
</div>
<div id="rightTop"> 
    <h3>公司库</h3> 
    <ul class="subnav">
		<li><a href="company.php">管理</a></li>
        <li><a href="company.php?do=edit">添加/编辑</a></li>
        <li><a class="btn1" href="companytype.php">类型</a></li>
    </ul>
</div>
<div class="info">
  <form method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="do" value="save" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 一行表示一个分类:</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:250px;height:100px;" name="data[sort]" id="dataSort"><{$sorts}></textarea>
		<label class="field_notice">如果需要添加新分类，请按回车并换行</label></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" value="保存" />
		</td>

      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>