<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 用户中心 &raquo; 会员中心 &raquo; 分类</p>
</div>
<div id="rightTop"> 
    <h3>会员</h3> 
    <ul class="subnav">
		<li><a href="member.php">管理</a></li>
        <li><a href="membertype.php">分类</a></li>
        <li><a class="btn1" href="membertype.php?do=edit">添加/编辑</a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="membertype.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 名称：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[membertype][name]" value="<{$item.name}>" /></td>
      </tr>   
      <tr>
        <th class="paddingT15"> 简介：</th>
        <td class="paddingT15 wordSpacing5">
		<textarea style="width:550px;height:50px;" name="data[membertype][description]"><{$item.descriptioin}></textarea>
		</td>
      </tr>
      <tr>
        <th class="paddingT15">默认会员组：</th>
        <td class="paddingT15 wordSpacing5">
        <select name="data[membertype][default_membergroup_id]" id="dataMembertypeGroupId">
        <{html_options options=$Membergroups selected=$item.default_membergroup_id}>
        </select>        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>