<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/prototype.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
</head>

<body leftmargin="10" topmargin="10">
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide"><tr>
  <td><div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">Console</a>&nbsp;&raquo;&nbsp;Ad Position Editor</div></td>
</tr></table>
<form name="editfrm" method="post" action="<{$smarty.server.PHP_SELF}>">
<input type="hidden" name="id" value="<{$smarty.get.id}>" />
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header">
  <td colspan="2">Add Ad Position</td>
</tr>

<tr>
  <td class="altbg1" width="50%"><strong>Display Name:</strong><br />
  This is displayed to the user in the business room to see the name of the</td>
  <td class="altbg2"><input type="text" name="adzone[name]" value="<{$info.AdzoneName}>"></td>
</tr>


<tr>
  <td class="altbg1"><strong>A brief description of</strong>:</td>
  <td class="altbg2"><textarea name="adzone[description]" rows="" cols=""><{$info.AdzoneDescription}></textarea></td>
</tr>

<tr>
  <td class="altbg1"><strong>Web pages where the name:</strong></td>
  <td class="altbg2"><input type="text" name="adzone[file_name]" value="<{$info.AdzoneFileName}>"></td>
</tr>
<tr>
<td class="altbg1"><strong>Ad Position Type:</strong></td>
<td class="altbg2"><input type="radio" name="adzone[what]" value="1" <{if $info.AdzoneWhat==1}>checked="checked"<{/if}>>Site Advertising<input type="radio" name="adzone[what]" value="2" <{if $info.AdzoneWhat==2}>checked="checked"<{/if}>>Station Advertising</td>
</tr>
<tbody>
<tr>
  <td class="altbg1"><strong>Ad Code:</strong></td>
  <td class="altbg2"><textarea name="adzone[additional_adwords]" rows="" cols=""><{$info.AdzoneAdditionalWords}></textarea></td>
</tr>
</tbody>
<tbody>
<tr>
<td class="altbg1"><strong>Price Description:</strong></td>
<td class="altbg2"><input type="text" name="adzone[price]" value="<{$info.AdzonePrice}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Container Width:</strong></td>
  <td class="altbg2"><input type="text" name="adzone[width]" value="<{$info.AdzoneWidth}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Container Height:</strong></td>
  <td class="altbg2"><input type="text" name="adzone[height]" value="<{$info.AdzoneHeight}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>The number of ads per line:</strong></td>
  <td class="altbg2"><input type="text" name="adzone[wrap]" value="<{$info.AdzoneWrap}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Container up to the number of ads:</strong></td>
  <td class="altbg2"><input name="adzone[max_ad]" type="text" id="adzone[max_ad]" value="<{$info.AdzoneMaxAd}>"></td>
</tr>
</tbody>
<tr><td colspan="2" class="altbg1"><div align="center">
  <input type="submit" name="save" value="Save" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"/>
</div></td>
</tr>
</table>
<br />
<center>
</center>
</form>
</td></tr></table>
<br /><br />
</body>
</html>

