<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>Console_<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
<script language="JavaScript">
function $(id) {
	return document.getElementById(id);
}

var collapsed = get_cookie('bbs_collapse');
function collapse_change(menucount) {
	if($('menu_' + menucount).style.display == 'none') {
		$('menu_' + menucount).style.display = '';collapsed = collapsed.replace('[' + menucount + ']' , '');
		$('menuimg_' + menucount).src = '<{$tpl_img_path}>admin/menu_reduce.gif';
	} else {
		$('menu_' + menucount).style.display = 'none';collapsed += '[' + menucount + ']';
		$('menuimg_' + menucount).src = '<{$tpl_img_path}>admin/menu_add.gif';
	}
	set_cookie('bbs_collapse', collapsed);
}
</script></head>
<body leftmargin="10" topmargin="10" onkeydown="refreshmainframe(event)">
<table width="100%" border="0" align="center" cellpadding="2" cellspacing="6">
<tr><td>
<!-- To confirm the addition do? -->
<form name="backupfrm" action="./backup.php" method="post">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header">
<td colspan="2">Backup plans set<a href="#" onclick="collapse_change('a45b0b68771fc480')"><img id="menuimg_a45b0b68771fc480" src="<{$tpl_img_path}>admin/menu_reduce.gif" border="0"/ style="float: right; margin-top: -12px; margin-right: 8px;"></a></td>
</tr>
<tbody id="menu_a45b0b68771fc480" style="display: yes">
<tr>
  <td width="60%" class="altbg1" ><b>Backup arrangements:</b><br>
      <span class="smalltxt">Manual backup: Only an administrator when the backup to the backup operation</span>
	  <br />
	  <span class="smalltxt">Automatic Backup: that every time an administrator to back up a landing on the</span></td>
  <td class="altbg2"><{html_radios name="u[backup_type]" options=$BackupTypes checked=$CurrentType|default:1 separator="<br>"}></td>
</tr>
<tr>
	<td width="60%" class="altbg1" ><strong>Backup Options</strong></td>
	<td class="altbg2"><div align="center"><a href="./backup.php?action=backup_now"><strong>Do a backup now>></strong></a></div></td>
</tr>
<tr>
	<td class="altbg1" ><strong>Database Restore</strong>
	<br />
	You can enter the SQL you have the backup file name, for example, db_20080820_QpWBXP.sql or db_20080820_QpWBXP (if it is compressed file, please unzip), the database restore operation
	</td>
	<td class="altbg2"><input type="text" name="sql_file_name" value="" />&nbsp;<input type="submit" name="restore" value="Restore" class="btn_mouseout" /></td>
</tr>
<tr>
  <td colspan="2" valign="middle" class="altbg1"><div  align="center"><input name="save" type="submit" id="save" value="Save"  class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'">
  </div></td>
  </tr>
</tbody>
</table>
<!-- :~Access Settings -->
</form>
</td></tr>
</table>
</body>
</html>
