<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>Console_<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="<{$JS_PATH}>js/prototype.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/popcalendar.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script src="<{$JS_PATH}>js/mixselect.js"></script>
<style>
img.framed { 
padding: 6px; 
border: 1px solid #CCC; 
background-color: #FFF; }
#honourDIV { text-align: left }
#honour {
margin: 0px;
padding: 0px;
list-style-type: none;
}
#honour li {
display: block;
width: 100px;
text-align: left;
float: left;
margin: 0px;
padding-top: 0.2em;
padding-right: 2px;
padding-bottom: 0.2em;
padding-left: 2px;
cursor: hand;
}
</style>
</head>
<body>
<table width="100%" border="0" cellpadding="2" cellspacing="6">
  <tr>
    <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide">
      <tr>
        <td><div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">
          Console
        </a>&nbsp;&raquo;&nbsp;Company Directory Information Editor</div></td>
      </tr>
    </table>
        <form name="companyfrm" action="company.php" method="post">
        <input type="hidden" name="id" value="<{$smarty.get.id}>" />
        <input type="hidden" name="cid" value="<{$smarty.get.id}>" />
<table width="100%"  border="0" cellpadding="5" cellspacing="1" class="tableborder">
            <tr class="header">
              <td colspan="2">Company library information</td>
            </tr>
                  <tr>
                    <td align="center" class="altbg1"><font color=red>* </font>Name
                    <td class="altbg2"><input name=company[name] type=text id="company[name]" value="<{$CompanyInfo.name}>" size=35>
                      Attribution User Name:
                      <input name=member[name] type=text id="member[name]" value="<{$CompanyInfo.MemberUserName}>"></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center">Sectors 
                    <td class="altbg2"><select name="aindustry" id="aindustry" USEDATA="dataSrc" SUBCLASS="1">
                            </select>
                              <select name="bindustry" id="bindustry" USEDATA="dataSrc" SUBCLASS="2">
                              </select>
                      Current sector  :
                      <{foreach from=$CurrentIndustry name=cui item=ci}>
                      <{$ci.IndustryName}>
                      <{if !$smarty.foreach.cui.last}>
                      &rarr;
                      <{/if}>
                      <{foreachelse}>
                      Empty
                      <{/foreach}>                          </td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center">Employees 
                    <td class="altbg2"><{html_options name="company[employee_amount]" id="employee_amount" options=$EmployeeAmounts selected=$CompanyInfo.employee_amount}></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Business model 
                    <td class="altbg2"><{html_checkboxes name="manage_type" options=$ManageTypes checked=$SelectedManageType}></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Business Type 
                    <td class="altbg2"><{html_options name="company[type_id]" id="companytype_id" options=$CompanyTypes selected=$CompanyInfo.type_id}></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Enterprise economic nature 
                    <td class="altbg2"><{html_options name="company[property]" id="company_property" options=$CompanyProperty selected=$CompanyInfo.property}></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> An annual turnover of 
                    <td class="altbg2"><{html_options name="company[AnnualRevenue]" id="AnnualRevenue" options=$CompanyAnual selected=$CompanyInfo.year_annual}></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Main products or services 
                    <td class="altbg2"><textarea name="company[main_prod]" cols="46" rows="4" id="main_prod"><{$CompanyInfo.main_prod}>
                        </textarea></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center">Principal place of business                  
                    <td class="altbg2"><input name="company[main_biz_place]" type="text" id="company[main_biz_place]" value="<{$CompanyInfo.main_biz_place}>" size="25"></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Company registration 
                    <td class="altbg2"><input name="company[reg_address]" type="text" id="reg_address" value="<{$CompanyInfo.reg_address}>" size="25"></td>
                  </tr>
                  <tr>
                    <td align="center" valign="top" class="altbg1"> About
                    <td class="altbg2"><textarea name="company[description]" cols="55" rows="8" wrap="VIRTUAL" id="description"><{$CompanyInfo.description}>
                            </textarea>
                      (1000-1200 characters)</td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Established 
                    <td class="altbg2"><input type="text" name="FoundDate" size="10" value='<{$CompanyInfo.found_date|date_format:"%Y-%m-%d"|default:"None"}>' id="date3" readonly>
<a href="javascript:;" onclick='showCalendar(this, $("date3"), "yyyy-mmmm-dd",null,0,-1,-1)'><img src="<{$tpl_img_path}>calendar.gif" border="0" alt=""></a>(In the format year - month - day)</td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center">Brand Name                  
                    <td class="altbg2"><input name=company[brand] type=text id="company[brand]" value="<{$CompanyInfo.main_brand}>" size=35></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Legal Representative 
                    <td class="altbg2"><input name="company[boss_name]" type="text" id="company[boss_name]" value="<{$CompanyInfo.boss_name}>" size="25">
                      Registered capital:
                      <{html_options name="company[reg_fund]" options=$CompanyFunds selected=$CompanyInfo.reg_fund}></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Major markets
                    <td border=1 bgcolor=#F7F7F7 ><{html_checkboxes name="company[main_market]" options=$MainMarkets checked=$SelectedMarket}></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Main customer base 
                    <td class="altbg2"><input name="company[main_customer]" type="text" id="main_customer" value="<{$CompanyInfo.main_customer}>" size="32">
                      (Such as supermarkets, packaging plant) </td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Bank 
                    <td class="altbg2"><input name=company[bank_from] type=text id="company[bank_from]" value="<{$CompanyInfo.bank_from}>">
                      
                      Account number:
                      <input name=company[bank_account] type=text id="company[bank_account]" value="<{$CompanyInfo.bank_account}>" size=35></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Contact 
                    <td class="altbg2"><input name="company[link_man]" type=text id="company[link_man]" value="<{$CompanyInfo.link_man}>">
                      Gender:
                      <{html_radios name="company[link_man_gender]" options=$Genders checked=$CompanyInfo.link_man_gender|default:0 separator=" "}></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Jobs 
                    <td class="altbg2"><select name="company[position]" id="company[position]">
                              <{html_options options=$LinkmanPositions selected=$CompanyInfo.position}>
                            </select>                          </td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Phone 
                    <td class="altbg2"><input name=tel[code] type=text id="tel[code]" value="<{$CompanyInfo.telcode}>" size=5>
                              <input name=tel[zone] type=text id="tel[zone]" value="<{$CompanyInfo.telzone}>" size=8>
                              <input name=tel[number] type=text id="tel[number]" value="<{$CompanyInfo.tel}>" size=15></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center">Fax 
                    <td class="altbg2"><input name=fax[code] type=text id="fax[code]" value="<{$CompanyInfo.faxcode}>" size=5>
                              <input name=fax[zone] type=text id="fax[zone]" value="<{$CompanyInfo.faxzone}>" size=8>
                              <input name=fax[number] type=text id="fax[number]" value="<{$CompanyInfo.fax}>" size=15></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center">Mobile 
                    <td class="altbg2"><input name=company[mobile] type=text id="company[mobile]" value="<{$CompanyInfo.mobile}>">                          </td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Area 
                    <td class="altbg2">                      
					<select name="countryid" id="countryid" USEDATA="dataSrc2" SUBCLASS="1">
                      </select>
<select name="provinceid" id="provinceid" USEDATA="dataSrc2" SUBCLASS="2">
                            </select>
 (Provincial / municipal)
                      <select name="cityid" id="cityid" USEDATA="dataSrc2" SUBCLASS="3">
                      </select>
                      (County / city / district) (If you do not choose, said they did not change)</td>
                  </tr>
                  <tr>
                    <td align="center" class="altbg1"> Address 
                    <td class="altbg2"><input name="company[address]" type="text" id="address" value="<{$CompanyInfo.address}>" size="32"></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center">Postcode                  
                    <td class="altbg2"><input name=company[zipcode] type=text id="company[zipcode]" value="<{$CompanyInfo.zipcode}>" size=6></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center"> Email 
                    <td class="altbg2"><input name=company[email] type=text id="company[email]" value="<{$CompanyInfo.email}>">
                      Website:
                      <input name=company[site_url] type=text id="company[site_url]" value="<{$CompanyInfo.site_url}>"></td>
                  </tr>
                  <tr>
                    <td class="altbg1" align="center">Home Templates                  
                    <td class="altbg2"><input name=company[style_id] type=text id="company[style_id]" value="<{$CompanyInfo.style_id}>"></td>
                  </tr>
            <tr class="header">
              <td colspan="2">Related Certificate</td>
            </tr>
                  <tr>
                  <td colspan="2" class="altbg2"><div id="honourDIV"><ul id="honour">
                  <{foreach from=$HonourResult name=c_a item=ca}>
                  <li><img src="<{$attachment_dir}><{$ca.AttachmentFileName}>" alt="" border="1" width="125" height="85" class="framed" /></li>
                  <{if $smarty.foreach.c_a.iteration is div by 5}>
                  <br />
                  <{/if}>
                  <{foreachelse}>
                  There is no data on
                  <{/foreach}>
                  </ul></div></tr>
                  <tr class="altbg1">
                    <td colspan="2" align="center">
                    <table border="0" cellpadding="5" cellspacing="0" class="button">
					<{if $smarty.get.id}>                        
					<tr>
                          <td><input  name="check[in]" type=submit id="check_in" value=" Vetted and approved, "  class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'" /></td>
                          <td><input  name="check[out]" type=submit id="check_out" value=" Do not pass muster " class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'" /></td>
                          <td><input  name="edit_company" type=submit id="edit_company" value=" Changes " class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'" /></td>
                        </tr>
					<{else}>
					<tr>
                          <td colspan="3"><input  name="edit_company" type=submit id="edit_company" value=" Save " class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'" /></td>
                        </tr>
					<{/if}>
                </table>                </tr>
              </table>        
      </form></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
<script language="javascript">
var linkage = new Linkage("dataSrc", "<{$JS_PATH}>data/xml/industry_option.xml");
linkage.BLANK_SELECT = "Select";
linkage.init();
var linkage2 = new Linkage("dataSrc2", "<{$JS_PATH}>data/xml/area.xml");
linkage2.BLANK_SELECT = "Select";
linkage2.init();
</script>