<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 广告 &raquo; 广告</p>
</div>
<div id="rightTop"> 
    <h3>广告</h3> 
    <ul class="subnav">
		<li><a href="ad.php">管理</a></li>
        <li><a class="btn1" href="ad.php?do=edit">添加/编辑</a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="ad.php" enctype="multipart/form-data" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$smarty.get.id}>" />  
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 广告标题：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="ad[title]" value="<{$item.title}>" /><label class="field_notice">广告显示文字</label>        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 广告描述：</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:550px;height:100px;" name="ad[description]" id="dataTradeContent"><{$item.description}></textarea></td>
      </tr>
      <tr>
        <th class="paddingT15"> 广告容器名称：</th>
        <td class="paddingT15 wordSpacing5">
		<select name="ad[adzone_id]" id="ad_adzone_id">
		<{foreach from=$Adzones item=z name=sel_adzone}>
		<option value="<{$z.id}>" <{if $z.id eq $item.adzone_id or $z.id eq $smarty.get.adzone_id}>selected<{/if}>>
		<{$z.name}>
		<{foreachelse}>
		<option value="0">请补充广告位置
		<{/foreach}>
		</select></td>
      </tr>
      <tr>
        <th class="paddingT15">链接方式：</th>
        <td class="paddingT15 wordSpacing5"><label for="Sourcetype1"><input type="radio" name="m_sourcetype" id="Sourcetype1" value="1" onclick="$('#divSourceType1').show();$('#divSourceType2').hide();"/>本地上传</label><label for="Sourcetype2"><input type="radio" name="m_sourcetype" id="Sourcetype2" value="2" onclick="$('#divSourceType2').show();$('#divSourceType1').hide();"/>链接地址</label>
          </td>
      </tr>
      <tbody id="divSourceType2" style="display:none">
      <tr>
        <th class="paddingT15">远程地址：</th>
        <td class="paddingT15 wordSpacing5"><input type="text" name="ad[source_url]" value="<{$item.source_url}>"></td>
      </tr>
      </tbody>
      <tbody id="divSourceType1" style="display:none">
      <tr>
        <th class="paddingT15">附件上传：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" type="file" name="attach" /></td>
      </tr>
      </tbody>
      <tr>
        <th class="paddingT15"> 宽度：</th>
        <td class="paddingT15 wordSpacing5">
		<input type="text" name="ad[width]" value="<{$item.width}>" style="width: 35px;" /><label class="field_notice">如果是图片或者Flash，系统会自动获得</label></td>
      </tr>
      <tr>
        <th class="paddingT15"> 高度：</th>
        <td class="paddingT15 wordSpacing5">
		<input type="text" name="ad[height]"  value="<{$item.height}>" style="width: 35px;" /><label class="field_notice">如果是图片或者Flash，系统会自动获得</label></td>
      </tr>
      <tr>
        <th class="paddingT15">指向地址：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="ad[target_url]" value="<{$item.target_url}>" />        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 显示顺序：</th>
        <td class="paddingT15 wordSpacing5">
		<input type="text" name="ad[priority]" id="AdPriority" value="<{$item.priority|default:0}>" style="width: 35px;" /></td>
      </tr>
      <tr>
        <th class="paddingT15">是否上线：</th>
        <td class="paddingT15 wordSpacing5">          
		<{html_radios name="ad[state]" options=$AdsStatus checked=$item.state|default:"1" separator=" "}>        </td>
      </tr>
      <tr>
        <th class="paddingT15">是否有效：</th>
        <td class="paddingT15 wordSpacing5">          
		<{html_radios name="ad[status]" options=$AdsStatus checked=$item.status|default:"1" separator=" "}></td>
      </tr>
      <tr>
        <th class="paddingT15">有效期至：</th>
        <td class="paddingT15 wordSpacing5"> 
		<input name="data[end_date]" value="<{$item.end_date}>" type="text" id="EndDate" class="Wdate" onclick="WdatePicker();" /><label class="field_notice">为空表示永不过期</label></td>
      </tr>
      <tr>
        <th class="paddingT15">到期后显示图片：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="ad[picture_replace]" value="<{if $item.id}><{$item.picture_replace}><{else}>images/nopicture_small.gif<{$item.picture_replace}><{/if}>" /><{if $item.picture_replace}><img src="<{$item.picture_replace}>" /><{/if}><label class="field_notice">为空表示到期后即不显示任何媒体</label></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存发布" />		</td>
      </tr>
    </table>
  </form>
</div>
<{fetch file="../scripts/date.js"}></script>
<script>
jQuery(document).ready(function($) {
	if(ad_url!=""){
		$('#Sourcetype2').attr("checked", "checked");
	}
})
</script>
<{include file="footer.html"}>