<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>管理员</p> 
    <ul class="subnav">
		<li><a class="btn1" href="adminer.php">管理</a></li>
		<li><span>账号设置</span></li>
        <li><a class="btn1" href="adminer.php?do=password">密码修改</a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="adminer.php" id="EditFrm" name="edit_frm">
    <table class="infoTable">
	<{if $item.member_id}>
	  <input type="hidden" name="member_id" value="<{$item.member_id}>" />
      <tr>
        <th class="paddingT15"> 登陆用户名：</th>
        <td class="paddingT15 wordSpacing5"><{$item.username}></td>
      </tr>
	<{else}>
      <tr>
        <th class="paddingT15"> 用户名：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[username]" value="" /></td>
      </tr>
	<{/if}>
      <tr>
        <th class="paddingT15"> 姓名：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[adminfield][last_name]" value="<{$item.last_name}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> Email：</th>
        <td class="paddingT15 wordSpacing5"><{$item.email}></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{include file="footer.html"}>