<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>行业分类</p> 
    <ul class="subnav">
		<li><span>管理</span></li>
        <li><a class="btn1" href="industry.php?do=edit">添加/编辑</a></li>
        <li><a class="btn1" href="industry.php?do=clear">清理</a></li>
        <li><a class="btn1" href="industry.php?do=refresh">更新缓存</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl"> 
        <form name="search_frm" id="SearchFrm" method="get"> 
        <input type="hidden" name="do" value="search" />
             <div class="left"> 
				分类名称关键字 : <input class="queryInput" type="text" name="name" value="" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="查询" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="industry.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
		  <td><label for="idAll">名称</label></td>
		  <td>分级示例</td>
		  <td>分类</td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>">
		  <input type="hidden" name="iid[]" value="<{$item.id}>" />
		  </td>
		  <td><label for="item_<{$item.id}>"><input type="text" name="data[iname][]" value="<{$item.name}>"></label></td>
		  <td><{$item.title}></td>
		  <td><a title="<{$Types[$item.industrytype_id]}>" href="industry.php?do=search&typeid=<{$item.industrytype_id}>"><{$Types[$item.industrytype_id]}></a></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="industry.php?do=level&action=up&id=<{$item.id}><{$addParams}>"><img src="images/up.gif" border="0" alt="提升"></a>&nbsp;<a href="industry.php?do=level&action=down&id=<{$item.id}><{$addParams}>"><img src="images/down.gif" border="0" alt="下沉"></a>&nbsp;<a href="industry.php?do=edit&id=<{$item.id}><{$addParams}>"><img src="images/edit.gif" border="0" alt="编辑"></a></span>		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="5">没有符合条件的记录</td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del" value="删除" class="formbtn batchButton"/>
      <input type="submit" name="update_batch" value="更新" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>