<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>企业招聘</p> 
    <ul class="subnav">
		<li><span>管理</span></li>
        <li><a class="btn1" href="javascript:;">查看</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl"> 
        <form name="search_frm" id="SearchFrm" method="get">
        <input type="hidden" name="do" value="search" />
             <div class="left">
				职位关键字 : <input class="queryInput" type="text" name="q" value="" /> 
                <input type="submit" name="search" id="Search" class="formbtn" value="查询" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
		  <td><label for="idAll">职位名称</label></td>
		  <td><span>公司名称</span></td>
		  <td>是否有效</td>
		  <td><span>发布时间</span></td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.jobname}></label><{if $item.pubdate>=$today_timestamp}>&nbsp;<img src="images/new.gif" /><{/if}></td>
		  <td><{$item.companyname}></td>
		  <td><{$CheckStatus[$item.jobstatus]}></td>
		  <td><{$item.pubdate|date_format:"%Y-%m-%d"}></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="job.php?id=<{$item.id}>&do=del"><img src="images/del.gif" border="0" alt="删除"></a>&nbsp;&nbsp;<a href="job.php?do=view&id=<{$item.id}>"><img src="images/preview.gif" border="0" alt="查看"></a></span></td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="6">没有符合条件的记录</td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del" value="删除" class="formbtn batchButton"/>
      <select name="pb_action" id="PbAction" onchange="javascript:document.list_frm.submit()">
        <option value="-1">选择操作</option>
        <optgroup label="操作列表">
        <option value="0">审核</option>
        <option value="1">审核通过</option>
        <option value="2">审核不通过</option>
        <option value="none">等待审核</option>
        <option value="3">无效</option>
        </optgroup>
      </select>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>