<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>专业市场</p> 
    <ul class="subnav">
		<li><span>管理</span></li>
        <li><a class="btn1" href="market.php?do=edit">添加/编辑</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl"> 
        <form name="search_frm" action="market.php" id="SearchFrm" method="get">
        <input type="hidden" name="do" value="search" />
             <div class="left">
				关键字 : <input class="queryInput" type="text" name="q" value="" />
                <span id="dataArea">
						<select name="data[market][area_id1]" id="dataMarketAreaId1" class="level_1" style="width:120px;" ></select>
						<select name="data[market][area_id2]" id="dataMarketAreaId2" class="level_2" style="width:120px;"></select>
						<select name="data[market][area_id3]" id="dataMarketAreaId3" class="level_3" style="width:120px;"></select>
				</span>
                <input type="submit" name="search" id="Search" class="formbtn" value="查询" /> 
            </div> 
        </form> 
    </div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
		  <td><label for="idAll">名称</label></td>
		  <td><span>行业类别</span></td>
		  <td>所在地区</td>
		  <td><span>是否显示</span></td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.name}></label></td>
		  <td><{$item.industryname}></td>
		  <td><{$item.areaname}></td>
		  <td><{if $item.status==1}>显示<{else}>不显示<{/if}></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="market.php?id=<{$item.id}>&do=del<{$addParams}>"><img src="images/del.gif" border="0" alt="删除"></a>&nbsp;&nbsp;<a href="market.php?do=edit&id=<{$item.id}><{$addParams}>"><img src="images/edit.gif" border="0" alt="编辑"></a>&nbsp;&nbsp;<a href="<{$SiteUrl}>market/detail.php?id=<{$item.id}>" target="_blank"><img src="images/preview.gif" border="0" alt="预览"></a></span>		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="6">没有符合条件的记录</td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del" value="删除" class="formbtn batchButton"/>
      <input type="submit" name="check" value="显示" class="formbtn batchButton"/>
      <input type="submit" name="uncheck" value="不显示" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<script>
var cache_path = "../";
</script>
<script src="../scripts/multi_select.js"></script>
<script src="../scripts/script_area.js"></script>
<{include file="footer.html"}>