<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="currentPosition">
	<p><{$_your_current_position}> 全局 &raquo; 自定义页面</p>
</div>
<div id="rightTop"> 
    <h3>自定义页面</h3> 
    <ul class="subnav">
		<li><a href="userpage.php">管理</a></li>
        <li><a class="btn1" href="userpage.php?do=edit">添加/编辑</a></li>
    </ul>
</div>
<div class="info">
  <form method="post" action="userpage.php" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$item.id}>" />
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 显示名称：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[userpage][title]" value="<{$item.title}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15">缩略名：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[userpage][name]" value="<{$item.name}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15"> 摘要：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[userpage][digest]" value="<{$item.digest}>" /></td>
      </tr>
      <tr>
        <th class="paddingT15">显示顺序：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[userpage][display_order]" value="<{$item.display_order}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15">链接地址：</th>
        <td class="paddingT15 wordSpacing5"><input class="infoTableInput2" name="data[userpage][url]" value="<{$item.url}>" type="text" /></td>
      </tr>
      <tr>
        <th class="paddingT15">模板文件：</th>
        <td class="paddingT15 wordSpacing5"><select name="data[userpage][templet_name]" /><option value="page.index">默认模板</option><{$other_templets}></select><label class="field_notice">某些页面有定制的模板，以“page.”为前缀，不填则默认为“page.index<{$tplext}>”。</label></td>
      </tr>
      <tr>
        <th class="paddingT15"> 详细内容：</th>
        <td class="paddingT15 wordSpacing5"><textarea style="width:550px;height:100px;" name="data[userpage][content]" id="UserpageContent"><{$item.content}></textarea></td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存发布" />		</td>
      </tr>
    </table>
  </form>
</div>
<{editor type="ckeditor" element="UserpageContent" toolbar="Full"}>
<{include file="footer.html"}>