<div class="clear15"></div>
<div class="wd foot">
	<div class="f12"><{userpage}></div>
</div>
<div class="wd">
	<p class="foot_p1 str">Powered by <a href="http://www.phpb2b.com/" target="_blank" title="PHPB2B,Free open-source PHP e-commerce applications">PHPB2B</a> <{$UaVersion}><br />&copy; 2006-2009 Ualink&trade;</p>
	<p class="foot_p2">Copyright:<{$companyname}> &copy; <{$SiteUrl}>. ( <a href="http://www.miibeian.gov.cn/" target="_blank" class="link12_red" style=""><{$icpnumber}></a>)<br />&nbsp;Web Customer Service Hotline:<{$servicetel}> Web Sales Hotline:<{$saletel}>
                    <{im type="qq" id="`$serviceqq`"}>&nbsp;<{im type="msn" id="`$servicemsn`"}><a href="javascript:;" onclick="window.scrollTo(0,0);" id="GoTop" title="Back to the top">Top</a></small></p>
</div>