	<div class="leftbar">
		<div class="h_tt1"><h2>Announcements</h2></div>
		<div class="h_c1">
			<ul>
				<{announce max=10}>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear13"></div>
		<div class="h_tt1 h_tt2"><h2>Service</h2></div>
		<div class="h_c1">
			<div class="str f13">Customer Tel:<br /><{$servicetel}></div>
			<div class="clear"></div>
		</div>
		<div class="clear13"></div>
		<div class="h_tt1 h_tt3"><h2>Advice and comments</h2></div>
		<div class="h_c1">
			<form action="mailto:<{$serviceemail}>">
			<p class="h_line1">
				<textarea name="user_question" rows="5" wrap="VIRTUAL" class="linehui">For questions, please give us a message！</textarea>
			</p>
			<p class="h_line1 h_line2">
				<input type="text" name="user_email" value="Your Email:" />
			</p>
			<p class="h_line3">
				<input type="submit" value="Submit" name="mail_question" class="str" />
			</p>
			</form>
		</div>
	</div>
