<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>Markets&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
<{$xajax_javascript}>
<script language="javascript">
xajax_rebuildHTML("market/index.php");
</script>
</head>

<body>
<{assign var="market_li" value="cor over"}>
<{include file="`$ThemeName`/element.header.html"}>
<div class="wd">
	<div class="w_left1">
		<div class="sck_ss">
			<form name="market_s_frm" action="<{$SiteUrl}>market/list.php" method="get">
				<p class="sck_p1"></p>
				<h2>Search: </h2>
				<input type="text" name="market[keyword]" value="" id="" class="sck_in1" onmouseover="this.select();" />
				<input type="submit" value="Search" name="search" class="f14 str sck_in2" />
				<p class="sck_p2"></p>
			</form>
		</div>
		<div class="clear9"></div>
		<div class="bt cpk_bt2 gs_bt3"><h2>By area:</h2><p>&nbsp;</p></div>
		<div class="cpk_c4">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center">
			<table cellSpacing=0 cellPadding=0 border=0>
              <tbody>
                <tr>
                  <td height=53><img 
                  src="<{$tpl_img_path}>default/world.jpg" alt="" width=623 height=316 border=0 
                  useMap=#Map2></td>
                </tr>
              </tbody>
            </table>
              <MAP name="Map2">
                <area shape="RECT" coords="426,79,468,97" href="<{$UrlContainer.common}>market/list.php?filter=province,id,33" alt="China">
            </MAP></td>
            <td align="center">Markets Total：<br /><font color=#ff3300><{$MarketAmount|number_format:""}></font></td>
          </tr>
        </table>
	  </div>
		<div class="clear9"></div>
		<a href="<{$UrlContainer.common}>market/add.php" class="sck_a1">I would like to increase the market information</a><a href="<{$UrlContainer.user}>" class="sck_a1 sck_a2">I would like to enter the market base</a>
	</div>
	<div class="w_right1">
		<div class="cpk_t1"></div>
		<div class="cpk_c2 sck_tab1">
			<div class="bt cpk_bt1"><h2><a href="<{$UrlContainer.common}>market/list.php">New Market Library<font 
                              color=#ff3300><{$MarketAmount|number_format:""}></font>.</a></h2><p class="padright10"><a href="<{$UrlContainer.common}>market/list.php">More</a></p></div>
			<ul class="ul21">
				<{market max=13}>
			</ul>
		</div>
		<div class="clear9"></div>
		<div><img src="<{$tpl_img_path}>default/mpic2.jpg" alt="happy days" /></div>
	</div>
</div>
<div class="clear9"></div>
<div class="wd">
	<div class="gs_tab4">
		<div class="bt gs_bt4"><h2><a href="<{$SiteUrl}>news/list.php?type_id=1"><{newstype id=1}></a></h2><p>&nbsp;</p></div>
		<div class="gs_c1 sck_tab4">
			<ul class="ul21 ula"><{news max=9 type_id=1}></ul>
		</div>
	</div>
	<div class="gs_tab5">
		<div class="sck_t1"></div>
		<div class="sck_tab5">
			<ul class="ula"><{offer showdate=n max=20 templet="offer_market"}></ul>
		</div>
	</div>
</div>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
