<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title><{$IndsutryName|default:"Procuct"}>&laquo;Procucts&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
</head>

<body>
<{assign var="product_li" value="cor over"}>
<{include file="`$ThemeName`/element.header.html"}>
<div class="wd rmgjz mbx">
	<p><span class="str">Your current position:</span><{$pagePosition}>
</div>
<div class="clear9"></div>
<div class="wd">
	<div class="cp_left2">
		<div class="cp_tab1">
			<p class="cp_p1"></p><p class="cp_p1 cp_p2"></p><p class="cp_p1 cp_p3"></p><p class="cp_p1 cp_p4"></p>
			<div class="bt cp_bt4"><h2 class="f12">Select by Category</h2></div>
			<ul class="cp_ul2">
			<{foreach from=$OtherIndustry name=otherind item=item}>
				<li><a href="<{$SiteUrl}>product/list.php?industryname=<{$item.Name|urlencode}>" title="<{$item.Name}>"><{$item.Name}></a><em>(<{$item.BuyAmount}>)</em></li>
			<{foreachelse}>
				<li>No sub-categories under the classification</li>
			<{/foreach}>
			</ul>
		</div>
		<div class="clear9"></div>
		<div class="cp_tab2">
              <form name="product_search_frm" action="./list.php?sid=<{$smarty.get.sid}>" method="get">
			  <input type="hidden" name="industryname" value="<{$smarty.get.industryname}>" />
			<p class="cp_p7">
				<em>By industry</em>
				<select name="sid" onchange="location.href='list.php?sid='+this.options[this.selectedIndex].value+'&areaid=<{$smarty.get.areaid}>'">
					<option value="0">Open</option>
					<{foreach from=$Industries name=Industries item=item key=key}>
					<option value="<{$key}>" <{if $key==$smarty.get.sid}>selected="selected"<{/if}>><{$item}></option>
					<{/foreach}>
				</select>
				<em>By area</em>
				<select name="areaid" onchange="location.href='list.php?industryname=<{$smarty.get.sid}>&areaid='+this.options[this.selectedIndex].value;">
					<option value="0">Open</option>
					<{foreach from=$Areas name=Areas item=item key=key}>
					<option value="<{$key}>" <{if $key==$smarty.get.areaid}>selected="selected"<{/if}>><{$item}></option>
					<{/foreach}>
				</select>
			</p>
			</form>
		</div>
		<div class="clear9"></div>
		<div class="cp_tab4">
			<ul class="cp_ul3">
				<li class="li1">Image</li>
				<li class="li2"><p>Product Information</p></li>
				<li class="li3">Reputation index</li>
				<li class="li3">Online Contact</li>
				<li class="li3">&nbsp;</li>
			</ul>
<!-- 列表供求 -->
<{foreach item=prod from=$Lists key=count}>
			<ul class="cp_ul4">
				<li class="li1"><img src="<{$attachment_dir}><{$prod.ProductPicture}>.small.jpg" border=0 alt="<{$prod.Name}>" width="95" height="75"></li>
				<li class="li2">
					<a href="content.php?id=<{$prod.ID}>" class="f14 str" title="<{$prod.Name}>"><{$prod.Name|strip_tags|replace:$smarty.get.skeyword:$searchwords}></a><em><{$prod.created}></em>
            <br />
            <{$prod.Description|strip_tags|truncate:150}></p>
				</li>
				<li class="li3"><img src="<{$tpl_img_path}>default/type/<{$prod.Membertype|default:"default"}>.gif"></li>
				<li class="li3"><em class="str"><a href="<{$UrlContainer.common}>space.php?do=feedback&userid=<{$prod.UserName}>" title="Feedback">Feedback</a></li>
				<li class="li3"></li>
			</ul>
<{/foreach}>
<!-- 列表供求结束 -->
			<div class="cp_page f14"><{$ByPages}></div>
		</div>
	</div>
</div>
<div class="clear15"></div>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
