<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>控制台_<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="css/main.css"></head>
<body bgcolor="#FFFFFF">
<table width="107%" height="100%"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="13" colspan="3" background="<{$tpl_img_path}>admin/edge_top.gif">&nbsp;</td>
  </tr>
  <tr>
    <td width="8" align="center" bgcolor="#FFF4EE">&nbsp;</td>
    <td width="746" align="center" valign="top">
	<table width="96%"  border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="6"></td>
        </tr>
        <tr>
          <td align="center"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="15"><img src="<{$tpl_img_path}>admin/path_bg_l.gif" width="15" height="38"></td>
              <td background="<{$tpl_img_path}>admin/path_bg_m.gif"><img src="<{$tpl_img_path}>admin/flash.gif" width="18" height="18" align="absmiddle"> <span class="blue_2">您当前的位置：</span><a href="#" onClick="parent.main.location='home.php';return false;">控制台</a>&nbsp;&raquo;&nbsp;产品分类管理</td>
              <td width="15"><img src="<{$tpl_img_path}>admin/path_bg_r.gif" width="15" height="38"></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td><br>
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr bgColor="#ffffff" height=32>
                <td align="center" style="WORD-BREAK: break-all"><table border="0" align="center" cellpadding="5" cellspacing="0">
                  <form name="searchfrm" method="post" action="producttype.php">
                    <tbody>
                      <tr bgColor="#ffffff" height=32>
                        <td align=left style="WORD-BREAK: break-all">                              我要查找：</TD>
                        <td align=left style="WORD-BREAK: break-all"><select name=search_type>
                          <option value="1" selected>分类名称</option>
                          <option value="2">公司名称</option>
                                                                                                </select>
                        <input size=25 name=keyword></TD>
                        <td style="WORD-BREAK: break-all" align=left><input name=search value=" 查 询 " type=submit></TD>
                        </tr>
                    </tbody>
                  </form>
                </table>                </TD>
              </tr>
              <tr>
                <td height="20" align="center">&nbsp;</TD>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="center"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>
            <form name="typelistfrm" method="post" action="producttype.php">
				<table width="100%"  border="0" cellpadding="5" cellspacing="1" bgcolor="#4DA6FF">
                      <tr bgcolor="#D2EAFD"> 
                        <td width="8%" height="30" align="center"><input name="typeidAll" type="checkbox" id="typeidAll" title="全选"></td>
                        <td align="center" class="orange_B">分类名称</td>
                        <td align="center" class="orange_B">公司名称</td>
                        <td width="15%" align="center" class="orange_B"><strong>排列位置</strong></td>
                        <td width="12%" align="center" class="orange_B"><strong>操作</strong></td>
                    </tr>
					<!-- single product_type -->
					<{foreach from=$ProductTypes name=ptypes item=pt}>
                  <tr bgcolor="<{cycle values=#eeeeee,#ffffff}>">
                    <td height="30" align="center"><input name="typeid[]" type="checkbox" id="typeid[]" title="<{$pt.ID}>" value="<{$pt.ID}>"></td>
                    <td align="center"><{$pt.Name}></td>
                    <td align="center"><{$pt.CompanyName}></td>
                    <td align="center"><{$pt.Level}></td>
                    <td align="center"><a href="#"><img src="<{$tpl_img_path}>admin/mod.gif" border="0" alt="修改"></a></td>
                  </tr>
				  <{/foreach}>
                </table>
            </form>
				</td>
              </tr>
              <tr>
                <td><br>
                    <table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#D2EAFD">
                      <tr>
                        <td><table border="0" cellpadding="5" cellspacing="0" class="button">
                            <tr>
                              <td><input type=submit value=" 删 除 "  name="del"></td>
                              <td>&nbsp;</td>
                            </tr>
                        </table></td>
                      </tr>
                  </table></td>
              </tr>
          </table>          </td>
        </tr>
        
        <tr>
          <td height="40" align="right"><table width="100%" height=30 border="0" cellpadding=5 cellspacing="0">
              <tbody>
                <tr vAlign=baseline height=30>
                  <td align=left><div align="center"><{$ByPages}></div></TD>
                </tr>
              </tbody>
          </table></td>
        </tr>
      </table>
      <br>
    </td>
    <td width="61" align="center" bgcolor="#FFF4EE">&nbsp;</td>
  </tr>
  <tr bgcolor="#D2EAFD"> 
    <td height="8" colspan="3"></td>
  </tr>
</table>
</body>
</html>
