<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/prototype.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/popcalendar.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
<script>
function hideorshow(Div1,Div2){
$(Div1).style.display = 'block';
$(Div2).style.display = 'none';
}
</script>
</head>

<body leftmargin="10" topmargin="10">
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide"><tr>
  <td><div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">控制台</a>&nbsp;&raquo;&nbsp;<a href="./trade.php?action=list">供求信息管理</a></div></td>
</tr></table>
      <form name="tradeaddfrm" action="./trade.php" method="post" enctype="multipart/form-data">
        <{if $smarty.get.id!=""}>
        <input type="hidden" name="oldimgname" value="<{$TradeInfo.TradePicture}>">
        <input type="hidden" name="id" value="<{$smarty.get.id}>">
        <{/if}>
        <table width="100%"  border="0" cellspacing="1" class="tableborder">
			<tr class="header">
			  <td colspan="4">供求管理</td>
			</tr>
          <tr>
            <td align="center" class="altbg1"><div align="right">用户名</div></td>
            <td class="altbg2"><span class="menu">
              <input type="text" name="offer[user_name]" value="<{$TradeInfo.MemberName}>" /></span></td>
            <td class="altbg1"><div align="right">公司名</div></td>
            <td class="altbg2"><span class="menu">
              <input type="text" name="company_name" id="CompanyName" value="<{$TradeInfo.CompanyName}>" /></span></td>
          </tr>
          <tr>
            <td align="center" class="altbg1"><div align="right"><span class="bwhitefont"><font color=red>*</font>求购主题 </span> </div></td>
            <td class="altbg2"><span class="menu">
              <input type=text name=trade[topic] value="<{$TradeInfo.Topic}>">
            </span> </td>
            <td class="altbg1"><div align="right">求购关键字</div></td>
            <td class="altbg2"><span class="menu">
              <input name=trade[keywords] type=text id="keywords" value="<{$TradeInfo.Keywords}>">
            </span> (多个请用&quot;,&quot;号隔开) </td>
          </tr>
          <tr>
            <td align="center" class="altbg1"><div align="right"><span class="bwhitefont"><font color=red>*</font>行业类别</span> </div></td>
            <td width="38%" class="altbg2"><{$TradeInfo.IndustryName}></td>
            <td width="12%" class="altbg1"><div align="right">所在地区</div></td>
            <td width="39%" class="altbg2"><{$TradeInfo.Province}><{$TradeInfo.City}></td>
          </tr>
          <tr>
            <td align="center" class="altbg1"><div align="right"><span class="bwhitefont">价格说明 </span> </div></td>
            <td class="altbg2"><span class="menu">
              <input name="trade[price]" type="text" id="trade[price]" value="<{$TradeInfo.Price}>">
            </span></td>
            <td class="altbg1"><div align="right"><span class="bwhitefont">包装说明</span></div></td>
            <td class="altbg2"><span class="menu">
              <input name="trade[packing]" type="text" id="trade[packing]" value="<{$TradeInfo.Package}>">
            </span></td>
          </tr>
          <tr>
            <td align="center" class="altbg1"><div align="right"><span class="bwhitefont">产品规格 </span> </div></td>
            <td class="altbg2"><span class="menu">
              <input name="trade[spec]" type="text" id="trade[spec]" value="<{$TradeInfo.Spec}>">
            </span></td>
            <td class="altbg1"><div align="right"><span class="bwhitefont">产品数量 </span> </div></td>
            <td class="altbg2"><span class="menu">
              <input name="trade[quantity]" type="text" id="trade[quantity]" value="<{$TradeInfo.Quantity}>">
            </span></td>
          </tr>
          <tr>
            <td align="center" class="altbg1"><div align="right">产品型号</div></td>
            <td  class="altbg2" ><span class="menu">
              <input name=trade[sn] type=text id="trade[sn]" value="<{$TradeInfo.SN}>">
            </span></td>
            <td class="altbg1" border=1 ><div align="right">对应产品编号</div></td>
            <td  class="altbg2" ><span class="menu">
              <input name=trade[product_id] type=text id="trade[product_id]" value="<{$TradeInfo.ProductID}>">
            </span></td>
          </tr>
          <tr>
            <td align="center" class="altbg1"><div align="right">发布时间</div></td>
            <td  class="altbg2" ><span class="menu"><input type="text" name="submittime" size="10" value='<{$TradeInfo.PublishDate|date_format:"%Y-%m-%d"|default:"None"}>' id="date1" readonly>
<a href="javascript:;" onclick='showCalendar(this, $("date1"), "yyyy-mmmm-dd",null,0,-1,-1)'><img src="<{$tpl_img_path}>calendar.gif" border="0" alt=""></a></span></td>
            <td class="altbg1" border=1 ><div align="right">结束时间</div></td>
            <td class="altbg2" ><span class="menu"><input type="text" name="expiretime" size="10" value='<{$TradeInfo.ExpireDate|date_format:"%Y-%m-%d"|default:"None"}>' id="date2" readonly>
<a href="javascript:;" onclick='showCalendar(this, $("date2"), "yyyy-mmmm-dd",null,0,-1,-1)'><img src="<{$tpl_img_path}>calendar.gif" border="0" alt=""></a></span></td>
          </tr>
          <tr>
            <td class="altbg1"><div align="center">允许会员类型</div></td>
            <td class="altbg2"><select name="trade[require_membertype]" id="require_membertype">
								  <{html_options options=$AllMembertypes selected=$TradeInfo.require_membertype}>
								  </select></td>
            <td class="altbg1"><div align="right" class="orange_B">浏览量</div></td>
            <td class="altbg2"><span class="menu">
              <input name=trade[clicked] type=text id="trade[clicked]" value="<{$TradeInfo.Click}>" size=10>
            </span></td>
          </tr>
          <tr>
            <td class="altbg1"><div align="right">查看金钱点数</div></td>
            <td class="altbg2"><span class="menu">
              <input name=trade[require_point] type=text id="require_point" value="<{$TradeInfo.require_point}>">
            </span></td>
            <td class="altbg1"></td>
            <td class="altbg2">&nbsp;</td>
          </tr>
          <tr>
            <td class="altbg1"><div align="right">供求类型</div></td>
            <td colspan="3" class="altbg2"><{html_radios name="trade[type_id]" options=$TradeTypes checked=$TradeInfo.TradeTypeId|default:"1" separator=" "}><span class="orange_B">紧急信息？</span><{html_radios name="trade[if_urgent]" options=$ShowIndex checked=$TradeInfo.TradeIfUrgent|default:0 separator=""}></td>
          </tr>
          <tr>
            <td width=11% align="center" valign="top" class="altbg1"><div align="right"><span class="bwhitefont"><font color=red>*</font>详细说明 </span> </div>
            <td colspan="3" class="altbg2"><textarea name="trade[content]" cols="50" rows="10" id="trade[content]"><{$TradeInfo.TradeDescription}></textarea></td>
          </tr>
          
          <tr>
            <td width=11% align="center" class="altbg1"><div align="right"><span class="bwhitefont">图片 </span> </div></td>
            <td colspan="3"  class="altbg2" ><img id="uploadpic" src="<{if $TradeInfo.TradePicture!=""}><{$attachment_dir}><{$TradeInfo.TradePicture}><{else}>../data/default/big.jpg<{/if}>"  border="0" width="400" height="250" alt="看到这个,表明你的图片出错了!">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" class="altbg1"><div align="right" class="orange_B" id="remoteOrUpload">选择图片</div></td>
            <td colspan="3"  class="altbg2" ><div id="upload_picture"><input type="file" name="pic" id="uploadfile" onChange="preview()" size=40>
              （产品图片要求：文件小于200K，JPG格式或GIF格式均可）<a href="javascript: hideorshow('remote_picture','upload_picture')"><b>远程图片链接</b></a></div><div id="remote_picture" style="display: none"><input type="text" name="offer[picture_remote]" id="remotefile" size="50" value="<{$TradeInfo.OfferPictureRemote|default:'http://'}>"><a href="javascript: hideorshow('upload_picture','remote_picture')"><b>上传本地图片</b></a></div></td>
          </tr>
          <tr bgcolor="#D2EAFD">
            <td colspan="4" align="center">
			<table border="0" cellpadding="5" cellspacing="0" class="button">
                <tr>
                  <td>
<!-- 				  <input  name="save_edit" type="submit" id="save" value=" 保存并继续编辑(如果是新增,则不发布) " class="btn_mouseout">&nbsp;
				  <input  name="save_only" type="submit" id="save" value=" 保存(如果是新增,则不发布) " class="btn_mouseout">&nbsp;
 -->				  <input  name="save" type="submit" id="save" value=" 发布 " class="btn_mouseout">&nbsp;
                      <{if $smarty.get.id!=""}>
                    <input  name="pass" type="submit" id="pass" value=" 审核通过 " class="btn_mouseout">
                      <input  name="forbid" type="submit" id="forbid" value=" 审核不通过 " class="btn_mouseout">
                      <input  name="del" type="submit" id="del" value=" 删除" class="btn_mouseout">
                    <{/if}></td>
                </tr>
          </table>          
		  </tr>
        </table>
      </form></td></tr>
	  </table>
<br /><br />
</body>
</html>

