<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
</head>

<body leftmargin="10" topmargin="10">
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide"><tr>
  <td><div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">控制台</a>&nbsp;&raquo;&nbsp;<a href="#" onClick="parent.main.location='companytype.php';return false;">企业类型</a> &nbsp;&raquo; 编辑</div></td>
</tr></table>
<form name="editfrm" method="post" action="<{$smarty.server.PHP_SELF}>">
<input type="hidden" name="id" value="<{$smarty.get.id}>" />
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header">
  <td colspan="2">企业类型</td>
</tr>


<tr>
  <td width="50%" class="altbg1"><strong>名称：</strong></td>
  <td class="altbg2"><input name="c[name]" type="text" value="<{$c.name}>"></td>
</tr>
<tr>
<td class="altbg1"><strong>状态:</strong></td>
<td class="altbg2"><{html_radios name="c[avaliable]" options=$CompanytypeStatus checked=$c.avaliable|default:"1" separator=" "}></td>
</tr>
<tr><td colspan="2" class="altbg1"><div align="center">
  <table border="0" cellpadding="5" cellspacing="0" class="button">
    <tr>
      <td><input type="submit" name="save" value="保存" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"/></td>
    </tr>
  </table>
  </div></td>
</tr>
</table>
<br />
<center>
</center>
</form>
</td></tr></table>
<br /><br />
</body>
</html>

