body {
	margin:0
}

td,.tdleft,.tdright,.btn-input input {
	font-size:12px
}

a {
	COLOR:#000
}

a,a:hover,.font14 a {
	TEXT-DECORATION:underline
}

a:hover {
	COLOR:#f60
}

.title_bar,.zi {
	FONT-SIZE:12px
}

.title_bar {
	COLOR:#fff
}

.title_bar,.font14b_org,.tdleft,.link14:link,.link14:visited,.link14:hover {
	font-weight:bold
}

.title_bar,.font14b_org,.font14,.font14 a,.font14_org,.font14_org a,.font14_org a:hover,.zi,.zi2 {
	LINE-HEIGHT:24px
}

.font14b_org,.font14,.font14 a,.font14_org,.font14_org a,.font14_org a:hover,.link14:link,.link14:visited,.link14:hover {
	font-size:14px
}

.font14b_org,.orange,.link14:link,.link14:visited {
	color:#f60
}

.font14,.font14 a {
	color:#292a2a
}

.font14_org,.font14_org a {
	color:#eb7c0f
}

.font14_org a:hover {
	color:green
}

.line {
	BORDER-RIGHT:#ccc 1px solid;
	BORDER-TOP:#ccc 1px solid;
	BORDER-LEFT:#ccc 1px solid;
	BORDER-BOTTOM:#ccc 1px solid
}

.zi2 {
	FONT-SIZE:14px
}

.zi3 {
	FONT-SIZE:16px
}

.tdleft,.bglist,.bottom,.bgblue {
	background:#e0f0f8
}

.tdleft,.tdright,.bglist,.bottom {
	color:#333
}

.tdleft,.bottom {
	line-height:24px
}

.tdleft {
	border-bottom:1px solid #f7f7f7
}

.tdright,.bggray {
	background:#f7f7f7
}

.tdright {
	line-height:25px
}

.bggray2 {
	background:#d9d9d9
}

.bggray3 {
	background:#ebebeb
}

.bgwhite {
	background:#fff
}

.gray {
	color:#666
}

.btn-input input {
	background:#f9e9cf;
	height:22px;
	border:1 solid #d98349;
	vertical-align:middle
}

.link14:link,.link14:visited,.link14:hover {
	text-decoration:underline
}

.link14:hover {
	color:#06c
}

