<{assign var="page_title" value="产品管理"}>
<{include file="header.html"}>
<div class="wrap clearfix">
    <div class="sidebar">
       <div class="sidebar_menu">
         <{include file="menu.html"}>
       </div>
    </div>
     <div class="main_content">
     <div class="blank"></div>
	 <div class="offer_banner"><img src="images/offer_01.gif" /></div>
     <div class="offer_info_title"><h2><{$page_title}></h2></div>

<div class="hint"><span class="btn_hint"><a href="product.php?do=edit" class="btn_publish">发布产品信息</a></span>（提示：已经发布成供应信息的产品，请不要重复发布。如果您想提高发布效果，请进入<br>
“<a href="trade.php" class="orange">修改我的供求信息</a>”使用重发功能，使信息排名靠前）</div>
        </tr>
      </table>      

		  <form name="typefrm" id="TypeFrm" method="get" action="">
		   <table class="product_sort">
            <tr>
              <td> 　按
                  <select name="typeid" onchange="$('#TypeFrm').submit();">
                    <option value="0">全部分类</option>
				  <{foreach from=$ProductTypes item=pt name=producttypes}>
				  <option value="<{$pt.id}>" <{if $pt.id == $smarty.get.typeid}>selected<{/if}>><{$pt.name}></option>
					<{/foreach}>
                  </select>
&nbsp;&nbsp;</td>
             <td class="prev_page"><a href="<{$plink}>" title="上一页"><img src="images/prev_page.gif"></a>&nbsp;<a href="<{$nlink}>" title="下一页"><img src="images/next_page.gif"></a></td>
            </tr>
          </table>
		  </form>
		  <div id="msg" align="center"><{$Msg}></div>
	  <table class="pagedown">
	  <tr>
		<td></td>
	  </tr>
	  </table>
    
          <table class="product_list">
                  <!-- product -->
                  <{foreach item=item from=$Items}>
                <tr>
                   <th><img src="<{$item.image}>" width=75 height=75></th>
                   <td colspan="2" style='word-break: break-all'><{$item.name|truncate:25}>【<{if $item.state eq 1}><span class="fontgreen">已上架</span><{else}><span class="fontred">已下架</span><{/if}>】 【<{$CheckStatus[$item.status]}>】(<{$ProductSorts[$item.sort_id]|default:"普通商品"}>)&nbsp;&nbsp; <a href="<{$SiteUrl}>product/content.php?id=<{$item.id}>" target="_blank" title="点击预览"><img src="images/preview.gif" border="0" /></a> <{if $item.picture!=""}><a href="<{$SiteUrl}>attachment.php?source=<{$item.picture}>" target="_blank" title="点击查看大图"><img src="<{$SiteUrl}>images/havepic.gif" border="0" /></a><{/if}><br />
描 述： <{$item.content|strip_tags|truncate:100}></td>
                 </tr>
                 <tr align="right">
                    <th></th>
                    <td class="btn-input"> <{if $item.state eq 1}><a href="<{$smarty.server.PHP_SELF}>?do=state&type=down&id=<{$item.id}>" title="从网上下架"><img src="images/state1.gif"></a><{else}><a href="<{$smarty.server.PHP_SELF}>?do=state&type=up&id=<{$item.id}>" title="把商品上架"><img src="images/state0.gif"></a><{/if}>&nbsp;<a href="product.php?do=edit&id=<{$item.id}>">修改</a>&nbsp;<a href="offer.php?do=pro2offer&productid=<{$item.id}>"><b>[作为供应发布]</b></a>&nbsp;<a href="<{$smarty.server.PHP_SELF}>?act=del&id=<{$item.id}>">删除</a></td>
                     </tr> 
                  <{/foreach}>
                     </table> 
                <table class="trade_line">
                <tr>
                  <td height="1" colspan="3" background="image/index_trade_line.gif"></td>
                </tr>
           </table>
                  <!-- :~product  -->
         <table class="trade_line">
            <tr>
              <td height="1" colspan="3" background="image/index_trade_line.gif"></td>
            </tr>
         </table>
        <table class="room_pages">
        <tr>
          <td><{$pagenav}>&nbsp;</td>
        </tr>
       </table>
       <table class="trade_line">
            <tr>
          <td height="1" background="images/index_trade_line.gif"></td>
        </tr>
        <tr>
          <td align="center"></td>
        </tr>
      </table>
    
</div>
</div>
<{include file="footer.html"}>