<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>Companies&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
<script type="text/javascript" src="<{$JS_PATH}>js/swfobject.js"></script>
<script type="text/javascript">
var flashvars = {};
flashvars.vcastr_xml = "<{$SiteUrl}>data/xml/video.xml";
swfobject.embedSWF("<{$SiteUrl}>data/flash/vcastr2.swf", "flashcontent2", "450", "195", "8.0.0", null, flashvars);
</script>
<{$xajax_javascript}>
<script language="javascript">
xajax_rebuildHTML("company.php");
</script>
</head>

<body>
<{assign var="company_li" value="cor over"}>
<{include file="`$ThemeName`/element.header.html"}>
<div class="wd">
	<div class="w_left1">
		<div class="w_left4">
			<div class="cpk_t1"></div>
			<div class="cpk_c1 gs_tab1">
				<div class="bt gs_bt1"><h2><a href="<{$UrlContainer.register}>?ob=company">Join Library</a></h2><p class="padright10"><a href="<{$UrlContainer.user}>">Join for free</a></p></div>
				<p class="cpk_p1 gs_p1 f14 str">Post</p>
				<p class="cpk_p1 cpk_p2 f14 str">Promote</p>
				<p class="cpk_p1 gs_p2 f14 str">Product</p>
				<p class="cpk_p1 gs_p3 f14 str">To win</p>
				<ul class="ul21">
					<{news max=5 showtypelink="no"}>
				</ul>
			</div>
		</div>
		<div class="gs_tab2">
			<div class="bt gs_bt2"><h2 class="f12">Excellent Enterprise Video Show</h2></div>
			<div class="gs_hot" id="flashcontent2">Enterprise Video Sgiw</div>
		</div>
		<div class="clear9"></div>
		<div class="hyfl cpk_hyfl">
			<div class="bt in_bt6"><h2>Industries</h2><p class="padright10 none"><a href="<{$UrlContainer.common}>room/tradeedit.php" class="a">Add information</a></p></div>
			<div class="hyfl_c"><{$IndustryList}></div>
		</div>
	</div>
	<div class="w_right1">
		<div class="cpk_t1"></div>
		<div class="cpk_c1 gs_tab1">
			<div class="bt gs_bt1"><h2><a href="<{$UrlContainer.common}>company.php?ac=list">New Enterprise</a></h2><p class="padright10"><a href="<{$UrlContainer.common}>company.php?ac=list">&raquo;More</a></p></div>
			<ul class="ul21"><{company max=9}></ul>
		</div>
		<div class="clear9"></div>
		<div class="cpk_t1"></div>
		<div class="cpk_c1 gs_tab1">
			<div class="bt gs_bt1"><h2><a href="<{$UrlContainer.common}>company.php?ac=list&type=commend"> Recommended</a></h2><p class="padright10"><a href="<{$UrlContainer.common}>company.php?ac=list&type=commend">&raquo;More</a></p></div>
			<ul class="ul21"><{company max=9 commend="y"}></ul>
		</div>
		<div class="clear9"></div>
		<div class="gs_ad1"><img src="<{$tpl_img_path}>default/in_235x55.jpg" /></div>
		<div class="clear9"></div>
		<div class="gs_ad1"><img src="<{$tpl_img_path}>default/in_235x55_1.jpg" /></div>
	</div>
</div>
<div class="clear9"></div>
<div class="wd"><{ad type_id=1}></div>
<div class="clear9"></div>
<div class="wd">
	<div class="gs_tab4">
		<div class="bt gs_bt4"><h2><a href="<{$UrlContainer.common}>news/list.php?type_id=1">News</a></h2><p>&nbsp;</p></div>
		<div class="gs_c1">
			<ul class="ul21 ula"><{news templet="title_with_time" max=9 type_id=1}></ul>
		</div>
	</div>
	<div class="gs_tab5">
		<div class="bt gs_bt4 gs_bt5"><h2>Information</h2></div>
		<div class="gs_c1 gs_c2">
			<ul class="ul21 ula"><{job}></ul>
		</div>
	</div>
</div>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
