<div class="wd h_login">
	<div class="h_f_sear">
		<form action="<{$HeaderFormAction}>" method="get" name="formsearch" title="Search">			
					  <input type="hidden" name="searchkeywords" value="1" />
					  <input type="hidden" name="ac" value="list" />
					  <input name="skeyword" type="text" id="skeyword" value="<{$smarty.get.skeyword|default:"Enter keywords"}>" alt="Enter keywords to search for information" onfocus="if(this.value == 'Enter keywords'){this.value = ''}" onblur="if(this.value == ''){this.value = 'Enter keywords'}" class="gjz" onmouseover="this.select();" />
			<input type="submit" value="Search" class="ss str" onclick="return check_keywords();" />
		</form>
	</div>
	<{loginbar}>
	<div class="h_f_login">
			<!--登录前 end-->
			<{if $UalinkUser.username!=""}>
			<form>
			<em>Hi,<{$UalinkUser.username}>！ <a href="<{$UrlContainer.common}>room/" class="blue">[<{if $UalinkUser.user_level==1}>Into the individual centers<{else}>Into the Commercial Office<{/if}>]</a>&nbsp;<{if $UalinkUser.user_level==9}>&nbsp;<a class="blue" href="<{$UrlContainer.common}>pb-admin/login.php" target="_blank">[Console]</a><{/if}><a href="<{$SiteUrl}>user/logging.php?action=logout">[Exit]</a></em>
			</form>
			<{else}>
					<form id="tblogin" action="<{$SiteUrl}>user/logging.php" method="post" target="_parent">
						<input type="hidden" name="loginbtn" value="1">
						<!--登录前-->
						<label for="m_name">User Name:</label><p></p><input type="text" id="login_name_banner" name="login_name" class="yhm" />
						<label for="m_pass">Password:</label><p></p><input type="password" id="login_pass_banner" name="login_pass" class="mm" />
						<input type="submit" value="Login" class="dl" name="submitButton" onclick="return login(this);" />
						<a href="<{$UrlContainer.common}>user/getpass.php">Forgot Password</a>
						<a href="<{$UrlContainer.user}>" class="str">I have not yet registered</a>
					</form>
			<{/if}>
	</div>
	<{/loginbar}>
</div>
<script language="JavaScript">
<!--
function check_keywords(){
	var keywords = document.formsearch.skeyword.value;
	if(keywords=="" || keywords=="Enter keywords"){
		alert("Please enter search keywords");
		document.formsearch.skeyword.focus();
		return false;
	}else{
		return true;
	}
}
function login(frm){
	if(document.getElementById('login_name_banner').value == ""){
			alert("Please enter your Login Name");
			document.getElementById('login_name_banner').focus();
			return false;
		}else if(document.getElementById('login_pass_banner').value == ""){
			alert("Login Enter your password");
			document.getElementById('login_pass_banner').focus();
			return false;
		}else{
			return true;
			}
}
//-->
</script>
