<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title><{$pageTitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
</head>

<body>
<!--head-->
<{assign var="fair_li" value="cor over"}>
<{include file="`$ThemeName`/element.header.html"}>
<!--head end-->
<div class="wd crumb">
	<p><span class="str">Your current position:</span><{$pagePosition}></p>
</div>
<div class="clear9"></div>
<div class="wd">
	<div class="w_left1">
		<p class="a_line"></p>
		<div class="cs_c1 zh_c2">
			<table width="690" border="0" cellspacing="0" cellpadding="0">
			  <thead>
				<th width="350">名称</th>
				<th width="120">展会时间</th>
			  </thead>
			  <{foreach from=$ListFairs name=fairlist item=f}>
			  <tr <{if $smarty.foreach.fairlist.iteration is div by 2}> class="cs_tr"<{/if}>>
				<td><p><a href="<{$UrlContainer.common}>fair/detail.php?id=<{$f.FairId}>" alt="<{$f.Title}>"><{$f.Title|strip_tags}></a></p></td>
				<td><{$f.FairCreated|date_format:"%Y-%m-%d"}></td>
			  </tr>
			  <{/foreach}>
			</table>
			<{if $ByPages}>
			<p class="a_line3"></p>
			<div class="zh_page"><{$ByPages}></div>
			<{/if}>
		</div>
		
	</div>
	<div class="w_right1">
		<div class="cpk_t1"></div>
		<div class="cpk_c2 cs_c2 zh_c3">
			<div class="bt cpk_bt1"><h2><label>同类热门展会</label></h2></div>
			<ul class="ul21">
			<{foreach from=$LatestFairs name=LatestFairs item=item}>
				<li><p><a title="<{$item.Title}>" href="<{$UrlContainer.common}>fair/detail.php?id=<{$item.FairId}>"><{$item.Title}></a></p></li>
			<{/foreach}>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
