<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>Login&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
<script language="javascript" src="<{$JS_PATH}>js/prototype.js"></script>
</head>

<body onload="javascript:document.loginfrm.login_name.focus();">
<{assign var="room_li" value="cor over"}>
<{assign var="if_searchbar" value="n"}>
<{include file="`$ThemeName`/element.header.html"}>
<div class="wd lg_wd1">
	<p class="lg_txt1">Dear users, in order to better protect the security of your personal information, we have the security of the site was upgraded, which requires a higher version of the browser support, if you can not normally visit our website, please upgrade your browser If you do not upgrade your browser version, you can also click here to operate in accordance with our proposal, for the inconvenience caused to you, please understanding and understanding!</p>
</div>
<div class="clear9"></div>
<div class="wd lg_wd1">
	<div class="lg_left1">
		<h2>Already a member, log on at once</h2>
		<form name="loginfrm" method="post" action="<{$smarty.server.PHP_SELF}>?referer=<{$smarty.get.referer}>" onSubmit="$('LogIn').disabled=true;">
				<input type="hidden" name="loginbtn" value="W#23K">
		<input type="hidden" name="forward" value="<{$smarty.get.forward}>" />
			<p class="lg_p1">
				<label for="lg_name" class="str">Name:</label>
				<input type="text" name="login_name" id="login_name" size="14" maxLength="20" value="<{$smarty.post.login_name}>">
				<em><{if $LoginError}><font color="red"><strong><{$LoginError}></strong></font><{else}>your account<{/if}></em>
			</p>
			<p class="lg_p1">
				<label for="lg_pass" class="str">Pass: </label>
				<input name="login_pass" type="password" id="login_pass" size="14" maxLength="20" value="<{$smarty.post.login_pass|default:""}>">
				<{if !$LoginError}><em>Password</em><{/if}>
			</p>
<{if $IfLoginPicture}>
			<p class="lg_p1">
				<label for="lg_pass" class="str">Verify Code:</label>
				<input name="login_auth" id="login_auth" type="text" value="" size="4" maxlength="4">  
		        <em><img src="../auth_image.php"></em>
			</p>
<{/if}>
			<p class="lg_p2">
				<a href="getpass.php">Forgot your password?</a>
			</p>
			<p class="lg_p3">
				<input type="button" name="log_in" id="LogIn" value="LogIn" class="str">
				<span>If you have any questions, please contact hotline:<{$servicetel}></span>
			</p>
		</form>
		<div class="lg_bot"></div>
	</div>
	<div class="lg_right1">
		<h2>Not a member, sign up</h2>
		<form class="lg_f1">
			<h3 class="f12">Once new user please register immediately enjoy the following services:</h3>
			<ul class="ul21">
				<li>Publish your product offers, so that the business auto at her door</li>
				<li>Post company, enhance corporate reputation</li>
			</ul>
			<p>
				<a href="<{$UrlContainer.register}>?ob=personal">Individual</a>
				<br />
				<a href="<{$UrlContainer.register}>?ob=company">Corporate</a>
			</p>
		</form>
		<div class="lg_bot1"></div>
	</div>
</div>
<script>
<!-- 
function login(){
	if(document.loginfrm.login_name.value == ""){
			alert("Please enter your Login Name");
			document.loginfrm.login_name.focus();
			return false;
		}else if(document.loginfrm.login_pass.value == ""){
			alert("Please enter your Login password");
			document.loginfrm.login_pass.focus();
			return false;
		}
	<{if $IfLoginPicture}>
	if($F('login_auth') == ""){
		alert("Please enter the verification code is not case sensitive");
		$('login_auth').focus();
		return false;
	}
	<{/if}>
	$("LogIn").value='Logging...';
	$("LogIn").disabled = true;
	document.loginfrm.submit();
	return true;
}
addEvent($("LogIn"), "click", function doLogin(){
	return login();
});
//-->
</script>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
