<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>Commercial Office - <{$sitetitle}></title>
<link href="<{$CSS_PATH}>css/style.css" rel="stylesheet" type="text/css">
<link href="<{$INC_PATH}>css/room.css" rel="stylesheet" type="text/css">
<script language="javascript" src="<{$INC_PATH}>js/general.js"></script>
<script language="javascript"> 
function copyToClipboard(txt) {    
     if(window.clipboardData) {    
             window.clipboardData.clearData();    
             window.clipboardData.setData("Text", txt);    
			 alert("Copy success!")    
     } else if(navigator.userAgent.indexOf("Opera") != -1) {    
          window.location = txt;    
          alert("Copy success!")    
     } else if (window.netscape) {    
          try {    
               netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");    
          } catch (e) {    
               alert("By your browser to refuse! \\ n Please enter in the browser address bar'about:config'And carriage return \\ n and then'signed.applets.codebase_principal_support'Set
'true'");    
          }    
          var clip = Components.classes['@mozilla.org/widget/clipboard;1'].createInstance(Components.interfaces.nsIClipboard);    
          if (!clip)    
               return;    
          var trans = Components.classes['@mozilla.org/widget/transferable;1'].createInstance(Components.interfaces.nsITransferable);    
          if (!trans)    
               return;    
          trans.addDataFlavor('text/unicode');    
          var str = new Object();    
          var len = new Object();    
          var str = Components.classes["@mozilla.org/supports-string;1"].createInstance(Components.interfaces.nsISupportsString);    
          var copytext = txt;    
          str.data = copytext;    
          trans.setTransferData("text/unicode",str,copytext.length*2);    
          var clipid = Components.interfaces.nsIClipboard;    
          if (!clip)    
               return false;    
          clip.setData(trans,null,clipid.kGlobalClipboard);    
          alert("Copy success!")    
     }    
}  
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
    <td height="83"><{include file="default/element.top.html"}></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr align="center" valign="top">
    <td width="180" align="center" background="<{$tpl_img_path}>office/left_bg.gif"><{include file="room/menu.html"}></td>
    <td><table  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="<{$tpl_img_path}>office/banr_pic.gif" width="570" height="101" alt=""></td>
      </tr>
    </table>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="45" background="<{$tpl_img_path}>office/title_bg.gif"><table height="30" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>&nbsp;</td>
                <td class="font14b_org"><img src="<{$tpl_img_path}>office/icon_newd.gif" width="15" height="16"> My invitation code</td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td height="5" valign="top" class="bggray2"></td>
        </tr>
      </table>
      <br>
      <table width="95%" border="0" cellpadding="2" cellspacing="0" class="bggray">
        <tr>
          <td height="35" class="gray"><span class="orange">Friendly reminder:</span>Your invitation code is valid in 24 hours</td>
        </tr>
      </table>      
      <br>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2">
		  <table width="100%" border="0" cellpadding="5" cellspacing="1" class="bgblue">
            <tr align="center" class="bggray">
              <td width="60%" align="left"><div id="txt"><{$InviteCode}></div></td>
              <td align="center"><a href="javascript:;" onclick="copyToClipboard('<{$InviteCode}>');">Your invitation code is valid in 24 hours
</a></td>
            </tr>
          </table>
		  </td>
        </tr>
        <tr>
          <td height="25" colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td height="1" colspan="2" background="<{$tpl_img_path}>office/index_trade_line.gif"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<{include file="room/foot.html"}>
</body>
</center>
 </html>

