td,body,form,.topmenu ul {
	margin:0
}

td,body,.button {
	font:12px Arial,Helvetica,sans-serif
}

td,body {
	text-align:left
}

body,html {
	background:#dae6f3
}

select,textarea,input {
	margin:5px 0;
	border:1px solid #69c;
	line-height:1.3em;
	color:#069
}

select,textarea,input,.leftmenutext a {
	font-size:13px
}

select,textarea,input,.leftmenutd td,.tableborder td,.altbg2 td,td.altbg2 {
	background:#fff
}

textarea {
	overflow:auto
}
a,.editiontext {
	text-decoration:none
}

a,.topmenu,.topmenu span {
	color:#555
}

a:hover {
	text-decoration:underline
}

.cpoptext {
	font:12px tahoma,verdana /18px;
	background:#ffc;
	padding:2px 4px;
	border:1px #000 solid;
	visibility:hidden;
	filter:Alpha(Opacity=80)
}

.cpoptext,.button {
	color:#000
}

.logo {
	width:168px;
	height:50px;
	padding-top:10px;
	padding-left:5px
}

.logoimg,.topmenu span {
	display:block
}

.logoimg {
	width:33px;
	height:33px;
	padding-right:8px
}

.logoimg,.topmenu,.topmenu li,.topmenu span {
	float:left
}

.editiontext {
	padding-top:4px
}

.editiontext,.leftmenutext td,.leftmenutext a,.header td,.header a {
	color:#fff
}

.editiontext,.topmenu,.leftmenutext td,.leftmenutext a,.header td {
	font-weight:bold
}

.topmenubg {
	background:url(bg_header.gif) repeat-x
}

.topmenu {
	height:38px;
	min-width:600px;
	width:600px;
	font-size:14px;
	margin-top:24px
}

.topmenu ul {
	padding:0
}

.topmenu li {
	border:solid 1px #43809c;
	list-style-type:none;
	margin-right:1px;
	margin-top:2px
}

.topmenu li,.topmenu span,#menuon,#menuon span {
	border-bottom:none
}

.topmenu span {
	padding:0 10px;
	background:url(bg_menu2.gif);
	height:25px;
	line-height:25px
}

.topmenu span,#menuon span {
	border:solid 1px #fff
}

#menuon,.tableborder td ul li,.tableborder td ul {
	margin-top:0
}

#menuon,.leftmenutext td,.header td {
	height:30px
}

#menuon {
	line-height:30px;
	border:solid 1px #525c3d
}

#menuon,#menuon span {
	background:url(bg_menu.gif)
}

#menuon span {
	padding-top:1px;
	height:27px
}

#menuon span a {
	color:#036
}

.leftmenulist {
	margin:2px;
	width:134px
}

.leftmenulist,.tableborder {
	border:1px solid #525c3d
}

.leftmenutext td,.header td {
	background:url(bg_list.gif) repeat-x;
	line-height:16px;
	height:31px !important;
	> height:30px !important
}

.leftmenutext td {
	padding-left:4px
}

.leftmenutext td,.tableborder td {
	border-bottom:1px solid #bbdcf1
}

.leftmenuinfo {
	margin-left:8px;
	margin-bottom:10px;
	width:116px
}

.leftmenuinfo td {
	height:1.8em;
	line-height:1.6em;
	border-bottom:solid 1px #a3ceeb;
	text-indent:8px
}

.guide td {
	background:#fbffe1;
	border:1px solid #1598cb;
	line-height:1.2em;
	height:28px;
	text-indent:20px;
	color:#f60
}

.tableborder {
	outline:1px solid #525c3d;
	border:0!important;
	> border:1px solid #525c3d !important;
	empty-cells:show;
	border-collapse:separate !important;
	> border-collapse:collapse !important;
	border-collapse:collapse
}

.tableborder td {
	line-height:1.5em;
	height:2em;
	padding-left:12px
}

.tableborder td ul li,.tableborder td ul {
	line-height:22px;
	margin-bottom:0
}

.tableborder td img {
	margin-top:8px
}

.category td {
	background:#f0f0f0;
	color:#333
}

.altbg1 td,td.altbg1 {
	background:#f1f5f8
}

.header td {
	border-bottom:1px solid #525c3d
}

.button {
	padding:0 6px;
	background:url(bg_button.gif) repeat-x;
	outline:1px solid #1590be;
	border:1px solid #fff !important;
	height:24px !important;
	line-height:22px !important;
	> border:1px solid #1590be !important;
	> height:26px !important;
	> line-height:20px !important;
	border:1px solid #1590be;
	height:26px;
	line-height:20px
}

.footer {
	height:20px;
	margin:20px;
	text-align:center
}