<style type="text/css">
.snazzy {background:transparent;}
.snazzy span {text-align:center; color:#fff; margin:0; font-weight:normal;}

.b1, .b2, .b3, .b4 {display:block; font-size:1px;
/* hide overflow:hidden from IE5/Mac */ 
/* \*/ 
overflow: hidden; 
/* */ }
.b1, .b2, .b3 {height:1px;}
.b2, .b3, .b4 {border-left:1px solid #fff; border-right:1px solid #fff;}
.b1 {margin:0 5px; background:#fff;}
.b2 {margin:0 3px; border-width:0 2px;}
.b3 {margin:0 2px;}
.b4 {height:2px; margin:0 1px;}
.boxcontent {display:block; border-left:1px solid #fff; border-right:1px solid #fff;}

.red {background:#c00;}
.orange {background:#f90;}
.yellow {background:#b8b800;}
.green {background:#090;}
.blue {background:#00c;}
.indigo {background:#309;}
.violet {background:#c6c;}
.grey {background:#888;}


#navigation2 {clear:both; background:transparent; margin:0 auto; height:3em;
/* hide overflow:hidden from IE5/Mac */ 
/* \*/ 
overflow: hidden; 
/* */ }

#navigation2 ul {margin:0; padding:0; list-style-type:none; background:transparent;}
#navigation2 li {display:block; float: right; margin:0 1px;}

.pad {display:block; height:1em;
/* hide overflow:hidden from IE5/Mac */ 
/* \*/ 
overflow: hidden; 
/* */ }

a.menu2, a.menu2:visited {display:block; text-decoration:none; width:5.5em;}
</style>
<table width="778" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><div id="wrapper"><!-- end of page_head -->
  <div id="info">
      <div id="navigation2">
        <ul>
          <li> <a class="menu2" href="<{$SiteUrl}>"><b class="pad"></b><b class="snazzy"><b class="b1"></b><b class="b2 red"></b><b class="b3 red"></b><b class="b4 red"></b><span class="boxcontent red">首页</span> </b></a> </li>
          <li> <a class="menu2" href="<{$SiteUrl}>buy/"><b class="pad"></b><b class="snazzy"><b class="b1"></b><b class="b2 yellow"></b><b class="b3 yellow"></b><b class="b4 yellow"></b><span class="boxcontent yellow">求购</span> </b></a> </li>
          <li> <a class="menu2" href="<{$SiteUrl}>sell/"><b class="pad"></b><b class="snazzy"><b class="b1"></b><b class="b2 orange"></b><b class="b3 orange"></b><b class="b4 orange"></b><span class="boxcontent orange">供应</span> </b></a> </li>
          <li> <a class="menu2" href="<{$SiteUrl}>product/"><b class="pad"></b><b class="snazzy"><b class="b1"></b><b class="b2 green"></b><b class="b3 green"></b><b class="b4 green"></b><span class="boxcontent green">产品库</span> </b></a> </li>
        </ul>
      </div>
      <!-- end of navigation2 -->
  </div>
  <!-- end of info -->
  <!-- end of content -->
  <!-- end of page_foot -->
</div>
<!-- end of wrapper -->
</td>
  </tr>
  <tr>
    <td height="110">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="6" align="left"><img src="<{$I_PATH}>images/topl.gif" width="6" height="107" /></td>
        <td width="750" valign="top">
		<table width="772" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="107" align="left" style="background:url(<{$I_PATH}>images/topr.gif) no-repeat #CD4700 right">
			  <table width="80%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="60" align="center" class="f2"><{$cinfo.CompanyName}></td>
                  </tr>
                  <tr>
                    <td height="15" align="right"><span class="f6"><{$MembertypeName}><img src="<{$I_PATH}>images/pai.gif" width="24" height="23" hspace="5" align="absmiddle" /></span></td>
                  </tr>
              </table>
			  </td>
            </tr>
        </table>
		</td>
      </tr>
    </table>
	</td>
  </tr>
  <tr>
    <td height="28" bgcolor="#DDDCDC"><span class="f3" style="padding-left:15px;">当前位置：<a href="<{$SiteUrl}>"><{$sitename}></a>&raquo;<a href="<{$SiteUrl}>company/">公司库</a>&raquo;<a href="<{$SiteUrl}>space.php?userid=<{$smarty.get.userid}>"><{$cinfo.CompanyName}></a></span></td>
  </tr>
</table>

