<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<{editor type="ckeditor" element="dataAnnouncementMessage"}>
<div id="currentPosition">
	<p><{$_your_current_position}> 全局 &raquo; 网站公告</p>
</div>
<div id="rightTop"> 
    <h3>网站公告</h3> 
    <ul class="subnav">
		<li><a href="announce.php">管理</a></li>
        <li><a class="btn1" href="announce.php?do=edit">添加/编辑</a></li>
        <li><a href="announcetype.php">分类</a></li>
    </ul>
</div>
<div class="info">
  <form action="announce.php" method="post" id="EditFrm" name="edit_frm">
  <input type="hidden" name="id" value="<{$smarty.get.id}>">
  <input type="hidden" name="page" value="<{$smarty.get.page}>" />
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> 标题：</th>
        <td class="paddingT15 wordSpacing5">          
		<input class="infoTableInput2" name="data[announcement][subject]" value="<{$item.subject}>" /><label class="field_notice">显示的公告标题</label>        </td>
      </tr>
      <tr>
        <th class="paddingT15"> 分类：</th>
        <td class="paddingT15 wordSpacing5">
			<select name="data[announcement][announcetype_id]">
			<{foreach from=$Types item=typename key=key}>
			<option value="<{$key}>" <{if $item.announcetype_id==$key}>selected<{/if}>><{$typename}></option>
			<{/foreach}>
			</select></td>
      </tr>
      <tr>
        <th class="paddingT15">截止日期：</th>
        <td class="paddingT15 wordSpacing5"> 
		<input name="data[end_date]" value="<{$item.end_date}>" type="text" id="EndDate" class="Wdate" onclick="WdatePicker();" /><label class="field_notice">为空表示永不过期</label></td>
      </tr>
      <tr>
        <th class="paddingT15"> 内容：</th>
        <td class="paddingT15 wordSpacing5">
        <textarea style="width:550px;height:50px;" name="data[announcement][message]" id="dataAnnouncementMessage"><{$item.message}></textarea>        </td>
      </tr>
      <tr>
        <th></th>
        <td class="ptb20">
			<input class="formbtn" type="submit" name="save" value="保存" />		</td>
      </tr>
    </table>
  </form>
</div>
<{fetch file="../scripts/date.js"}></script>
<{editor type="ckeditor" element="dataAnnouncementMessage" toolbar="Full"}>
<{include file="footer.html"}>