<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
</head>

<body leftmargin="10" topmargin="10">
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide"><tr>
  <td><div align="left"><a href="#" onClick="parent.main.location='home.php';return false;">Console</a>&nbsp;&raquo;&nbsp;Membership type permissions</div></td>
</tr></table>
<form name="editfrm" method="post" action="<{$smarty.server.PHP_SELF}>">
<input type="hidden" name="id" value="<{$smarty.get.id}>" />
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header">
  <td colspan="2">Permissions Table</td>
</tr>

<tr>
  <td class="altbg1" width="50%"><strong>Member Type:</strong></td>
  <td class="altbg2"><select name="access[membertype_id]" id="membertype_id">
    <{html_options options=$UserTypes selected=$smarty.get.membertype_id}>
  </select></td>
</tr>

<tr>
  <td class="altbg1"><strong>Permissions ID Name:</strong></td>
  <td class="altbg2"><input name="access[name]" type="text" id="access[name]" value="<{$a.name}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Published supply per day:</strong></td>
  <td class="altbg2"><input type="text" name="access[max_sell]" value="<{$a.max_sell}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Release Quantity per day</strong>:</td>
  <td class="altbg2"><input type="text" name="access[max_buy]" value="<{$a.max_buy}>"></td>
</tr>

<tr>
  <td class="altbg1"><strong>May issue a maximum number of daily products :</strong></td>
  <td class="altbg2"><input type="text" name="access[max_product]" value="<{$a.max_product}>"></td>
</tr>
<tr>
<td class="altbg1"><strong>Release largest number of jobs per day :</strong></td>
<td class="altbg2"><input type="text" name="access[max_job]" value="<{$a.max_job}>"></td>
</tr>

<tr>
<td class="altbg1"><strong>Largest number of companies publish daily news :</strong></td>
<td class="altbg2"><input type="text" name="access[max_news]" value="<{$a.max_news}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Most Product Type:</strong></td>
  <td class="altbg2"><input type="text" name="access[max_producttype]" value="<{$a.max_producttype}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Most of supply and demand re-issued (daily):</strong></td>
  <td class="altbg2"><input type="text" name="access[max_of_rs_eday]" value="<{$a.max_of_rs_eday}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Company registration assessment:</strong> </td>
  <td class="altbg2"><{html_radios name="access[check_company_reg]" options=$AccessStatus checked=$a.check_company_reg|default:"1" separator=" "}></td>
</tr>
<tr>
  <td class="altbg1"><strong>Company Information modify the review:</strong> </td>
  <td class="altbg2"><{html_radios name="access[check_company_update]" options=$AccessStatus checked=$a.check_company_update|default:"1" separator=" "}></td>
</tr>
<tr>
  <td class="altbg1"><strong>Modify the audit of supply and demand information :</strong></td>
  <td class="altbg2"><{html_radios name="access[check_trade_update]" options=$AccessStatus checked=$a.check_trade_update|default:"1" separator=" "}></td>
</tr>
<tr>
  <td class="altbg1"><strong>Product Information modify the review:</strong></td>
  <td align="left" class="altbg2"><{html_radios name="access[check_product_update]" options=$AccessStatus checked=$a.check_product_update|default:"1" separator=" "}></td>
  </tr>
<tr>
  <td class="altbg1"><strong>Job revised review:</strong></td>
  <td align="left" class="altbg2"><{html_radios name="access[check_job_update]" options=$AccessStatus checked=$a.check_product_update|default:"1" separator=" "}></td>
</tr>
<tr>
  <td class="altbg1"><strong>News amendment review:</strong></td>
  <td align="left" class="altbg2"><{html_radios name="access[check_news_update]" options=$AccessStatus checked=$a.check_product_update|default:"1" separator=" "}></td>
</tr>
<tr>
  <td class="altbg1"><strong>Keyword add, modify, review:</strong></td>
  <td align="left" class="altbg2"><{html_radios name="access[check_keyword_update]" options=$AccessStatus checked=$a.check_keyword_update|default:"1" separator=" "}></td>
</tr>
<tr>
  <td class="altbg1"><strong>Allowed to initiate Group buy:</strong></td>
  <td align="left" class="altbg2"><{html_radios name="access[can_organize_groupbuy]" options=$AccessStatus checked=$a.can_organize_groupbuy|default:"1" separator=" "}></td>
</tr>
<tr>
  <td class="altbg1"><strong>Favorites Most Favorites:</strong></td>
  <td align="left" class="altbg2"><input type="text" name="access[max_room_favor]" value="<{$a.max_room_favor}>"></td>
</tr>
<tr>
  <td class="altbg1"><strong>Novice probationary period:</strong></td>
  <td align="left" class="altbg2"><input type="text" name="access[new_user_time]" value="<{$a.new_user_time|default:"0"}>">小时</td>
</tr>
<tr>
  <td class="altbg1"><strong>The default duration of Business Services</strong></td>
  <td align="left" class="altbg2"><{html_radios name="access[default_livetime]" options=$LiveTimes checked=$a.default_livetime|default:"1" separator=" "}>
  <input type="hidden" name="old_defaultlivetime" value="<{$a.default_livetime}>" /></td>
</tr>
<tr>
  <td class="altbg1"><strong>Business Services expiration of the approach</strong></td>
  <td align="left" class="altbg2"><{html_radios name="access[after_livetime]" options=$AfterLiveTime checked=$a.default_livetime|default:"1" separator="<br />"}>
  </td>
</tr>

<tr>
  <td colspan="2" class="altbg1"><font color="#FF0000">Note</font>：0 That there is no limit</td>
  </tr>




<tr><td colspan="2" class="altbg1"><div align="center">
  <table border="0" cellpadding="5" cellspacing="0" class="button">
    <tr>
      <td><input type="submit" name="save" value="保存" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"/></td>
    </tr>
  </table>
  </div></td>
</tr>
</table>
<br />
<center>
</center>
</form>
</td></tr></table>
<br /><br />
</body>
</html>

