<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>Console_<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="css/main.css">
<script language="javascript" src="<{$JS_PATH}>js/general.js"></script>
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
<script language="JavaScript">
function fEvent(sType,oInput){
	switch (sType){
		case "focus" :
			oInput.isfocus = true;
		case "mouseover" :
			oInput.style.borderColor = '#CC0033';
			break;
		case "blur" :
			oInput.isfocus = false;
		case "mouseout" :
			if(!oInput.isfocus){
				oInput.style.borderColor='#84a1bd';
			}
			break;
	}
}
</script>
</head>

<body>
<!-- Location -->
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="guide"><tr><td>
<div align="left"><a href="#" onClick="parent.menu.location='setting.php?action=menu'; parent.main.location='setting.php?action=home';return false;">Console</a>&nbsp;&raquo;&nbsp;Company Type Manager</div></td></tr>
</table>
<br />

<!-- Title -->
<form name="listfrm" action="<{$smarty.server.PHP_SELF}>" method="post">
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tableborder">
<tr class="header" align="center"><td><input type="checkbox" name="idAll" onClick="uaCheckAll(this, 'id[]')" title="全选"></td><td>Name</td>
  <td><div style="float:right; margin-right:4px; padding-bottom:9px"><img onClick="collapse_change('1')" id="menuimg_1" src="./images/menu_reduce.gif" border="0" style="vertical-align:middle;"/></div></td></tr>
<tbody id="menu_1" style="display: yes"><{foreach from=$Lists item=ls name=companytypes}>
<tr bgcolor="<{cycle values=#eeeeee,#ffffff}>" align="center">
<td><input type="checkbox" name="id[]" value="<{$ls.id}>" onClick="uaCheckItem(this, 'idAll')"></td>
<td><{$ls.CompanytypeName}></td>
<td><a href="./companytype.php?action=mod&id=<{$ls.id}>"><img src="<{$tpl_img_path}>admin/mod.gif" border="0" alt="Changes"></a></td>
</tr>
<{foreachelse}>
<tr bgcolor="#ffffff">
<td colspan="3" align="center"><strong>There is no data on</strong></td>
</tr>
<{/foreach}>
</tbody>
<!-- Paging -->
<tr align="center"><td class="altbg1" colspan="3"><{$ByPages}></td></tr>
<tr class="header" bgcolor="#ffffff">
<td><div align="center">
  <input name="del" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'" type="submit" value="Remove" />
</div></td> 
<td><div align="center"></div></td>
<td><div align="center"></div></td>
</tr>
</table>
</form>
</td>
</tr>
</table>
<br />
<!-- Quick Add -->
<form name="quickaddfrm" action="" method="post">
<table width="98%" border="0" cellpadding="0" cellspacing="0" class="tableborder" align="center">
<tr class="header"><td colspan="5"><div align="left">Quick Add
\</div></td></tr>
<tr>
	<td><div align="right">Type name
\ :</div></td>
	<td><input name="companytype[name]" type="text" id="companytype_name">&nbsp;<input name="quickadd" type="submit" id="quickadd" value="Add" class="btn_mouseout" onMouseOver="this.className='btn_mouseover'" onMouseOut="this.className='btn_mouseout'"></td>
	<td></td>
  </tr>
</table>
</form>

</body>
</html>
