<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><{$sitename}>_Console-<{$sitetitle}></title>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<link rel="stylesheet" type="text/css" id="css" href="<{$tpl_img_path}>admin/admincp.css">
<script language="javascript" src="<{$JS_PATH}>js/admin.js"></script>
<script>
var is_ie = document.all ? true : false;
var is_ff = window.addEventListener ? true : false;
function refreshmainframe(e) {
	e = e ? e : window.event;
	actualCode = e.keyCode ? e.keyCode : e.charCode;
	if(actualCode == 116 && parent.main) {
		parent.main.location.reload();
		if(is_ie) {
			e.keyCode = 0;
			e.returnValue = false;
		} else {
			e.preventDefault();
		}
	}
}
var collapsed=get_cookie('bbs_collapse');
function collapse_change(menucount) {
	if($('menu_' + menucount).style.display == 'none') {
		$('menu_' + menucount).style.display = '';collapsed = collapsed.replace('[' + menucount + ']' , '');
		$('menuimg_' + menucount).src = '<{$tpl_img_path}>admin/menu_reduce.gif';
	} else {
		$('menu_' + menucount).style.display = 'none';collapsed += '[' + menucount + ']';
		$('menuimg_' + menucount).src = '<{$tpl_img_path}>admin/menu_add.gif';
	}
	set_cookie('bbs_collapse', collapsed);
}
</script>
</head>

<body onkeydown="refreshmainframe(event)" style="margin:5px!important;margin:3px;">
<table width="146" border="0" cellspacing="0" align="center" cellpadding="0" class="leftmenulist" style="margin-bottom: 5px;"><tr class="leftmenutext"><td><div align="center"><a href="<{$SiteUrl}>" target="_blank">Homepage</a>&nbsp;&nbsp;<a href="<{$SiteUrl}>pb-admin/"  onClick="parent.main.location='home.php?action=home';return false;">Console</a></div></td></tr></table>
<{php}>
$i = 1;
<{/php}>
<{section loop=$ActionMenus name=sub_menu}>
<div id="<{$ActionMenus[sub_menu].ename}>" style="display:<{if $ActionMenus[sub_menu].ename=="home"}>yes<{else}>none<{/if}>">
	<{section name=sub_menu2 loop=$ActionMenus[sub_menu].items}>
		<table width="146" border="0" cellspacing="0" align="center" cellpadding="0" class="leftmenulist" style="margin-bottom: 5px;">
		<tr class="leftmenutext"><td><a href="###" onclick="collapse_change(<{php}>echo $i;<{/php}>)"><img id="menuimg_<{php}>echo $i;<{/php}>" src="<{$tpl_img_path}>admin/<{if $ActionMenus[sub_menu].items[sub_menu2].show==true}>menu_reduce.gif<{else}>menu_add.gif<{/if}>" border="0"/></a>&nbsp;<a href="#" onclick="collapse_change(<{php}>echo $i;<{/php}>)"><{$ActionMenus[sub_menu].items[sub_menu2].cname}></a></td></tr>
		<tbody id="menu_<{php}>echo $i;<{/php}>" style="display:<{if $ActionMenus[sub_menu].items[sub_menu2].show==true}>yes<{else}>none<{/if}>">
		<tr class="leftmenutd"><td>
		<table border="0" cellspacing="0" cellpadding="0" class="leftmenuinfo">
		<{section name=sub_menu3 loop=$ActionMenus[sub_menu].items[sub_menu2].items}>
			<tr><td><a href="<{$ActionMenus[sub_menu].items[sub_menu2].items[sub_menu3].url}>" target="main" title="<{$ActionMenus[sub_menu].items[sub_menu2].items[sub_menu3].title}>"><{$ActionMenus[sub_menu].items[sub_menu2].items[sub_menu3].cname}></a></td></tr>
		<{/section}>
		</table></td></tr></tbody></table>
		</td></tr>
		</tbody>
		</table>
		<{php}>$i++;<{/php}>
	<{/section}>
</div>
<{/section}>
</body>
</html>