<table width="100%"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td><img src="<{$tpl_img_path}>office/left_bg_top.gif" width="180" height="20"></td>
</tr>
<tr>
<td><table width="167" border="0" cellspacing="0" cellpadding="0">
	<tr>
	  <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
		  <tr>
			<td width="30"><img SRC="<{$tpl_img_path}>office/left_pic1.gif" width=30 height=35 alt=""></td>
			<td background="<{$tpl_img_path}>office/left_bg1.gif" class="title_bar"><a name="menu_top"></a>Information</td>
			<td width="55"><img SRC="<{$tpl_img_path}>office/left_bg11.gif" width=55 height=35 alt=""></td>
		  </tr>
	  </table></td>
	</tr>
	<tr>
	  <td align="center" background="<{$tpl_img_path}>office/left_mid.gif"><table width="90%"  border="0" cellspacing="0" cellpadding="5">
		  
		  <tr>
			<td width="22%" align="right"><img src="<{$tpl_img_path}>office/sell_add.gif"></td>
			<td><a href="tradeedit.php?action=mod&amp;type=2">Puglish Offer</a></td>
		  </tr>
		  <tr>
			<td width="22%" align="right"><img src="<{$tpl_img_path}>office/buy.gif"></td>
			<td><a href="trade.php">My Offer</a></td>
		  </tr>
		  <tr>
			<td width="22%" align="right"><img src="<{$tpl_img_path}>office/sell.gif"></td>
			<td><a href="favor.php">My Favorite</a></td>
		  </tr>
		  <tr>
			<td width="22%" align="right"><img src="<{$tpl_img_path}>office/stat.gif" width="14" height="14"></td>
			<td><a href="stat.php">Offer Stat</a></td>
		  </tr>
		  
	  </table></td>
	</tr>
  </table>
  <{if $UalinkUser.user_level>1}>
	<table width="167" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td width="30"><img SRC="<{$tpl_img_path}>office/left_pic2.gif" width=30 height=35 alt=""></td>
			  <td background="<{$tpl_img_path}>office/left_bg2.gif" class="title_bar"><a name="p"></a>Products</td>
			  <td width="55"><img SRC="<{$tpl_img_path}>office/left_bg21.gif" width=55 height=35 alt=""></td>
			</tr>
		</table></td>
	  </tr>
	  <tr>
		<td align="center" background="<{$tpl_img_path}>office/left_mid.gif"><table width="90%"  border="0" cellspacing="0" cellpadding="5">
			<tr>
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/product.gif"></td>
			  <td><a href="productedit.php">Publish Product</a> </td>
			</tr>
			<tr>
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/product2.gif"></td>
			  <td><a href="product.php">Products</a></td>
			</tr>
			<tr>
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/sort.gif"></td>
			  <td><a href="producttype.php">Product Types</a></td>
			</tr>
			
			<tr>
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/stat.gif" width="14" height="14"></td>
			  <td><a href="stat.php">Stat</a></td>
			</tr>
		</table></td>
	  </tr>
	</table>
	<table width="167" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td width="30"><img SRC="<{$tpl_img_path}>office/left_pic3.gif" width=30 height=35 alt=""></td>
			  <td background="<{$tpl_img_path}>office/left_bg2.gif" class="title_bar">Company</td>
			  <td width="55"><img SRC="<{$tpl_img_path}>office/left_bg21.gif" width=55 height=35 alt=""></td>
			</tr>
		</table></td>
	  </tr>
	  <tr>
		<td align="center" background="<{$tpl_img_path}>office/left_mid.gif"><table width="90%"  border="0" cellspacing="0" cellpadding="5">
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/company.gif"></td>
			  <td><a href="company.php">Information</a> </td>
			</tr>
 			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/company.gif"></td>
			  <td><a href="honour.php" title="Enterprise honor certificate, business license and other accessories">Honor</a> </td>
			</tr>
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/contact.gif"></td>
			  <td><a href="card.php">Cards</a> </td>
			</tr>
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/news.gif"></td>
			  <td><a href="news.php?action=list">News</a></td>
			</tr>
			<tr>
			  <td align="right"><img src="<{$tpl_img_path}>office/hr.gif" /></td>
			  <td><a href="job.php#menu_top">Recruitment</a></td>
			<tr> 
			<tr>
			  <td align="right"><img src="<{$tpl_img_path}>office/news.gif" /></td>
			  <td><a href="ad.php#menu_top">Advertise</a></td>
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/link1.gif"></td>
			  <td><a href="link.php#menu_top">Insite Link</a></td>
			</tr>
			
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/link2.gif"></td>
			  <td><a href="outlink.php#menu_top">Offsite Link</a></td>
			</tr>
		  </table></td>
	  </tr>
	</table>
	<{/if}>
	<table width="167" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td width="30"><img SRC="<{$tpl_img_path}>office/left_pic4.gif" width=30 height=35 alt=""></td>
			  <td background="<{$tpl_img_path}>office/left_bg2.gif" class="title_bar">Business</td>
			  <td width="55"><img SRC="<{$tpl_img_path}>office/left_bg21.gif" width=55 height=35 alt=""></td>
			</tr>
		</table></td>
	  </tr>
	  <tr>
		<td align="center" background="<{$tpl_img_path}>office/left_mid.gif"><table width="90%"  border="0" cellspacing="0" cellpadding="5">
  <{if $UalinkUser.user_level>1}>
 			<tr>
              <td align="right"><img src="<{$tpl_img_path}>office/message_out.gif" /></td>
			  <td><a href="inquery.php#menu_top">Inquiry</a></td>
			  </tr>
<{/if}>
			<tr>
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/message_add.gif" /></td>
			  <td><a href="sendmessage.php#menu_top">Send Message</a></td>
			</tr>
			<tr>
              <td align="right"><img src="<{$tpl_img_path}>office/message_out.gif" /></td>
			  <td><a href="message.php?type=out#menu_top">Sended Message</a></td>
			  </tr>
			<tr>
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/message_in.gif" /></td>
			  <td><a href="message.php?type=in#menu_top">Received Message</a></td>
			</tr>
			
		</table></td>
	  </tr>
	</table>
	<table width="167" border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr>
			  <td width="30"><img SRC="<{$tpl_img_path}>office/left_pic7.gif" width=30 height=35 alt=""></td>
			  <td background="<{$tpl_img_path}>office/left_bg2.gif" class="title_bar">Profile</td>
			  <td width="55"><img SRC="<{$tpl_img_path}>office/left_bg21.gif" width=55 height=35 alt=""></td>
			</tr>
		</table></td>
	  </tr>
	  <tr>
		<td align="center" background="<{$tpl_img_path}>office/left_mid.gif"><table width="90%"  border="0" cellspacing="0" cellpadding="5">
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/home.gif"></td>
			  <td><a href="index.php#menu_top">Homepage</a></td>
			</tr>
			<tr>
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/personals.gif"></td>
			  <td><a href="personal.php#menu_top">Profile</a></td>
			</tr>
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/password.gif"></td>
			  <td><a href="changepass.php#menu_top">Change Password</a></td>
			</tr>
  <{if $UalinkUser.user_level>1}>
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/style.gif"></td>
			  <td><a href="style.php#menu_top">Style</a></td>
			</tr>
			<{/if}>
  <{if $IfInviteCode}>
			<tr> 
			  <td width="22%" align="right"><img src="<{$tpl_img_path}>office/style.gif"></td>
			  <td><a href="invite.php">invitation code
</a></td>
			</tr>
			<{/if}>
		</table></td>
	  </tr>
	  <tr>
		<td><img src="<{$tpl_img_path}>office/left_exit.gif" alt="Exit" width=167 height=35 border="0" usemap="#Map"></td>
	  </tr>
  </table></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
</table>
<map name="Map" id="Map"><area shape="rect" coords="48,1,157,36" href="<{$SiteUrl}>user/logging.php?action=logout" />
</map>