<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>Commercial Office - <{$sitetitle}></title>
<link href="<{$CSS_PATH}>css/style.css" rel="stylesheet" type="text/css">
<link href="<{$INC_PATH}>css/room.css" rel="stylesheet" type="text/css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
    <td height="83"><{include file="default/element.top.html"}></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr align="center" valign="top">
    <td width="180" background="<{$tpl_img_path}>office/left_bg.gif"><{include file="room/menu.html"}></td>
    <td align="center"><table width="98%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><img SRC="<{$tpl_img_path}>office/banr_pic.gif" WIDTH=570 HEIGHT=101 ALT=""></td>
        </tr>
      </table>
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="45" background="<{$tpl_img_path}>office/title_bg.gif"><table height="30" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td class="font14b_org"><img src="<{$tpl_img_path}>office/icon_newd.gif" width="15" height="16">View Trade Information </td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td height="5" valign="top" class="bggray2"></td>
          </tr>
      </table>
		<form name="TradeFrm" enctype="multipart/form-data" method="post" action="<{$smarty.env.PHPSELF}>">
	    <table width="95%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="100" class="bgblue"><img src="<{$tpl_img_path}>office/corner_01.gif" width="12" height="12"></td>
                        <td align="right" valign="top" class="tdright"><img src="<{$tpl_img_path}>office/corner_02.gif" width="12" height="12"></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td width="90" class="tdleft"><font color="#FF6600">*</font> Direction:</td>
                        <td class="tdright"><input type="radio" name="offer_type" value="1"  <{$buyradio}>>
                    Buy
                      <input name="offer_type" type="radio" value="2" <{$sellradio}>>
                    Supply/td>
                      </tr>
                      <tr>
                        <td class="tdleft"><font color="#FF6600">*</font> Theme:</td>
                        <td class="tdright"><{$TradeInfo.Name}></td>
                      </tr>
                      <tr>
                        <td class="tdleft"><font color="#FF6600">*</font> Duration:</td>
                        <td class="tdright"><input type="radio" name="offer_expire" value="10" >
                    10 days
                      <input type="radio" name="offer_expire" value="30" >
                    Month
                    <input type="radio" name="offer_expire" value="90" >
                    Months

                    <input name="offer_expire" type="radio" value="180" checked>
                    Six</td>
                      </tr>
                      <tr>
                        <td class="tdleft"><font color="#FF6600">*</font> Industry:</td>
                        <td class="tdright"><input name="industry" type="text" id="industry" value="1" size="32">
                            <input type="button" onClick="OpenWindow('about:blank')" value="Select Industry Classification" size=16></td>
                      </tr>
                      <tr>
                        <td class="tdleft"> Parameters: </td>
                        <td class="tdright"><table border="0" cellspacing="0" cellpadding="4">
                            <tr>
                              <td>Information is more buyers want to search? Please add product parameters:</td>
                            </tr>
                            <tr>
                              <td>Number of products:
                                  <input name="quantity" type="text" value="123"></td>
                            </tr>
                            <tr>
                              <td>Package Description:
                                  <input name="packing" type="text" value="abcdebadfas;fd"></td>
                            </tr>
                            <tr>
                              <td>Price Description:
                                  <input name="price" type="text" value="255"></td>
                            </tr>
                            <tr>
                              <td>Product Specifications:
                                  <input name="product_model" type="text" value="L W H"></td>
                            </tr>
                            <tr>
                              <td>Product Code:
                                  <input name="product_sn" type="text" value="SIDDD0123021"></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td class="tdleft"><font color="#FF6600"> *</font> Detailed Description:</td>
                        <td class="tdright"><p>
                            <textarea name="content" cols="60" rows="8" wrap="VIRTUAL">asdfasdfasdfasdfasdf
xcvbxcvbxcvb</textarea>
                            <font color="#FF3300">(Do not include detailed description of the company name, address, contact, etc.)<br>
                        </font></p></td>
                      </tr>
                      <tr>
                        <td valign="top" class="tdleft">Picture:</td>
                        <td class="tdright"><input name="pic" type="file" size="35">
                            <span class="gray"><br>
                            <br>
                    (Photo size of no more than 200K, format, gif, jpg, picture width of the maximum number of 400 as the best results！）</span></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="100" class="tdleft"><img src="<{$tpl_img_path}>office/corner_03.gif" width="12" height="12"></td>
                        <td align="right" valign="top" class="tdright"><img src="<{$tpl_img_path}>office/corner_04.gif" width="12" height="12"></td>
                      </tr>
                  </table></td>
                </tr>
              </table>
                <br>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td><table width="100%" border="0" cellpadding="8" cellspacing="1" class="bgblue">
                        <tr>
                          <td align="center" class="zi">Please be sure to check the contact information! (If incorrect, the customer can not find you, the information can not be vetted and approved!) <br>
                    If necessary, you can Click here <a href="./company.php" target="_blank" class="font14b_org"><strong>Modify the contact information</strong></a></td>
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" align="center" cellpadding="8" cellspacing="1" class="bgblue">
                        <tr>
                          <td><table width="100%" border="0" cellpadding="2" cellspacing="1" class="zi">
                              <tr bgcolor="#FFFFFF">
                                <td width="24%" align="right">Name:</td>
                                <td width="76%"><{$MemberInfo.Name}> Mr. <font color="#999999">(Full name) </font></td>
                              </tr>
                              <tr bgcolor="#FFFFFF">
                                <td align="right">Company Name:</td>
                                <td><{$CompanyInfo.Name}> <font color="#999999">(Company full name)</font></td>
                              </tr>
                              <tr bgcolor="#FFFFFF">
                                <td align="right">Tel:</td>
                                <td><{$CompanyInfo.Tel}></td>
                              </tr>
                              <tr bgcolor="#FFFFFF">
                                <td align="right">Fax:</td>
                                <td><{$CompanyInfo.Fax}></td>
                              </tr>
                              <tr bgcolor="#FFFFFF">
                                <td align="right">Mobile:</td>
                                <td><{$CompanyInfo.MobilePhone}></td>
                              </tr>
                              <tr bgcolor="#FFFFFF">
                                <td align="right">E-mail:</td>
                                <td><{$CompanyInfo.Email}></td>
                              </tr>
                          </table></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
          </tr>
          <tr>
            <td height="40" align="center"><br>
                <input type="submit" name="submit" value="All completed, please release!" onClick="">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
    </table>
		</form>
	</td>
  </tr>
</table>
<{include file="room/foot.html"}>
</body>
</center>
 </html>

