<table height=35 cellSpacing=3 cellPadding=3 width="100%" 
align=center border=0>
<form name="SearchForm" action="<{$smarty.server.PHP_SELF}>" method="post">
<tbody>
  <tr> 
	<td class=f2 align=middle width=123>
	<div align="center"> 
<select name="provinceid" id="provinceid" USEDATA="dataSrc2" SUBCLASS="1">
</select>
	  </div></td>
	<td width=140><div align="center">
	<select name="cityid" id="cityid" USEDATA="dataSrc2" SUBCLASS="2">
	</select>
	  </div></td>
	<td align=middle width=178>
	<div align="center"> 
<select name="provinceid" id="provinceid" USEDATA="dataSrc2" SUBCLASS="1">
</select>
	  </div></td>
	<td align=middle width=148><div align="center"><input name="keyword" value="Enter keywords" size="18" onfocus="if(this.value=='Enter keywords'){this.value='';this.style.color='#000'}" onblur="if(this.value==''){this.value='Enter keywords';this.style.color='#808080'}" >
	  </div></td>
	<td align=middle width=121><div align="center"> 
		<input type="submit" name="Submit2" value="--Select--">
	  </div></td>
  </tr>
</form>
</table>