<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>Published supply and demand information on tourist&laquo;<{$sitetitle}></title>
<meta name ="keywords" content="Tourists, publish, supply, buy, investment, join, inventory, agents, wholesale">
<meta name ="description" content="<{$sitename}>Web site allows visitors to comply with the agreement based on the freely distributed business information,Please fill in information in order to allow customers to quickly find you."> 
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
<script language="javascript" src="<{$JS_PATH}>js/prototype.js"></script>
<SCRIPT LANGUAGE="JavaScript" src="<{$JS_PATH}>js/area_func.js"></SCRIPT> 
<SCRIPT LANGUAGE="JavaScript" src="<{$JS_PATH}>js/area_data.js"></SCRIPT> 
<SCRIPT LANGUAGE = JavaScript> 
<!--
var s=["s1","s2","s3"]; 
var opt0 = ["Country","Province","City"]; 
function setup() 
{ 
for(i=0;i<s.length-1;i++) 
document.getElementById(s[i]).onchange=new Function("change("+(i+1)+")"); 
change(0); 
} 
//--> 
</SCRIPT> 
<script language="javascript">
<!-- 
function check(frm){
	if($F('trade_topic') == ""){
		alert("Please enter the title of supply and demand information on");
		$('trade_topic').focus();
		return false;
	}
	if($F('trade_content') == ""){
		alert("Please enter a description of the information");
		$('trade_content').focus();
		return false;
	}
	if($F('link_man') == ""){
		alert("Please enter a contact name");
		$('link_man').focus();
		return false;
	}
	if($F('prim_telnumber') == ""){
		alert("Please enter a contact telephone");
		$('prim_telnumber').focus();
		return false;
	}
	if($F('countryid') == "" && $F('countryid')==0){
		alert("Please enter the area");
		$('countryid').focus();
		return false;
	}
	return true;
}
//-->
</script>
<{$xajax_javascript}>
<script language="javascript">
xajax_rebuildHTML("post.php");
</script>
</head>

<body onload="setup()">
<!--head-->
<{assign var="sell_li" value="cor over"}>
<{include file="`$ThemeName`/element.header.html"}>
<!--head end-->
<div class="wd crumb">
	<p><strong>Published supply information free of charge for one minute, so that buyers take the initiative to find the offer.</strong></p><em class="str"><a href="<{$UrlContainer.common}>room/">Office&gt;&gt;</a></em>
</div>
<div class="clear9"></div>
<div class="wd free_c">
	<p class="a_line8"></p>
	<div class="zh_left">
		<div class="free_info">
			<img src="<{$tpl_img_path}>default/free.jpg" />
			<p>
				<span>(For more accurate information can attract more clients!)</span><br /><br />
				<em class="str">Note:</em><br />
				1,For the convenience of customers contact you, with "*" Content are required<br />
				2,Please focus your mailbox or telephone, Do not miss any opportunities
			</p>
		</div>
	</div>
	<div class="zh_right">
		<form name="TradeFrm" enctype="multipart/form-data" method="post" action="<{$smarty.server.PHP_SELF}>" onsubmit="$('Post').disabled=true;">
		<div class="bt gs_bt4 h_tt4 free_bt"><h2>Basic information content</h2><p> </p></div>
		<div class="free_c1">
			<div class="free_l">
				<label class="free_must">Supply and demand directions:</label>
				<p class="free_p5"><{html_radios name="type_id" options=$TradeTypes checked=$t.TradeTypeId|default:"1" separator=" "}></p>
			</div>
			<div class="free_l">
				<label class="free_must">Title:</label>
				<p class="free_p1"><input name="trade[topic]" id="trade_topic" type="text" size="32" value=""></p>
			</div>
			<div class="free_l">
				<label class="free_must">Duration:</label>
				<p class="free_p5"><{html_radios name="expire_days" options=$OfferExpires checked=$t.TradeExpireDays|default:"30" separator=" "}></p>
			</div>
			<div class="free_l">
				<label class="free_must">Region:</label>
				<p>
					<select name="countryid" id="s1"><option>Country</option></select> 
					<select name="provinceid" id="s2"><option>Province</option></select> 
					<select name="cityid" id="s3"><option>City</option></select> 				
				</p>
			</div>
			<div class="free_l">
				<label class="free_must">Detailed Description:</label>
				<p class="free_p4"><textarea name="trade[content]" id="trade_content" cols="60" rows="8" wrap="virtual"></textarea></p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="bt gs_bt4 h_tt5"><h3>Optional content</h3><p> </p></div>
		<div class="free_c1">
			<div class="free_l">
				<label>Keywords:</label>
				<p class="free_p1"><input name="trade[keywords]" id="trade_keywords" type="text" size="32" value=""></p>
				<em>(Please use multiple keywords "," separated.)</em>
			</div>
			<div class="free_l">
				<label>The industry:</label>
				<p><select name="aindustry" id="aindustry" USEDATA="dataSrc" SUBCLASS="1">
                              </select>
                                <select name="bindustry" id="bindustry" USEDATA="dataSrc" SUBCLASS="2">
                                </select></p>
			</div>
		</div>
		<div class="bt gs_bt4 h_tt5"><h3>Contact</h3><p> </p></div>
		<div class="free_c1">
			<div class="free_l">
				<label class="free_must">Contact:</label>
				<p class="free_p1"><input type="text" name="offer[link_man]" id="link_man" value=""></p>
				<p class="free_p5"><{html_radios name="offer[gender]" options=$Genders checked="1" separator=" "}></p>
			</div>
			<div class="free_l">
				<label>Company name:</label>
				<p class="free_p1"><input name="offer[company_name]" id="OfferCompanyName" type="text"></p>
				<em>(Company's full name)</em>
			</div>
			<div class="free_l">
				<label>Contact details:</label>
				<p class="free_p1"><input name="offer[address]" id="OfferAddress" type="text"></p>
			</div>
			<div class="free_l">
				<label class="free_must">Preferred Contact Phone:</label>
				<p><select name="offer[prim_tel]" id="OfferPrimTel">
                <{html_options options=$PhoneTypes selected="1"}>
              </select>ID:<p class="free_p1"><input type="text" name="offer[prim_telnumber]" id="prim_telnumber" value=""></p>
			</div>
			<div class="free_l">
				<label>Preferred IM:</label>
				<p><select name="offer[prim_im]">
                <{html_options options=$ImTypes selected="1"}>
              </select></p>
				<label class="free_must1">ID:</label>
				<p class="free_p3"><input name="" type="text" value="" /></p>
			</div>
			<div class="free_l">
				<label class="free_must">E-mail:</label>
				<p class="free_p1"><input name="offer[email]" id="OfferEmail" type="text"></p>
			</div>
<{if $IfVisPostPicture}>
			<div class="free_l">
				<label class="free_must">Verify Code:</label>
				<p class="free_p2"><a name="inputAuthNumber" /><input type="text" name="visit_auth_num" id="VisitAuthNumber" size="4" maxlength="4" value=""></p>
				<em>(<a href="#inputAuthNumber" onclick="$('VisitAuthPicture').src='<{$SiteUrl}>auth_image.php';">Refresh</a>)</em>
				<img name="visit_auth_picture" id="VisitAuthPicture" src="<{$SiteUrl}>auth_image.php">
			</div>
<{/if}>                                  
			<div class="free_l free_l1">
				<input type="submit" value="All completed, Post" name="post" id="Post" class="free_btn1 f14 str" onclick="return check();" />
				<input type="reset" value="Cancel" class="free_btn2 f14 str" />
			</div>
		</div>
		</form>
	</div>
	<p class="a_line7"></p>
</div>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
