<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>广告位置</p> 
    <ul class="subnav">
		<li><a class="btn1" href="adzone.php">管理</a></li>
        <li><a class="btn1" href="adzone.php?do=edit&id=<{$id}>">添加/编辑</a></li>
		<li><span>查看调用代码</span></li>
    </ul>
</div>
<div class="info">
<form name="textfrm">
    <table class="infoTable">
      <tr>
        <th class="paddingT15"> <a href="javascript:clip('textfrm.copy')" title="点击复制到剪贴板">(点击复制到剪贴板)</a></th>
        <td class="paddingT15 wordSpacing5"><textarea name="copy" style="width:450px;overflow-y:visible;font-family:Arial"><{$XMLDATA}></textarea></td>
      </tr>
    </table>
</div>
<script type="text/javascript">
<!--
function clip(text){
	str=eval("document." + text)
	str.select()
	str = document.selection.createRange();
	clipboardData.setData('text',(str.text));
	alert("数据已经复制到剪贴板");
}
//-->
</script>
<{include file="footer.html"}>