<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>会员中心</p> 
    <ul class="subnav">
		<li><a class="btn1" href="member.php">管理</a></li>
		<li><span>分类</span></li>
        <li><a class="btn1" href="membertype.php?do=edit">添加/编辑</a></li>
    </ul>
</div>
<div class="mrightTop"> 
    <div class="fontl">默认会员组会在用户注册的时候自动选择。</div> 
    <div class="fontr"></div> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="membertype.php" method="post">
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onclick="pbCheckAll(this,'id[]');" title="全选/全不选"></td>
		  <td><label for="idAll">名称</label></td>
		  <td><span>简介</span></td>
		  <td>默认会员组</td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="id[]" value="<{$item.id}>" onclick="pbCheckItem(this,'idAll');" id="item_<{$item.id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.id}>"><{$item.name}></label></td>
		  <td><{$item.description}></td>
		  <td><a href="membergroup.php?do=permission" title="查看权限"><{$item.default_group}></a></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="membertype.php?id=<{$item.id}>&do=del"><img src="images/del.gif" border="0" alt="删除"></a>&nbsp;&nbsp;<a href="membertype.php?do=edit&id=<{$item.id}>"><img src="images/edit.gif" border="0" alt="编辑"></a></span>		  </td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="5">没有符合条件的记录</td>
		</tr>
		<{/foreach}>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del" value="删除" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
	</form>
</div>
<{include file="footer.html"}>