<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>订单中心</p> 
    <ul class="subnav"> 
		<li><a class="btn1" href="order.php">管理</a></li>
        <li><span>查看服务</span></li>
    </ul> 
</div> 
<div class="tdare">
  <form name="list_frm" id="ListFrm" action="order.php" method="post">
  <input type="hidden" name="order_id" value="<{$smarty.get.id}>" />
  <table width="100%" cellspacing="0" class="dataTable" summary="数据区">
    <tbody>
		<tr class="tatr1">
		  <td class="firstCell"><input type="checkbox" name="idAll" id="idAll" onClick="pbCheckAll(this,'goods_id[]');" title="全选/全不选"></td>
		  <td><label for="idAll">订单编号</label></td>
		  <td><span>服务名称</span></td>
		  <td>小计</td>
		  <td class="handler">操作</td>
		</tr>
		<{foreach from=$Items item=item}>
		<tr class="tatr2">
		  <td class="firstCell"><input type="checkbox" name="goods_id[]" value="<{$item.goods_id}>" onClick="pbCheckItem(this,'idAll');" id="item_<{$item.goods_id}>" title="<{$item.id}>"></td>
		  <td><label for="item_<{$item.goods_id}>"><{$item.order_id}></label></td>
		  <td><{$item.name}></td>
		  <td><{$item.price}></td>
		  <td class="handler">
		  <span style="width: 120px;">
		  <a href="order.php?goods_id=<{$item.goods_id}>&order_id=<{$item.id}>&do=del"><img src="images/del.gif" border="0" alt="删除"></a></span></td>
		</tr>
		<{foreachelse}>
		<tr class="no_data info">
		  <td colspan="5">订单里没有任何服务数据</td>
		</tr>
		<{/foreach}>
		<tr class="tatr1">
		  <td colspan="3" class="firstCell">合计</td>
		  <td colspan="2"><{$TotalPrice}></td>
	    </tr>
    </tbody>
	</table>
	<div id="dataFuncs" title="操作区">
    <div class="left paddingT15" id="batchAction">   
      <input type="submit" name="del_ordergoods" value="删除" class="formbtn batchButton"/>
    </div>
    <div class="pageLinks"><{$ByPages}></div>
    <div class="clear"/>
    </div>
  </form>
</div>
<{include file="footer.html"}>