<{include file="header.html"}>
<style type="text/css">
<!--
body {background: #fcfdff}
-->
</style>
<div id="rightTop"> 
    <p>全局</p> 
    <ul class="subnav">
        <li><a class="btn1" href="setting.php?do=basic">站点信息</a></li>
		<li><a class="btn1" href="setting.php?do=functions">网站功能</a></li>
        <li><span>注册与访问</span></li>
		<li><a class="btn1" href="setting.php?do=email">Email</a></li>
		<li><a class="btn1" href="setting.php?do=auth">安全验证</a></li>
    </ul>
</div>
<div class="info"> 
    <form method="post" name="edit_frm" action="setting.php"> 
    <input type="hidden" name="data[reg_filename]" value="<{$item.REG_FILENAME}>" />
    <input type="hidden" name="data[post_filename]" value="<{$item.POST_FILENAME}>" />
        <table class="infoTable"> 
         	<tr> 
                <th class="paddingT15">允许新用户注册:</th> 
              	<td class="paddingT15 wordSpacing5">
                <label for="close_register"><input type="radio" name="data[setting][register_type]" id="close_register" value="close_register" onclick="$('#tbRegItem').hide();" />关闭注册</label>
  <br />
  <label for="open_common_reg"><input type="radio" name="data[setting][register_type]" id="open_common_reg" value="open_common_reg" onclick="$('#tbRegItem').show();" />开放普通注册</label>
  <br />
  <label for="open_invite_reg"><input type="radio" name="data[setting][register_type]" id="open_invite_reg" value="open_invite_reg" onclick="$('#tbRegItem').show();" />开放邀请注册</label></td> 
          	</tr> 
            <tbody id="tbRegItem" style="display: none">
			<tr> 
                <th class="paddingT15">注册协议:</th> 
       			<td class="paddingT15 wordSpacing5"><textarea name="data[agreement]" style="width:600px;" class="mceEditor"><{$item.agreement}></textarea><label class="field_notice">可以用参数%site_name%表示网站名称,%site_url%表示网站地址</label></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">注册文件名:</th> 
              	<td class="paddingT15 wordSpacing5"><input type="text" name="data[setting][reg_filename]" value="<{$item.REG_FILENAME|default:'register.php'}>" class="infoTableInput" /></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">新用户注册验证:</th> 
              	<td class="paddingT15 wordSpacing5">
                  <select name="data[setting][new_userauth]" id="NewUserauth">
                  <option value="0" <{if $item.NEW_USERAUTH==0}>selected="selected"<{/if}>>无</option>
                  <option value="1" <{if $item.NEW_USERAUTH==1}>selected="selected"<{/if}>>Email验证</option>
                  <option value="2" <{if $item.NEW_USERAUTH==2}>selected="selected"<{/if}>>人工审核</option>
                  </select>
                </td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">禁止注册IP地址:</th> 
       			<td class="paddingT15 wordSpacing5"><textarea name="data[forbid_ip]">192.168.1.*<{$item.forbid_ip}></textarea></td> 
          	</tr> 
			<tr> 
                <th class="paddingT15">关键字屏蔽:</th> 
       			<td class="paddingT15 wordSpacing5"><textarea name="data[forbid_word]">胡锦涛<{$item.forbid_keyword}></textarea></td> 
          	</tr> 
         	<tr> 
                <th class="paddingT15">同一 IP 注册间隔限制:</th> 
              	<td class="paddingT15 wordSpacing5"><input type="text" name="data[setting][ip_reg_sep]" id="IP_REG_SEP" value="<{$item.IP_REG_SEP|default:0}>" class="infoTableInput" /><label class="field_notice">单位每小时，0为不限制</label></td> 
          	</tr>
            </tbody>
         	<tr> 
                <th class="paddingT15">免费发布供求文件名:</th> 
              	<td class="paddingT15 wordSpacing5"><input type="text" name="data[setting][post_filename]" value="<{$item.POST_FILENAME|default:'post.php'}>" class="infoTableInput" /></td> 
          	</tr> 
            <tr> 
            <th></th> 
            <td class="ptb20"> 
                <input class="formbtn" type="submit" name="saveregister" value="提交" /> 
                <input class="formbtn" type="reset" name="reset" value="重置" /> 
            </td> 
        </tr> 
        </table> 
    </form> 
</div> 
<script src="../scripts/tiny_mce/tiny_mce.js" type="text/javascript"></script>
<script>
var register_type = "<{$item.REGISTER_TYPE|default:open_common_reg}>";
jQuery(document).ready(function($) {
	if(register_type=="close_register"){
		$("#close_register").attr("checked","checked");
	}else if(register_type=="open_common_reg"){
		$("#open_common_reg").attr("checked", "checked");
		$("#tbRegItem").show();
	}else if(register_type=="open_invite_reg"){
		$("#open_invite_reg").attr("checked", "checked");
		$("#tbRegItem").show();
	}
})
tinyMCE.init({
mode : "specific_textareas",
editor_selector : "mceEditor",
theme : "simple",
theme_advanced_toolbar_location : "top",
theme_advanced_toolbar_align : "left"
});
</script>
<{include file="footer.html"}>