/**
#ProgressBar {
	font:12px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #5B94DF;
}
#Pointer {
	border:1px solid  #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDE9F9, endColorstr=#81ACE7);
}
#Lable {
	position:absolute;
	width:100%;
	text-align: center;
}
**/