<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>商务室 - <{$sitetitle}></title>
<link href="<{$CSS_PATH}>css/style.css" rel="stylesheet" type="text/css">
<link href="<{$INC_PATH}>css/room.css" rel="stylesheet" type="text/css">
<script language="javascript" src="<{$INC_PATH}>js/prototype.js"></script>
<script>
function test(){
var form = $('listfrm') ;
var t = form.getInputs("checkbox");
var chked = 0;
for (i=0; i<t.length; i++)
{
	if($(t[i]).checked)
	chked++;
}
if(chked<=0){
	alert("您没有选中任何信息");
	return false;
}else{
	return true;
}
}
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
    <td height="83"><{include file="top.html"}></td>
  </tr>
</table>
<table width="770" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr align="center" valign="top">
    <td width="180" align="center" background="images/left_bg.gif"><{include file="menu.html"}></td>
    <td width="590"><table  border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/banr_pic.gif" width=570 height=101 alt=""></td>
      </tr>
    </table>
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="45" background="images/title_bg.gif"><table height="30" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td>&nbsp;</td>
                <td class="font14b_org"><img src="images/icon_newd.gif" width="15" height="16">我的信息收藏夹 </td>
              </tr>
          </table></td>
        </tr>
        <tr>
          <td height="5" valign="top" class="bggray2"></td>
        </tr>
      </table>
      <table width="95%" border="0" cellpadding="2" cellspacing="0" class="bggray">
        <tr>
          <td height="35" class="orange">（<span class="gray">提示：</span>你可以删除已有的信息再重新收藏）</td>
        </tr>
      </table>      
      <br>
      <form name="listfrm" action="<{$smarty.server.PHP_SELF}>" method="post" onSubmit="return test();">
      <table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><table width="100%" border="0" cellpadding="5" cellspacing="1" class="bglist">
            <tr align="center">
              <td><strong>类 型</strong></td>
              <td><strong>标题</strong></td>
              <td><strong>收藏时间</strong></td>
              <td><strong>删 除</strong></td>
            </tr>
			<{foreach from=$favorlists item=item name=favorite }>
            <tr align="center" class="bgwhite">
              <td class="orange"><{$TradeTypes[$item.TradeType]}></td>
              <td><a href="../offer/detail.php?id=<{$item.TradeId}>" target="_blank"><{$item.Title}></a>&nbsp;</td>
              <td><{$item.CreateDate|date_format:"%Y-%m-%d"}>&nbsp;</td>
              <td><input name="fid[]" type="checkbox" id="fid[]" value="<{$item.FavorId}>"></td>
            </tr>
			<{/foreach}>
          </table></td>
        </tr>
		<{if $favorlists}>
        <tr>
          <td><div align="right">
                <input type="submit" name="del" value="删除选中的信息" onClick="return window.confirm('真的要删除这些信息吗？')">
              </div></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td height="1" background="images/index_trade_line.gif"></td>
        </tr>
		<{else}>
        <tr align="center">
          <td><B>当前没有任何收藏信息</B>&nbsp;</td>
        </tr>
		<{/if}>
        <tr>
          <td><table align="center" width="100%" class="zi">
              <tr>
                <td align="center">&nbsp;<{$ByPages}></td>
                </tr>
          </table></td>
        </tr>
      </table>
      </form>
      <br>
      <br></td>
  </tr>
</table>
<{include file="foot.html"}>
</body>
</center>
 </html>

