<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>">
<title>商务室 - <{$sitetitle}></title>
<link href="<{$theme_img_path}>common.css" rel="stylesheet" type="text/css">
<link href="images/room.css" rel="stylesheet" type="text/css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr> 
    <td height="83"><{include file="top.html"}></td>
  </tr>
</table>
<table width="760" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr align="center" valign="top">
    <td width="180" background="images/left_bg.gif"><{include file="menu.html"}></td>
    <td align="center"><table width="98%"  border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td><img SRC="images/banr_pic.gif" WIDTH=570 HEIGHT=101 ALT=""></td>
        </tr>
      </table>
        <table width="95%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="45" background="images/title_bg.gif"><table height="30" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td class="font14b_org">
				  <div id="addormod" style="display:<{$ShowCaption|default:"yes"}>">
				  <img src="images/icon_newd.gif" width="15" height="16"> 添加动态信息
				  </div>
				  </td>
                </tr>
            </table></td>
          </tr>
          <tr>
            <td height="5" valign="top" class="bggray2"></td>
          </tr>
      </table>
	  <form name="addnewsfrm" action="./news.php" method="post">
	  <input type="hidden" name="newsid" value="<{$smarty.get.id}>">
        <table width="95%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="100" class="bgblue"><img src="images/corner_01.gif" width="12" height="12"></td>
                        <td align="right" valign="top" class="tdright"><img src="images/corner_02.gif" width="12" height="12"></td>
                      </tr>
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="5">
                      <tr>
                        <td width="90" class="tdleft"><font color="#FF6600">　</font>新闻标题：</td>
                        <td class="tdright"><font color="#666666">
                            <{if $smarty.get.act eq "view"}>
							<{$NewsInfo.Title}>
							<{else}>                          
							<input name="title" type="text" id="title" value="<{$NewsInfo.Title}>" size="35">
							<{/if}>
                        </font></td>
                      </tr>
                      <tr>
                        <td class="tdleft">　详细内容：</td>
                        <td class="tdright"><p>
                            <{if $smarty.get.action eq "view"}>
							<{$NewsInfo.Content}>
							<{else}>
							<textarea name="content" cols="55" rows="10" wrap="VIRTUAL"><{$NewsInfo.Content}></textarea>
							<{/if}>
                            <font color="#FF3300"><br>
                        </font></p></td>
                      </tr>
                      
                  </table></td>
                </tr>
                <tr>
                  <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="100" class="tdleft"><img src="images/corner_03.gif" width="12" height="12"></td>
                        <td align="right" valign="top" class="tdright"><img src="images/corner_04.gif" width="12" height="12"></td>
                      </tr>
                  </table></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td height="40" align="center"><br>
                <input name="save" type="submit" id="save" value=" 确认提交 ">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
    </table>
	</form>
	</td>
  </tr>
</table>
<{include file="foot.html"}>
</body>
</center>
 </html>

