<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>公司库&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>images/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>images/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>images/style.css" />
<script type="text/javascript" src="<{$JS_PATH}>js/swfobject.js"></script>
<script type="text/javascript">
var flashvars = {};
flashvars.vcastr_xml = "<{$SiteUrl}>data/xml/video.xml";
swfobject.embedSWF("<{$SiteUrl}>images/vcastr2.swf", "flashcontent2", "450", "195", "8.0.0", null, flashvars);
</script>
<{$xajax_javascript}>
<script language="javascript">
xajax_rebuildHTML("company/index.php");
</script>
</head>

<body>
<{assign var="company_li" value="cor over"}>
<{include file="`$ThemeName`/elements/header.html"}>
<div class="wd">
	<div class="w_left1">
		<div class="w_left4">
			<div class="cpk_t1"></div>
			<div class="cpk_c1 gs_tab1">
				<div class="bt gs_bt1"><h2><a href="<{$UrlContainer.register}>?ob=company">加入企业库</a></h2><p class="padright10"><a href="<{$UrlContainer.user}>">免费加入</a></p></div>
				<p class="cpk_p1 gs_p1 f14 str">发布商机</p>
				<p class="cpk_p1 cpk_p2 f14 str">企业推广</p>
				<p class="cpk_p1 gs_p2 f14 str">产品推广</p>
				<p class="cpk_p1 gs_p3 f14 str">赢得客户</p>
				<ul class="ul21">
					<{news max=5 showtypelink="no"}>
				</ul>
			</div>
		</div>
		<div class="gs_tab2">
			<div class="bt gs_bt2"><h2 class="f12">优秀企业视频展播</h2></div>
			<div class="gs_hot" id="flashcontent2">企业视频展播</div>
		</div>
		<div class="clear9"></div>
		<div class="hyfl cpk_hyfl">
			<div class="bt in_bt6"><h2>行业分类</h2><p class="padright10 none"><a href="<{$UrlContainer.common}>room/tradeedit.php" class="a">发布供求信息</a></p></div>
			<div class="hyfl_c"><{$IndustryList}></div>
		</div>
	</div>
	<div class="w_right1">
		<div class="cpk_t1"></div>
		<div class="cpk_c1 gs_tab1">
			<div class="bt gs_bt1"><h2><a href="<{$UrlContainer.common}>company/list.php">新加入企业</a></h2><p class="padright10"><a href="<{$UrlContainer.common}>company/list.php?">&raquo;更多</a></p></div>
			<ul class="ul21"><{company max=9}></ul>
		</div>
		<div class="clear9"></div>
		<div class="cpk_t1"></div>
		<div class="cpk_c1 gs_tab1">
			<div class="bt gs_bt1"><h2><a href="<{$UrlContainer.common}>company/list.php?type=commend">最新推荐企业</a></h2><p class="padright10"><a href="<{$UrlContainer.common}>company/list.php?type=commend">&raquo;更多</a></p></div>
			<ul class="ul21"><{company max=9 commend="y"}></ul>
		</div>
		<div class="clear9"></div>
		<div class="gs_ad1"><img src="<{$theme_img_path}>images/in_235x55.jpg" /></div>
		<div class="clear9"></div>
		<div class="gs_ad1"><img src="<{$theme_img_path}>images/in_235x55_1.jpg" /></div>
	</div>
</div>
<div class="clear9"></div>
<div class="wd"><{ad type_id=1}></div>
<div class="clear9"></div>
<div class="wd">
	<div class="gs_tab4">
		<div class="bt gs_bt4"><h2><a href="<{$UrlContainer.common}>news/list.php?type_id=1">企业动态</a></h2><p>&nbsp;</p></div>
		<div class="gs_c1">
			<ul class="ul21 ula"><{news templet="title_with_time" max=9 type_id=1}></ul>
		</div>
	</div>
	<div class="gs_tab5">
		<div class="bt gs_bt4 gs_bt5"><h2>企业招聘信息</h2></div>
		<div class="gs_c1 gs_c2">
			<ul class="ul21 ula"><{job}></ul>
		</div>
	</div>
</div>
<{include file="`$ThemeName`/elements/foot.html"}>
</body>
</html>
