<!--head-->
<div class="wd logo_bor">
	<a href="<{$SiteUrl}>index.php?action=index" title="<{$sitebannerword}>"><img src="<{$tpl_img_path}>logo.gif" alt="<{$sitebannerword}>" /></a>
	<p><a href="<{$SiteUrl}>advsearch.php" target="_self"><{$_advanced_search}></a><a href="javascript: myAddPanel(document.title,location.href,document.title);" rel="sidebar" title="<{$sitename}>">加入收藏</a><a href="<{$SiteUrl}>help.php">帮助中心</a><a href="<{$UrlContainer.post}>">免费发布</a><a href="<{$UrlContainer.common}>user/service.php">客服中心</a></p>
</div>
<div class="wd menu">
	<ul>
		<li><a class="<{$index_li}>" href="<{$UrlContainer.index}>" title="<{$_home_page}>"><{$_home_page}></a></li>
		<li><a class="<{$buy_li}>" href="<{$UrlContainer.buy}>" title="求购">求购</a></li>
		<li><a class="<{$sell_li}>" href="<{$UrlContainer.sell}>" title="供应">供应</a></li>
		<li><a class="<{$company_li}>" href="<{$UrlContainer.company}>" title="公司库">公司库</a></li>
		<li><a class="<{$product_li}>" href="<{$UrlContainer.product}>" title="产品">产品</a></li>
		<li><a class="<{$news_li}>" href="<{$UrlContainer.news}>" title="资讯">资讯</a></li>
		<li><a class="<{$market_li}>" href="<{$UrlContainer.market}>" title="市场库">市场库</a></li>
		<li><a class="<{$fair_li}>" href="<{$UrlContainer.fair}>" title="展会">展会</a></li>
		<{if $ForumSet.url}>
		<li><a href="<{$ForumSet.url}>" class="<{$room_li}>" title="<{$_forum}>" target="_blank"><{$_forum}></a></li>
		<{else}>
		<li><a href="<{$UrlContainer.hr}>" class="<{$hr_li}>" title="<{$_hr}>"><{$_hr}></a></li>
		<{/if}>
	</ul>
	<p class="none"><a title="<{$sitebannerword}>"><{$sitebannerword}></a></p>
</div>
<{if $if_searchbar!="n"}>
<{include file="`$ThemeName`/element.searchbar.html"}>
<{/if}>
<script src="<{$JS_PATH}>js/general.js"></script>
<!--head end-->