<a name="top"></a>
<table width="960" height="48" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td width="87" rowspan="2"><a href="<{$SiteUrl}>index.php?action=index" title="go to homepage"><img src="<{$SiteUrl}>images/logo2.gif" width="170" height="50" border="0" alt="logo"></a></td>
    <td width="673" height="32" valign="bottom"> 
	<table width="98%" border="0" align="right" cellpadding="0" cellspacing="1">
        <tr> 
          <td width="2%"><img src="<{$tpl_img_path}>default/icon_home.gif"></td>
          <td width="8%"><a href="<{$UrlContainer.index}>" target="_top">首页</a> -</td>
          <td width="3%"><img src="<{$tpl_img_path}>default/top_register.gif"></td>
          <td width="13%"><a class="getpass" href="#" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('<{$SiteUrl}>');">设为首页</a> - </td>
          <td width="3%"><img src="<{$tpl_img_path}>default/icon_bizpass.gif" width="19" height="19"></td>
          <td width="13%"><a class="getpass" href="javascript: myAddPanel(document.title,location.href,document.title);" rel="sidebar" title="<{$sitename}>">加入收藏</a> - </td>
          <td width="3%"><img src="<{$tpl_img_path}>default/icon_message.gif" width="16" height="16"></td>
          <td width="13%"><a href="<{$ForumSet.url}>" target="_blank">商业论坛</a> 
            -</td>
          <td width="4%"><img src="<{$tpl_img_path}>default/icon_email.gif" width="24" height="20"></td>
          <td width="13%"><a href="mailto:<{$serviceemail}>?subject=Hi,..." target="_top">商务邮箱</a> 
            - </td>
          <td width="4%"><img src="<{$tpl_img_path}>default/help.gif" width="18" height="20"></td>
          <td width="11%"><a href="<{$SiteUrl}>help.php" target="_top">网站助手</a></td>
          <td width="11%"></td>
          <td width="8%"></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td height="16"> <hr size="1"></td>
  </tr>
</table>