<{foreach from=$IndustryList name=n1 item=i1 key=k1}>
	<fieldset>
		<h2 class="str f14"><a href="<{$url}>industryname=<{$i1.name|urlencode}>" title="<{$i1.name}>"><{$i1.name}></a>(<{format_amount amount_str=$i1.amount amount_type=$AmountTypeLi}>)</h2>
		<p>
			<{foreach from=$i1.subs name=n2 item=i2 key=k2}>
			<{if $smarty.foreach.n2.iteration<4}><a href="<{$url}>industryname=<{$i2.name|urlencode}>" title="<{$i2.name}>" class="str f14"><{$i2.name}></a>|
			<{else}><a href="<{$url}>industryname=<{$i2.name|urlencode}>" title="<{$i2.name}>"><{$i2.name}></a> |<{/if}>
			<{if $smarty.foreach.n2.iteration==3}>
		</p>
		<p>
		<{/if}>
		<{if $smarty.foreach.n2.iteration==6}><{php}>break;<{/php}><{/if}>
		<{/foreach}>
		</p>			
	</fieldset>
<{/foreach}>