<div class="clear15"></div>
<div class="wd foot">
	<div class="f12"><{userpage}></div>
</div>
<div class="wd">
	<p class="foot_p1 str">Powered by <a href="http://www.phpb2b.com/" target="_blank" title="PHPB2B,免费开源的PHP电子商务应用程序">PHPB2B</a> <{$UaVersion}><br />&copy; 2006-2009 Ualink&trade;</p>
	<p class="foot_p2">版权所有：<{$companyname}> &copy; <{$SiteUrl}>. ( <a href="http://www.miibeian.gov.cn/" target="_blank" class="link12_red" style=""><{$icpnumber}></a>)<br />&nbsp;网站客服热线：<{$servicetel}> 公司直线传真：<{$saletel}>
                    <{im type="qq" id="`$serviceqq`"}>&nbsp;<{im type="msn" id="`$servicemsn`"}><a href="javascript:;" onclick="window.scrollTo(0,0);" id="GoTop" title="回到顶端">Top</a></small></p>
</div>