<{assign var="page_title" value="`$page_title` - 展会"}>
<{assign var="nav_id" value="8"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
    <div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span></div>
    <div class="blank6"></div>
	<div class="content">
        <div class="qiugoucontentleft">
		<div class="base_title">
	   <h2><span class="title_name">搜索结果</span></h2>
	</div>
    
		<div class="companylistcon exhibition_c clearfix">
			<div class="companylistconhead"><span class="span1">展会信息</span><span class="span2">展会时间</span></div>
			<div class="companylistconleft" style="width:756px; overflow:hidden">
                <{foreach from=$Items name=fair item=item}>
				<div class="companylistcontent clearfix"">
					<div>
						<p><span class="span4"><a href="fair/detail.php?id=<{$item.id}>"><{$item.name}></a></span><span class="span5">(<{$Areas[1][$item.area_id1]}><{$Areas[2][$item.area_id2]}>)</span></p>
                        <br />
						<p class="ex_info"><{$item.description|strip_tags}></p>
					</div>
					<span class="span6"><{$item.begin_time|date_format:"%Y-%m-%d"}>至<{$item.end_time|date_format:"%Y-%m-%d"}></span>
				</div>
                <{/foreach}>
				<div class="companylistsubpage"><{$ByPages}></div>
			</div>
		</div>
        </div>
		<div class="companylistconright">
			<div class="lookcompany ex_choose">
				<div class="buymessagetop"><img src="<{$theme_img_path}>images/lhighs.gif" />按地区选择</div>
				<p>
                <{foreach from=$Areas[1] item=area_item key=area_key}>
					<a href="fair/list.php?areaid=<{$area_key}>"><{$area_item}></a><br />
                <{/foreach}>
				</p>
				<div class="clear"></div>
			</div>
			<div class="companylistsee ex_choose">
				<div class="buymessagetop"><img src="<{$theme_img_path}>images/lhighs.gif" />按分类选择</div>
				<p>
				<{foreach from=$Type item=item key=key}>
					<a href="fair/list.php?typeid=<{$key}>"><{$item}></a><br />
				<{/foreach}>
				</p>
				<div class="clear"></div>
			</div>
		</div>
		<div class="h7"></div>
<{include file="`$ThemeName`/footer.html"}>