<{assign var="page_title" value="取回密码"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
<div class="content">
<div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span>重新设置你的密码</div>
<div class="quhuimima">
		<div class="message"><img src="<{$theme_img_path}>images/quhuimima_07.jpg" /><span>重设密码</span><img src="<{$theme_img_path}>images/quhuimima_11.jpg" class="cirlepic"/></div>
		<div class="remessagecon">
		<form id="ResetFrm" name="reset_frm" method="post" action="getpasswd.php">
		<input type="hidden" name="data[username]" value="<{$username}>" />
		<input type="hidden" name="do" value="reset" />
		<input type="hidden" name="formhash" value="<{$formhash}>" />
		<p>请在下方输入必要的信息以便帮助你重新设置你的密码：</p><br />
		<label class="newpassword">
		  用户名验证：
		</label>
		<label>
		  <input type="text" value="<{$username}>" disabled />
		</label>
		<label class="reinput">
		  &nbsp;你的登录帐号
		</label><br clear="all" /><br />
		<p class="resetpassword">重设密码：</p><br />
		<label class="newpassword">
		  新密码：
		</label>
		<label>
		  <input type="password" name="data[password1]" id="password1" />
		</label>
		<label class="reinput">
		  &nbsp;输入你想设置的新密码
		</label><br clear="all" />
		<label class="newpassword">
		  &nbsp;再次输入新密码：
		</label>
		<label>
		  <input type="password" name="data[password2]" id="password2" />
		</label>
		<label class="reinput">
		  &nbsp;再次输入你想设置的新密码：
		</label><br clear="all" />
		<input type="button" name="Submit" value="提交并重设密码" class="submitpassword" onclick="return check();" />
		</form>
	</div>
</div>
<script>
function check(){
	if($("#password1").val()=="" || $("#password2").val()==""){
		alert("请输入正确的密码");
		return false;
	}else if($("#password1").val()!=$("#password2").val()){
		alert("前后密码输入不一致");
		return false;
	}else{
		$("#ResetFrm").submit();
	}
}
</script>
<{include file="`$ThemeName`/footer.html"}>