<{assign var="page_title" value="取回密码"}>
<{include file="`$ThemeName`/header.html"}>
<style type="text/css">  
label.error {
  font-weight: bold;
  color: #b80000;
}
</style>
<div class="warpper">
  <div class="content">
			<div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span>取回密码</div>
            <div class="base_title">
	   <h2><span class="title_name">填写信息</span><span class="title_telephone">如有注册问题，请联系我们：<{$service_tel}></span></h2>
	</div>
			<div class="quhuimima">

				<div class="messagecon">
					  <div class="messageconleft">
                      <form name="getpasswdfrm" id="getPasswdFrm" method="post" action="getpasswd.php" onsubmit="$('#GoNext').attr('disabled',true);">
                          <input type="hidden" name="action" value="getpasswd" />
                          <input type="hidden" name="formhash" value="<{$formhash}>" />
                        	<strong>请输入你的会员登录名及密码：</strong><br /><br />
                            <table class="messagecon_list">
                              <tr>
                                <th>您的登录名：</th>
                                <td><input type="text" name="data[username]" value="admin" id="dataMemberUsername" />&nbsp;你的登录名</td>
                              </tr>
                              <tr>
                                <th>你的Email信箱：</th>
                                <td><input type="text" name="data[email]" id="UserEmail" value="stevenchow811@163.com" />&nbsp;你的Email地址</td>
                              </tr>
                              <tr>
                                <th>&nbsp;</th>
                                <td><input type="submit" name="go_next" value="下一步，发送密码邮件" id="GoNext" onclick="return login(this);" /></td>
                              </tr>
                            </table>
						</form>
						</div>
						<img src="<{$theme_img_path}>images/quhuuimima04.jpg" />
						<div class="messageconright">
                        <{if $ERRORS}>
							<p><{$ERRORS}></p>
                        <{else}>
							<p>如果您忘记了密码：</p>
							<p>1.通过Email取回</p>
							<p>2.联系我们的客服：<{$service_tel}></p>
                        <{/if}>
						</div>
					</div>
			</div>
  </div>
</div>
<script language="javascript" src="scripts/jquery/validate.js"></script>
<script language="javascript" src="scripts/logging.js"></script>
<{include file="`$ThemeName`/footer.html"}>