	<div class="leftbar">
		<div class="h_tt1"><h2>公告中心</h2></div>
		<div class="h_c1">
			<ul>
				<{announce max=10}>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear13"></div>
		<div class="h_tt1 h_tt2"><h2>服务中心</h2></div>
		<div class="h_c1">
			<div class="str f13">客户服务电话<br /><{$servicetel}></div>
			<div class="clear"></div>
		</div>
		<div class="clear13"></div>
		<div class="h_tt1 h_tt3"><h2>建议与留言</h2></div>
		<div class="h_c1">
			<form action="mailto:<{$serviceemail}>">
			<p class="h_line1">
				<textarea name="user_question" rows="5" wrap="VIRTUAL" class="linehui">如有问题，请给我们留言！</textarea>
			</p>
			<p class="h_line1 h_line2">
				<input type="text" name="user_email" value="您的Email:" />
			</p>
			<p class="h_line3">
				<input type="submit" value="提 交" name="mail_question" class="str" />
			</p>
			</form>
		</div>
	</div>
