<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title><{$i.MarketName|strip_tags}><{if $i.MarketPicture!=""}>(有图片)<{/if}>&laquo;市场库&laquo;<{$sitetitle}></title>
<meta name ="keywords" content="<{$i.MarketName}>" />
<meta name="description" content="市场库名称<{$i.MarketName}>,描述<{$i.MarketContent|nl2br|replace:"\r\n":""|truncate:100}>" /> 
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>basic.css" />
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>style.css" />
</head>

<body>
<{assign var="market_li" value="cor over"}>
<{include file="`$ThemeName`/elements/header.html"}>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="25" class="corhui">&nbsp;<img src="<{$theme_img_path}>images/star.gif" width="15" height="13" align="absmiddle">您当前位置：<a href="<{$SiteUrl}>"><{$sitename}></a> &raquo; <a href="./index.php">市场库</a> &raquo; <{$i.MarketName}></td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
</table>
<div class="clear9"></div>
<div class="wd">
	<div class="sck_left1">
		<div class="bt gs_bt4"><h2>行业分类</h2></div>
		<div class="sck_c1">
			<{include file="`$ThemeName`/market_industry.html"}>
		</div>
	</div>
	<div class="sck_left2">
		<div class="bt gs_bt4"><h2><{$i.MarketName}></h2><p>&nbsp;</p></div>
		<div class="sck_c2">
			<p><{$i.MarketContent|nl2br}></p>
			<{if $i.MarketPicture!=""}>			
			<ul>
				<li><img src="<{if $i.MarketPicture!=""}>../attachment/<{$i.MarketPicture}><{else}><{$SiteUrl}>data/`$ThemeName`/big.jpg<{/if}>" width="272" height="193"></li>
			</ul>
			<{/if}>
			<div class="clear9"></div>
		</div>
		<div class="clear9"></div>
		<div class="bt sck_bt1"><h2>最新供求</h2></div>
		<div class="sck_c3">
			<ul class="ul21 ula">
			<{foreach from=$LatestTrades name=trade_latest item=t}>
				<li><p><a href="<{$SiteUrl}>offer/detail.php?id=<{$t.TradeId}>" title="<{$t.TradeTopic|strip_tags}>"><{$t.TradeTopic|strip_tags|truncate:30}></a></a></p><em>[<{$TradeTypes[$t.TradeTypeId]}>]</em></li>
			<{/foreach}>
			</ul>
		</div>
	</div>
	<div class="sck_left3">
		<div class="sck_ad4"><img src="<{$theme_img_path}>images/sck_155x350.jpg" /></div>
		<div class="clear9"></div>
		<div class="sck_ad5"><img src="<{$theme_img_path}>images/sck_155x85.jpg" /></div>
		<div class="clear9"></div>
		<div class="sck_ad6"><img src="<{$theme_img_path}>images/sck_155x235.jpg" /></div>
	</div>
</div>
<div class="clear15"></div>
<{include file="`$ThemeName`/elements/foot.html"}>
</body>
</html>
