<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>补充市场数据&laquo;市场库&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
<meta name="description" content="请在这里提交市场库的基本信息"> 
<script src="<{$JS_PATH}>js/prototype.js"></script>
<script src="<{$JS_PATH}>js/mixselect.js"></script>
<style>
.corblak {
	background:#EFF9FF
}
.menu_w14:link,.menu_w14:visited,.menu:hover,.menu:visited,.font14white,.font12yellow,.font14yellow,.font14blak {
	font-size:14px
}
.corhui {
	background:#f7f7f7
}
.corwhite,div.error_message_small {
	background:#fff
}
</style>
</head>

<body>
<{assign var="market_li" value="cor over"}>
<{include file="`$ThemeName`/element.header.html"}>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="25" class="corhui">&nbsp;<img src="<{$tpl_img_path}>default/star.gif" width="15" height="13" align="absmiddle">您当前位置：<a href="<{$SiteUrl}>"><{$sitename}></a> &raquo; <a href="./index.php">市场库</a> &raquo; 补充市场数据</td>
  </tr>
  <tr>
    <td height="5"></td>
  </tr>
</table>
<table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr align="center" valign="top">
    <td width="180" class="corhui"> 
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="center"><table cellSpacing=0 cellPadding=0 width="100%" border=0>
              <tbody>
                <tr> 
                  <td>		<div class="cpk_t1"></div>
		<div class="cpk_c2 cs_c2">
			<div class="bt cpk_bt1"><h2><label>按行业分类</label></h2></div>
			<{include file="`$ThemeName`/market_industry.html"}>
		</div>
</td>
                </tr>
              </tbody>
            </table></td>
        </tr>
        <tr>
          <td></td>
        </tr>
    </table></td>
    <td>
	<table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
        <tr>
        <td align="center">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td height="35" align="center" class="font14yellow"><h3 title="补充市场库">补充市场库</h3></td>
            </tr>
            <tr>
              <td height="12">
			  <table width="100%" height="1" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="corblak"></td>
                  </tr>
              </table>			  
			  </td>
            </tr>
        </table>		
		</td>
      </tr>
      
        <tr>
          <td align="center" class="corhui">
           <table width="100%"  border="0" cellpadding="3" cellspacing="1" class="corblak">
              <tr align="center">
                <td class="corwhite">
				<form name="marketfrm" id="marketFrm" action="<{$smarty.server.PHP_SELF}>" method="post">
				<input type="hidden" name="addmarket" value="1" />
				<table width="98%" border="0" align="center" cellpadding="0" cellspacing="5">
                  <tr>
                    <td colspan="2" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td height="35" align="center" class="font12yellow">请填写该市场的基本资料，点击提交，我们会尽快审核并添加该市场数据。</td>
                        </tr>
                        <tr>
                          <td height="12">&nbsp;</td>
                        </tr>
                    </table>					</td>
                  </tr>
                  <tr align="left" >
                    <td width="27%" class="corhui">市场名称：</td>
                    <td width="73%"class="corhui"><input type="text" name="market[name]" id="MarketName">                  </td>
                  </tr>
                  <tr align="left">
                    <td class="corhui">所在地区：</td>
                    <td class="corhui"><select name="provinceid" id="provinceid" USEDATA="dataSrc2" SUBCLASS="1"></select>
					<select name="cityid" id="cityid" USEDATA="dataSrc2" SUBCLASS="2">
                          </select></td>
                  </tr>
                  <tr align="left">
                    <td class="corhui">所在行业：</td>
                    <td class="corhui"><select name="aindustry" id="aindustry" USEDATA="dataSrc" SUBCLASS="1">

						</select><select name="bindustry" id="bindustry" USEDATA="dataSrc" SUBCLASS="2">

						</select></td>
                  </tr>
                  <tr align="left">
                    <td class="corhui">市场介绍：</td>
                    <td class="corhui"><textarea name="market[content]" rows="5" cols="35"></textarea></td>
                  </tr>
                  <tr align="left">
                    <td colspan="2" class="corhui"><div align="center">
                      <input name="image_button" type="button" id="addmarket" alt="提交" onclick="return checkFrm();" class="btn_xp" value="提交该市场库信息" />
                    </div></td>
                  </tr>
                  <tr>
                    <td height="20" colspan="2" align="center">&nbsp;</td>
                  </tr>
                </table>
				</form>
				</td>
          </tr>
        </table>
        </td>
      </tr>
      <tr>
        <td height="20" align="center">&nbsp;</td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
<script>
$("MarketName").focus();
function checkFrm(){
	if($F("MarketName")==""){
		alert("请输入市场名称");
		$("MarketName").focus();
		return false;
	}else{
		$("marketFrm").submit();
		return true;
	}
}
</script>
<script language="javascript">
var linkage2 = new Linkage("dataSrc2", "<{$JS_PATH}>data/xml/area.xml");
linkage2.BLANK_SELECT = "请选择地区";
linkage2.init();
var linkage = new Linkage("dataSrc", "<{$JS_PATH}>data/xml/industry_option.xml");
linkage.BLANK_SELECT = "请选择";
linkage.init();
</script>