<{assign var="page_title" value="`$page_title` - `$_offer_info`"}>
<{assign var="nav_id" value="`$nav_id`"}>
<{include file="`$ThemeName`/header.html"}>
  <div class="blank6"></div>
<div class="container">

	<div class="tips"><span><{$position}></span></div>
    <div class="blank6"></div>
	<div class="kinds">
		<p>
		<span><{$_sort_screening}></span>
		<{foreach from=$TradeTypes item="type_item" key="type_key"}>
		<a href="offer/list.php?<{$addParams}>typeid=<{$type_key}>" title="<{$type_item}>"><{$type_item}></a>
		<{/foreach}>
		</p>
		<p>
		<span><{$_industry_screening}></span>
		<{foreach from=$OtherIndustry name=subindustry item=item1}>
		<a href="offer/list.php?<{$addParams}>industryid=<{$item1.id}>" title="<{$item1.name}>"><{$item1.name}></a>
		<{foreachelse}>
		<a><{$_no_subclass}></a>
		<{/foreach}>
		</p>
		<form name="search_frm" id="OfferSearchFrm" action="" method="get">
		<p class="group2">
		<span><{$_fast_screening}></span>
		<label>
		<select name="industryid" onchange="$('#OfferSearchFrm').submit();">
			<option value="0"><{$_all_sort}></option>
			<{foreach from=$OtherIndustry name=byindustry item=item1}>
			<option value="<{$item1.id}>" <{if $item1.id eq $smarty.get.industryid}>selected="selected"<{/if}>><{$item1.name}></option>
			<{/foreach}>
		</select>
		</label>
		<label>
			<select name="areaid" onchange="$('#OfferSearchFrm').submit();">
				<option value="0"><{$_all_area}></option>
				<{foreach from=$OtherArea name=byarea item=item2}>
				<option value="<{$item2.id}>" <{if $item2.id eq $smarty.get.areaid}>selected="selected"<{/if}>><{$item2.name}></option>
				<{/foreach}>
			</select>
		</label>
		<label><input type="submit"  value="<{$_screening}>" class="submit"/>
		</label>
		<div class="clear"></div>
		</p>
		</form>
	</div>

<div class="qiugoucontent clearfix">
	<div class="qiugoucontentleft">
    <div class="base_title">
	   <h2><span class="title_name"><{$_search_result}></span></h2>
	</div>
		<div class="qiugouleftcon">
			<form>
            <table>
            <tr>
            <th class="offer_img"><{$_picture}></th>
            <th class="offer_info"><{$_offer}>/<{$_publisher}></th>
            <th class="offer_area"><{$_area}></th>
            <th class="offer_level"><{$_member_group}></th>
            <th class="offer_contact"><{$_contact_us}></th>
            </tr>
            <{foreach from=$Items name=offer item="item"}>
            <tr>
            <td class="offer_img"><img src="<{$item.image}>" border=0 alt="<{$item.title}>"></td>
            <td class="offer_info">
            <p><span class="blue"><a href="<{$item.url}>" title="<{$item.title}>"><{$item.title}></a></span><span class="gray">[<{$item.pubdate}>]</span></p>
            <p><{$_abstract}><{$item.content|truncate:100}></p>
            <p><{$_publisher}><span class="smallblue"><{if $item.companyname}><a href="space.php?userid=<{$item.userid}>"><{$item.companyname}></a><{else}><{$item.username}><{/if}></span></p>
           
            </td>
            <td  class="offer_area"> <p><{if $item.area_id1}><{$Areas[1][$item.area_id1]}><br /><{$Areas[2][$item.area_id2]}><{/if}></p></td>
            <td class="offer_level"><{if $item.gradename}><img src="<{$item.gradeimg}>" alt="<{$item.gradename}>" ><{/if}><span><{$item.im}></span></td>
            <td class="offer_contact"><span class="two">
                            <{if $item.companyname!=""}>
                            <a href="space.php?do=feedback&userid=<{$item.userid}>"><{$_station_message}></a>
                            <{else}>
                            <a href="office-room/pms.php?do=send&to=<{$item.username}>"><{$_send_message}></a>
                            <{/if}>
                </span>
             </td>
            </tr>
            	<{/foreach}>
            </table>

			<div>
				<span><{$ByPages}></span>
			</div>
			</form>
		</div>
	</div>
	<div class="qiugoucontentright">
		<div class="recommendcompany">
			<div class="recommendcompanytop"><img src="<{$theme_img_path}>images/lhighs.gif" />&nbsp;<{$_commend}><{$_offer}></div>
			<{offer row=10 type="commend" typeid=`$typeid`}>
			<p><a href="[link:title]">[field:title]</a></p>
			<{/offer}>
			<div class="clear"></div>
		</div>
		<div class="recommendcompany">
			<div class="recommendcompanytop"><img src="<{$theme_img_path}>images/lhighs.gif" />&nbsp;<{$_recommended_company}></div>
			<{company row=15}>
			<p><a href="[link:title]" title="[field:fulltitle]">[field:title]</a></p>
			<{/company}>
			<div class="clear"></div>
		</div>
</div>
</div>
<script>
$("#SearchFrm").attr("action","offer/list.php");
$("#topMenuOffer").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>