<{assign var="page_title" value="`$page_title` - 供求信息"}>
<{assign var="nav_id" value="`$nav_id`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
	<div class="content">
	<div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span><{$item.title}></div>
    <div class="blank6"></div>
    <div class="detailtopcon clearfix">
			<h3><{$item.title|strip_tags}></h3>
            <{if $item.picture}>
			<div class="detailtopconleft">
				<p class="left1"><img src="<{$item.image}>" width="80" height="80" /></p>
				<p class="left2"><a href="attachment.php?source=<{$item.image_url}>" target="_blank"><img src="<{$theme_img_path}>images/detail_17.jpg" alt="" /></a><span>放大图片</span></p>
			</div>
            <{/if}>
			<div class="detailtopconleft2">
				<p><{$item.title|strip_tags}></p>
				<p>发布时间：<{$item.pubdate}></p>
				<p>有效日期：<{$item.expdate}></p>
				<p>所在地区：<a href="offer/list.php?areaid=<{$item.area_id1}>" target="_blank"><{$Areas[1][$item.area_id1]}></a>&raquo;<a href="offer/list.php?areaid=<{$item.area_id2}>" target="_blank"><{$Areas[2][$item.area_id2]}></a></p>
                <p>所属行业：<a href="offer/list.php?industryid=<{$item.industry_id1}>" target="_blank"><{$Industry[1][$item.industry_id1]}></a>&raquo;<a href="offer/list.php?industryid=<{$item.industry_id2}>" target="_blank"><{$Industry[2][$item.industry_id2]}></a></p>
				<p>关键词：<{$item.tag}></p>
                <p> 
                 <form name="favor_frm" id="FavorFrm" action="office-room/favor.php" method="post" target="_blank">
                     <input type="hidden" name="id" value="<{$item.id}>" />
                     <input type="hidden" name="do" value="favor" />
					  <input type="button" name="favor" value="加入收藏"  class="btn_submit" id="favor" onclick="$('#FavorFrm').submit();" />
				  <{if $pb_username}>
					  <input type="button" name="edit" value="我要编辑"  class="btn_submit" onclick="redirect('../office-room/offer.php?do=edit&id=<{$item.id}>');" />					
                    <{/if}>
                     </form>
 
                    </p>
			</div>
			<div class="detailtopconright">
				<p class="right1"><{if $item.companyname}>
<a href="space.php?userid=<{$item.space_name}>" target="_blank" title="<{$item.companyname}>"><{$item.companyname}></a><{else}>该信息为个人会员发布<{/if}></p>
				<p>联系人： <{$item.link_people}></p>
				<p>会员类型：<img src="<{$MEMBER.groupimage}>" alt="<{$MEMBER.groupname}>" /></p>
				<p>信誉指数：<{$MEMBER.credits}></p>
				<p>认证类型：<{$MEMBER.trust_image}></p>
			</div>
		</div>
     <div class="blank6"></div>
	<div class="detailtop3">
		<div class="detailtop3left">
			<h3><img src="<{$theme_img_path}>images/lhighs.gif" alt="" />详细说明</h3>
			<div class="detailtop3leftcon">
				<table width="578" border="0">
                <{foreach from=$ObjectParams name=op item=tparam}>
					<tr>
					  <td class="tableblue"><{$tparam.label}></td>
					  <td classs="lightblue"><{$tparam.value}></td>
				</tr>
               	<{/foreach}>
			   </table>
               <{$item.content|nl2br}>
			</div>				
		</div>
		<div class="detailtop3right">
            <{if !$LoginCheck && $pb_username==""}>
			<div class="contacttype">
            <form name="loggingfrm" id="LoggingFrm" method="post" action="logging.php?forward=<{$forward}>">
                <input type="hidden" name="action" value="logging">
                <input type="hidden" name="formhash" value="<{$formhash}>">
				<p class="right1">请您登陆后查看联系方式</p>
				<p>用户名：<input name="data[login_name]" type="text" /></p>
				<p>密　码：<input name="data[login_pass]" type="password" /></p>
				<p><input type="button" name="login" value="登陆" /></p>
            </form>
			</div>
            <{else}>
			<div class="contacttype">
				<h3><img src="<{$theme_img_path}>images/lhighs.gif" />联系方式</h3>
				<p>地址：<{$item.address}><br /> 
				   邮编：<{$item.zipcode}><br /> 
				   电话：<{$item.tel}><br />
				   传真：<{$item.fax}><br /> 
				   网址：<{$item.site_url}></p>
			</div>
            <{/if}>
			<div class="contacttype">
				<h3><img src="<{$theme_img_path}>images/lhighs.gif" alt="" />该会员发布的其他信息</h3>
				<ul>
                	<{offer memberid=`$item.member_id` row=10}>
					<li><span class="title"><a href="[link:title]" title="[field:fulltitle]">[field:title]</a></span><span class="type"><a target="_blank" href="offer/list.php?typeid=[field:typeid]">[[field:typename]]</a></span></li>
                    <{/offer}>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<script>
$("#SearchFrm").attr("action","offer/list.php");
$("#topMenuOffer").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>