<{assign var="page_title" value="`$page_title`"}>
<{assign var="nav_id" value="5"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
	<div class="content">
		<div class="price">
			<h3><img src="<{$theme_img_path}>images/price_03.jpg" /><span class="pricecon"><img src="<{$theme_img_path}>images/lhighs.gif"  class="pricepic"/><span>询价步骤：</span><img src="<{$theme_img_path}>images/gongqiu05.gif" /><span class="spellprice">填写询价信息</span><img src="<{$theme_img_path}>images/gongqiu06.gif" /><span>询价成功</span></span><img src="<{$theme_img_path}>images/price_07.jpg" /></h3>
			
		</div>
		<div class="pricecontent">
			<form name="xunjiafrm" action="<{$smarty.env.PHP_SELF}>" method="post">
			<input type="hidden" name="id" value="<{$smarty.get.id}>">
			<input type="hidden" name="to_member_id" value="<{$item.member_id}>">
			<input type="hidden" name="formhash" value="<{$formhash}>">
			<input type="hidden" name="do" value="inquery">
			<p>接收方：</p>
			<div class="content1">
				<img src="<{$item.image}>" alt="" />
				<p>产品名称: <a href="product/content.php?id=<{$item.id}>" target="_blank"><{$item.name}></a><br />
					联系人： <{$CompanyUser}>
				</p>
				<div class="clear"></div>
			</div>
			<p>询价内容：</p>
			<div class="content2">
				
				  <label class="title">我要留言的标题：</label>
				  <label class="text">
				  <input name="title" type="text" value="我对您在<{$site_name}>发布的产品<{$item.names}>很感兴趣" size="45" />
				  </label><br />
				  <div class="clear"></div>
				  <label class="title">补充信息：</label>
				  <label>
				  <textarea name="inquery[content]" class="textaera2"></textarea>
				  </label>
				 <div class="clear"></div>				
			</div>
			<p>我的联系方式：</p>
			<div class="content3">
				<label class="name">姓名：</label>
				<label>
				<input type="text" name="inquery[link_man]" />
				</label><br />
				<div class="clear"></div>
				<label class="name">电子邮箱：</label>
				<label>
				<input name="inquery[link_email]" id="LinkEmail" type="text">
				</label><br />
				<div class="clear"></div>
				<label class="name">联系电话：</label>
				<label>
				<input type="text" name="inquery[link_tel]" id="telnumber" value="">
				</label><br />
				<div class="clear"></div>
				<label>
				<input type="submit" value="我要询价" name="submit" id="Submit" />&nbsp;<input type="reset" value="取 消" />
				</label>
				<div class="clear"></div>	
			</div>
			</form>
		</div>
	</div>
</div>
<script>
$("#SearchFrm").attr("action","product/list.php");
$("#topMenuProduct").addClass("lcur");
</script>
<{include file="`$ThemeName`/footer.html"}>