* { padding:0; margin:0; font-size:12px;}
body, th, td, input, select, textarea { font: 12px/1.5em Verdana, "Lucida Grande", Arial, Helvetica, sans-serif; }
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, form, img,fieldset { margin: 0; padding: 0;border:none; list-style-type:none; }
h1, h2, h3, h4, h5, h6 { font-size: 1em; }
ul li { list-style: none; }
select { margin:0px 2px 3px 0; }
a:link,a:visited{ color:#333; text-decoration:none;}
a:hover { color: #0033FF}
a img { border: none; }
em { font-style:normal;}
div{margin:0 auto; padding:0;}
table {border-collapse:collapse;} 
/*table td {padding:0;} */
.clearfix:after{content:"."; display:block; height:0; clear:both;visibility:hidden;}
*html .clearfix{ height:1%;}
*+html .clearfix{ height:1%;}

.mauto{ margin:0px auto;}.fl{ float:left;}.fr{ float:right;}
.co01{ color:#EF700A;}.tar{ text-align:right;}
.content{ width:960px;}.cb{ clear:both;}
.mt10{ margin-top:10px;}.mr15{ margin-right:15px;}.mr7{ margin-right:10px; display:block; overflow:hidden}
.whitespace,.h7{ height:6px; clear:both; overflow:hidden;margin:0 auto;}
.h7{width:auto;}
.clear { clear:both; height:0px; display:block; visibility:hidden; _line-height:0px;}
.blank { height:10px; clear:both; display:block; overflow:hidden;}
.font14 {color:#1983bb; font-size:14px; font-weight:bold;}
.blank5 {height:5px; clear:both; display:block; overflow:hidden;}
.blank6 {height:6px; clear:both; display:block; overflow:hidden;}
.raquo {font-family: Helvetica; font-size:14px;}
.txt_input { padding:2px 3px; border:1px solid #BDBEC2; width:180px;}
.red a { color:#FF0000}
.gray { color:#666666}
/*header*/
.headtop{height:22px; width:968px; padding-left:10px; padding-top:5px; border:1px solid #ECF3F9; background:url(images/headerbg_01.jpg);}
.headtopcon{height:22px; width:968px; }
.headtopcon a:link,.headtopcon a:visited,.headtopcon a:hover{ float:left; text-decoration:none; color:#333; margin-right:10px;}
.headtopcon em{ float:left; margin-left:110px; display:block; overflow:hidden}
.index{ background:url(images/startpagebg.jpg) no-repeat left 3px; padding-left:18px;}
.addresslink{ background:url(images/headerbg_02.jpg) no-repeat right 3px; padding-right:14px;}
.register{color:#EF700A;}
.logobg{height:76px;}
.logobox{ width:675px; height:62px; padding-top:15px;}
.logobox_r{ width:470px;}
.logobox_r ul{ padding-left:30px;}
.logobox_r li { float:left}
.logobox_r li a { cursor:pointer; font-weight:bold; margin:0 1px 0 0; text-align:center; width:60px; height:24px; line-height:24px;background:url(images/lnav.jpg) no-repeat; display:block; overflow:hidden }
.logobox_r li.lcur a {background: url(images/lcur.jpg) no-repeat;width:60px; height:24px; line-height:24px;display:block; overflow:hidden}

.lhighs{ background:url(images/lhighs.jpg) no-repeat left 5px; color:#333333; text-decoration:none; padding-left:10px; margin-left:20px; margin-top:5px;}
.lcbg{ background: url(images/searchbj.gif) no-repeat ; height:32px; padding-left:10px; margin:0}
.searchcont input{ background: url(images/searchbg.jpg) #fff no-repeat 295px 1px; width:315px; border:1px solid #ccc; color:#CCC; padding:2px 0 0 3px;margin:4px 0 0 5px; height:17px; overflow:hidden}
.lcbg button {width:96px; height:24px; font-weight:bold; border:none;  cursor:pointer;background:transparent none repeat scroll 0 0; padding:6px 0 0 0}
.searchbtn{ width:69px; height:24px; background:url(images/searbtn.jpg) #fff 1px -1px; font-weight:bold; border:none;  cursor:pointer; }
.container{width:960px;margin:0 auto;}
/*footer*/
.footer { width:960px; margin:0 auto;}
.ins{height:125px; width:960px; background:url(images/ins.jpg) repeat-x 0 bottom; text-align:center; color:#666; line-height:22px; padding:10px 0 0 0}
.ins a:link,.ins a:visited{color:#000; white-space:nowrap;}
.ins a:hover{color:#000; text-decoration:underline; white-space:nowrap;}
.ins span{margin:0px 7px;color:#000;}
.friend_link {background:url(images/pardenttit.jpg) no-repeat left 5px; padding:0 0 0 10px; width:65px; font-weight:bold; height:25px;}
.friend_link_content { padding:0 0 0 10px; height:25px;}

