<{assign var="page_title" value="客户服务条款"}>
<{assign var="nav_id" value="`$nav_id`"}>
<{include file="`$ThemeName`/header.html"}>
<div class="warpper">
	<div class="content">
		<div class="tips"><img src="<{$theme_img_path}>images/lhighs.jpg" /><span><{$position}></span></span>客户服务条款</div>
		<div class="servicecon">
			<div class="serviceconleft">
				<h1>客户服务条款</h1>
				<p>各会员等级的具体服务内容如下：<br /> 

					金牌会员 <br /> 
					1. 订制、浏览网站每日更新涉及43个行业的专业采购信息；<br />  
					2. 拥有超过42万家海外买家信息； <br /> 
					3. 使用多模板的商铺功能、发布和修改企业及商品信息，在商务部广交会专门网站展示企业文化、商品形象，随时随地供对华贸易采购商查询参考；<br />  
					4. 企业和商品信息进入中国供应商光盘，由商务部206个驻外经商参处及世界各著名展会向海外买家强力推荐； <br /> 
					5. 使用“在线声像洽谈平台”，与世界各地的商务伙伴进行面对面的商务交流； <br /> 
					6. 使用在线交易功能实现在线询价、在线报价以及订单管理,降低交易成本；<br />  
					7. 利用商务留言、商机情报、商务伙伴等工具方便快捷的进行商务交流与商务信息的收集；<br />  
					8. 获得有关广交会的最新资讯和参展指南； <br /> 
					9. 供求速配：买方、卖方轻松找对方，我们将通过在线广交会平台，结合多种信息渠道为金牌会员寻找适合的贸易伙伴；同时，还将根据金牌会员企业各自不同的服务需求，推送符合其个性化交易业务的贸易机会信息；<br />  
					10. 排名优先：您发布的企业、商品信息享有关键字搜索排序靠前的特权，让海外采购商最先发现您；<br />  
					11. 在线广交会推荐：获得在线广交会金牌企业资格，明显推荐标志，让买家更放心。并赠送网站首页显著位置线上推荐一周，大大提高您在全球买家中的曝光率；<br />  
					12. 现场需求推送：我们将为您整理广交会现场海外客商的即时需求，及其在华联系方式，广交会期间每日以邮件方式发送到您的指定邮箱，现场商机尽在掌握；<br />  
					13. 电子媒体推广：金牌企业产品及企业形象大幅广告发布于英文电子刊物《中国金牌出口企业名录》，由商务部206个驻外经商参处及世界各著名展会向海外买家强力推荐。<br />  
					  
					
					普通会员 <br /> 
					1. 订制、浏览网站每日更新涉及43个行业的专业采购信息；<br />  
					2. 拥有超过42万家海外买家信息； <br /> 
					3. 使用多模板的商铺功能、发布和修改企业及商品信息，在商务部广交会专门网站展示企业文化、商品形象，随时随地供对华贸易采购商查询参考；<br />  
					4. 企业和商品信息进入中国供应商光盘，由商务部206个驻外经商参处及世界各著名展会向海外买家强力推荐； <br /> 
					5. 使用“在线声像洽谈平台”，与世界各地的商务伙伴进行面对面的商务交流； <br /> 
					6. 使用在线交易功能实现在线询价、在线报价以及订单管理,降低交易成本；<br />  
					7. 利用商务留言、商机订阅、商务伙伴等工具方便快捷的进行商务交流与商务信息的收集；<br />  
					8. 获得有关广交会的最新资讯和参展指南。 <br /> 
					  
					
					免费会员 <br /> 
					1. 发布和修改企业信息，在商务部广交会专门网站展示企业文化；<br />  
					2. 发布供求信息。 <br /> 
					  
					
					费用：会费缴纳事宜请与所属交易团或代表处联系。 </p>
			</div>
			<div class="serviceconright">
				<img src="<{$theme_img_path}>images/service03.jpg" />
				<div class="serviceconrightcon">
					<h3><img src="<{$theme_img_path}>images/companylhighs.gif" />给我们留言：</h3>
尊敬的用户：对于您提交的意见或建议，我们尽可能在三个工作日之内给您答复，请留意您的邮箱，并认真阅读邮件内容。</p><br />
					<p>温馨提醒：<br />
客服热线：<{$service_tel}><br />
Email信箱：<span><{mailto address="$service_email" encode="javascript"}></span></p>
				</div>
				<img src="<{$theme_img_path}>images/service01.jpg" />
			</div>	
			<div class="clear"></div>		
		</div>
	</div>
</div>
<{include file="`$ThemeName`/footer.html"}>