<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title><{$pageTitle}></title>
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>basic.css" />
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>style.css" />
</head>

<body>
<{assign var="sell_li" value="cor over"}>
<{include file="`$ThemeName`/elements/header.html"}>
<div class="wd rmgjz mbx">
	<p><span class="str">您当前位置：</span><{$pagePosition}>
</div>
<div class="clear9"></div>
<div class="wd">
	<div class="cp_left2">
		<div class="cp_tab1">
			<p class="cp_p1"></p><p class="cp_p1 cp_p2"></p><p class="cp_p1 cp_p3"></p><p class="cp_p1 cp_p4"></p>
			<div class="bt cp_bt4"><h2 class="f12">按类目选择</h2></div>
			<ul class="cp_ul2">
			<{foreach from=$OtherIndustry name=otherind item=item}>
				<li><a href="<{$SiteUrl}>offer/list.php?industryname=<{$item.Name|urlencode}>" title="<{$item.Name}>"><{$item.Name}></a><em>(<{$item.BuyAmount}>)</em></li>
			<{foreachelse}>
				<li>该分类下无子分类</li>
			<{/foreach}>
			</ul>
		</div>
		<div class="clear9"></div>
		<div class="cp_tab2">
              <form name="product_search_frm" action="./list.php?sid=<{$smarty.get.sid}>" method="get">
			  <input type="hidden" name="industryname" value="<{$smarty.get.industryname}>" />
			<p class="cp_p7">
				<em>按行业</em>
				<select name="sid" onchange="location.href='list.php?sid='+this.options[this.selectedIndex].value+'&areaid=<{$smarty.get.areaid}>'">
					<option value="0">不限</option>
					<{foreach from=$Industries name=Industries item=item key=key}>
					<option value="<{$key}>" <{if $key==$smarty.get.sid}>selected="selected"<{/if}>><{$item}></option>
					<{/foreach}>
				</select>
				<em>按地区</em>
				<select name="areaid" onchange="location.href='list.php?industryname=<{$smarty.get.sid}>&areaid='+this.options[this.selectedIndex].value;">
					<option value="0">不限</option>
					<{foreach from=$Areas name=Areas item=item key=key}>
					<option value="<{$key}>" <{if $key==$smarty.get.areaid}>selected="selected"<{/if}>><{$item}></option>
					<{/foreach}>
				</select>
			</p>
			</form>
		</div>
		<div class="clear9"></div>
		<div class="cp_tab4">
			<ul class="cp_ul3">
				<li class="li1">图例</li>
				<li class="li2"><p>供应信息/公司</p></li>
				<li class="li3">会员等级</li>
				<li class="li3">信誉度指数</li>
				<li class="li3">在线联系</li>
			</ul>
<!-- 列表供求 -->
<{section name=t loop=$Lists}>
			<ul class="cp_ul4">
				<li class="li1"><img src="<{if $Lists[t].TradePicture}><{$attachment_url}><{$Lists[t].TradePicture}>.small.jpg<{else}><{$SiteUrl}>images/nopic.small.gif<{/if}>" border=0 alt="<{$Lists[t].Name}>" width="96" height="72"></li>
				<li class="li2">
					<a href="detail.php?id=<{$Lists[t].ID}>" class="f14 str" title="<{$Lists[t].Name}>"><{$Lists[t].Name|truncate:25|replace:$smarty.get.skeyword:$searchwords}></a><em><{$Lists[t].PublishTime|date_format:"%Y-%m-%d"}></em>
					<p><{if $Lists[t].PrimTel==1}><img src="<{$theme_img_path}>images/mobile.gif" alt="有手机"><{elseif $Lists[t].PrimTel!=''}><img src="<{$theme_img_path}>images/tel.gif" alt="有电话"><{/if}>
            <br />
            <{$Lists[t].Content|strip_tags|truncate:100}></p>
					<span class="str">发布者：<{$Lists[t].OfferCompanyName|default:"个人发布"}></span>
					<{if $Lists[t].OfferCompanyName!=""}><a href="<{$UrlContainer.common}>space.php?do=feedback&userid=<{$Lists[t].MemberUsername}>" class="cp_a3 cp_a4">给我留言</a><{/if}>
				</li>
				<li class="li3"><img src="<{$theme_img_path}>images/grade/<{$Lists[t].CreditLevel|default:"1"|cat:".gif"}>"></li>
				<li class="li3"><em class="str"><img src="<{$theme_img_path}>images/type/<{$Lists[t].Membertype|default:"default"}>.gif"></em></li>
				<li class="li3"><{if $Lists[t].prim_im==1 && $Lists[t].prim_imaccount!=""}><a target="_blank" href="http://wpa.qq.com/msgrd?V=1&Uin=<{$Lists[t].prim_imaccount}>&Site=<{$SiteUrl}>&Menu=yes"><img src="http://wpa.qq.com/pa?p=1:<{$Lists[t].prim_imaccount|default:#ServiceQQ#}>:8" alt="<{$Lists[t].prim_imaccount}>" border="0" align="absmiddle" ></a><{elseif $Lists[t].prim_im==3}><img src="<{$theme_img_path}>images/im_msn.gif" alt="<{$Lists[t].prim_imaccount}>"><{elseif $Lists[t].prim_im==4}><img src="<{$theme_img_path}>images/im_yahoo.gif" alt="<{$Lists[t].prim_imaccount}>"><{elseif $Lists[t].prim_im==5}><img src="<{$theme_img_path}>images/im_skype.gif" alt="<{$Lists[t].prim_imaccount}>"><{/if}></li>
			</ul>
<{/section}>
<!-- 列表供求结束 -->
			<div class="cp_page f14"><{$ByPages}></div>
		</div>
	</div>
</div>
<div class="clear15"></div>
<{include file="`$ThemeName`/elements/foot.html"}>
</body>
</html>
