<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>新会员注册&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/basic.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$tpl_img_path}>default/style.css" />
<style>
.corred {
	background: #F4FBFF;
}
.font12,a:link,.menu:link,.linkwhite12:link,.linkred12:link,td,.font12white,.time,.btn,.font12yellow {
	font-size:12px
}
a:link,td,.time {
	line-height:normal
}
.time {
	color:#666
}
.font12,a:link,.menu:link,.linkwhite12:link,.linkred12:link,td,.font12white,.time,.btn,.font12yellow {
	font-size:12px
}
</style>
<{$xajax_javascript}>
<script language="javascript">
xajax_rebuildHTML("user/index.php");
</script>
</head>

<body>
<{assign var="room_li" value="cor over"}>
<{assign var="if_searchbar" value="n"}>
<{include file="`$ThemeName`/element.header.html"}>
<div class="wd rg_wd1">
	<div class="rg_left1">
		<table width="960"  border="0" align="center" cellpadding="0" cellspacing="5" >
		  <tr class="corhui"> 
			<td height="32"><div align="right"> 
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr> 
					<td>
					<span class="font15"><img src="<{$tpl_img_path}>default/icon03.gif" width="11" height="11"><{$sitename}>会员注册步骤一：选择注册类型</span>　　　　　　　　　　　　　　　　　　　　　
					</td>
				  </tr>
				</table>
			  </div></td>
		  </tr>
		  <tr> 
			<td valign="top" class="font12"><div align="center"><span class="time">请选择您要注册的会员类型，以便我们能够更好地为您服务！</span></div></td>
		  </tr>
		  <tr> 
			<td> 
			  <table width="100%"  border="0" cellpadding="5" cellspacing="2">
				<tr> 
				  <td width="50%" align="right"><a href="<{$UrlContainer.register}>?ob=personal"><img src="<{$tpl_img_path}>default/reg_type1.gif" border="0"></a></td>
				  <td><a href="<{$UrlContainer.register}>?ob=company"><img src="<{$tpl_img_path}>default/reg_type2.gif" border="0"></a></td>
				</tr>
				<tr> 
				  <td width="50%" align="left" class="corred"><li>您可以在本网免费发布供应信息、求购信息</li></td>
				  <td width="50%" align="left" class="corred"><li>您可以拥有自己的企业网站、可以建立自己的产品库</li>
				  <li>您可以自由发布招聘信息</li>
				  </td>
				  </tr>
				<tr>
				  <td colspan="2" align="left" class="corred"><{$SiteDescription}></td>
				</tr>
			  </table>
			</td>
		  </tr>
		</table>
	</div>
</div>
<div class="clear15"></div>
<{include file="`$ThemeName`/element.foot.html"}>
</body>
</html>
