<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<{$Charset}>" />
<title>个人会员注册&laquo;<{$sitetitle}></title>
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>basic.css" />
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>head_foot.css" />
<link rel="stylesheet" type="text/css" href="<{$theme_img_path}>style.css" />
<script src="<{$JS_PATH}>js/prototype.js"></script>
<{$xajax_javascript}>
</head>

<body>
<{assign var="room_li" value="cor over"}>
<{assign var="if_searchbar" value="n"}>
<{include file="`$ThemeName`/elements/header.html"}>
<div class="wd rg_wd1 rg_wd">
	<p class="rg_p1"></p><h2 class="rg_bt1">step1、填写基本信息</h2><h2 class="rg_bt2">step2、注册完成</h2><p class="rg_p2"></p>
</div>
<div class="clear9"></div>
<div class="wd rg_wd1">
	<div class="rg_left1">
		<div class="bt rg_bt3"><h2 class="f12">您的账号信息</h2><p></p></div>
		<form name="regfrm" id="regfrm" method="post" action="<{$UrlContainer.register}>" autocomplete="off">
		<input type="hidden" name="register" value="personal" />
		<input type="hidden" name="forward" value="<{$smarty.get.forward}>" />
			<div class="rg_c1">
				<div class="clear15"></div>
				<p class="rg_p3">
					<label for="rg_name">用户名：</label>
					<input type="text" name="data[Member][username]" id="membername" maxlength="15" value="<{$smarty.post.membername}>" />
					<em id="membernameDiv">5-20字(A-Z,a-z, 0-9,下划线)</em>
				</p>
				<p class="rg_p3">
					<label for="rg_pass">密码：</label>
					<input type="password" name="data[Member][memberpass]" class="linehui" id="memberpass" maxlength="20" value="">
					<em>6-20位</em>
				</p>
				<p class="rg_p3">
					<label for="">确认密码：</label>
					<input name="re_memberpass" type="password" class="linehui" id="re_memberpass" value="">
					<em>重复输入密码</em>
				</p>
		<{if $ForumSet.switch}>
				<p class="rg_p3">
					<label for="">加入商业论坛：</label>
					<input type="radio" name="join_forum" value="1" checked="checked" class="rg_in1">是<input type="radio" name="join_forum" value="0" class="rg_in1">否
				</p>
		<{/if}>
<{if $IfInviteCode}>
				<p class="rg_p3">
					<label for="">邀请码：</label>
					<input name=data[invite_code] class="linehui" id=invite_code size="30" maxLength=15>
				</p>
<{/if}>
				<div class="clear15"></div>
				<div class="bt rg_bt4"><h2 class="f12">个人基本信息及联系方式</h2><p></p></div>
				<div class="clear15"></div>
				<p class="rg_p3">
					<label for="">真实姓名：</label>
					<input name=data[Member][lastname] class="linehui" id=member_lastname size="30" maxlength=20>
				</p>
				<p class="rg_p3 rg_p4">
					<label for="">性别：</label>
					<input name="data[Member][gender]" type="radio" value="1" checked>
            <em>男</em>
              <input type="radio" name="data[Member][gender]" value="2">
            <em>女</em>
            <input name="data[Member][gender]" type="radio" value="0">
            <em>保密</em>
				</p>
				<p class="rg_p3 rg_p5">
					<label for="">Email邮箱：</label>
					<input name="data[Member][email]" class="linehui" id="member_email" value="" maxLength=100 />
					<label id="memberemailDiv"></label>
				</p>
				<p class="rg_p3">
					<label for="">固定电话：</label>
					<input name=data[Member][tel] class="linehui" id=member_tel size="30" maxLength=15>
				</p>
				<p class="rg_p3">
					<label for="">手机号码：</label>
					<input name=data[Member][mobile] class="linehui" id=member_mobile size="30" maxLength=15>
				</p>
<{if $IfRegisterPicture==1}>
				<p class="rg_p3 rg_p8">
					<label for="">验证码：</label>
					<input name="login_auth" id="login_auth" type="text" value="" size="4" maxlength="4">
					<img src="../auth_image.php">
					<em>输入四位数验证码</em>
				</p>
<{/if}>
				<p class="rg_p3 rg_p8">
					<label for="">阅读协议：</label>
					<em><a href="<{$UrlContainer.artical}>" title="<{$sitename}> 服 务 条 款" target="_blank">点此阅读会员注册服务条款</a></em>
				</p>
				<p class="rg_p3 rg_p10">
					<label for=""></label>
					<input type="button" name="Submit" id="Submit" value="立即注册" class="str" />
				</p>
				<div class="clear15"></div>
			</div>
			<div class="rg_bot1"></div>
		</form>
	</div>
	<div class="rg_right1">
		<div class="bt rg_bt3 rg_bt5"><h2 class="f12">注册成为会员有什么好处？</h2><p>&nbsp;</p></div>
		<div class="rg_c1 rg_c2">
			<div class="clear9"></div>
			<ul class="ul21">
				<li>发布产品供求信息，让生意自动找上门</li>
				<li>发布公司介绍，提升企业知名度</li>
				<li>申请企业旺铺，量身打造全能企业网站</li>
				<li>交商友，看商铺，时刻掌握行业最新资讯</li>
			</ul>
			<div class="clear9"></div>
			<div class="bt rg_bt4 rg_bt6"><h2 class="f12">本站简介</h2></div>
			<div class="rg_xx">
				<p><{$sitedescription}></p>
			</div>
		</div>
		<div class="rg_bot1 rg_bot2"></div>
	</div>
</div>
<div class="clear15"></div>
<script type="text/javascript">
function hideorshow(curDiv){
$(curDiv).style.display = ($(curDiv).style.display == 'block')? 'none':'block';
}

function IsURL(urlString)
{
	regExp = /(?:(?:http[s]?|ftp):\/\/)?[^\/\.]+?\.[^\.\\\/]+?\.\w{2,}$/i;
	if (urlString.match(regExp))return true;
	else return false;
}

function checkreg(){
	if($F('membername')==""){
		alert("用户名必须填写");
		$('membername').focus();
		return false;
	}
	if(!(/^[a-zA-Z][a-zA-Z0-9_]{4,21}$/.test($F('membername')))){
		alert("用户名必须字母开头，允许5-20字节，允许字母数字下划线");
		$('membername').focus();
		return false;
	}
	
	if($F('memberpass')==""){
		alert("请输入密码");
		$('memberpass').focus();
		return false;
	}
	if($F('re_memberpass')==""){
		alert("请再次输入密码");
		$('re_memberpass').focus();
		return false;
	}
	if($F('memberpass') != $F('re_memberpass')){
		alert("前后密码输入不一致");
		$('memberpass').focus();
		return false;
	}

	if($F('member_email')==""){
		alert("请输入您的Email");
		$('member_email').focus();
		return false;
	}
	if(chkemail($F('member_email')) == 0){
		alert("您的Email格式输入有误!");
		$('member_email').focus();
		return false;
	}else if(!(/^[a-zA-Z0-9_\-]{1,}@[a-zA-Z0-9_\-]{1,}\.[a-zA-Z0-9_\-.]{1,}$/.test($F('member_email')))) {
		alert("您的Email格式输入有误!");
		$('member_email').focus();
		return false;
	}
	<{if $IfRegisterPicture}>
	if($F('login_auth')==""){
		alert("请输入验证码，不区分大小写");
		$('login_auth').focus();
		return false;
	}
	<{/if}>
	$("Submit").disabled = true;
	document.regfrm.submit();
}
addEvent($("member_email"), "blur", function checkEmail(){
	xajax_checkMemberEmail($F('member_email'));
});
addEvent($("membername"), "blur", function checkName(){
	xajax_checkName($F('membername'));
});
addEvent($("Submit"), "click", function doRegister(){
	return checkreg(this);
});
</script>
<{include file="`$ThemeName`/elements/foot.html"}>
</body>
</html>
